body{
    margin:0px;
    padding:0px;
    font-family: 'Trebuchet MS',Arial !important;
    font-size: 12px !important;
    -background: url(../img/rainbow.jpg) repeat-x fixed;
    -background: url(../img/bg.jpg) repeat-x fixed;
    background: url(../img/greebg.jpg)  no-repeat center center fixed;
    -background: url(../img/bluebg.jpg)  no-repeat center center fixed;
    background-size: cover;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.app_window{
    background: url(../img/window-bg.png) repeat-x;
}
a{
    text-decoration: none;
    color:#0099FF;
}
a:hover{
    border-bottom: dashed 1px #09f;
}

.inp_rule{
    border-bottom: 1px solid #ccc;
    color:#069;
    margin: 10px;
    clear: both;
}
.inp_group{
    display: inline-block;
    vertical-align: top;
    -width:320px;
    width:auto;
    min-height: 25px;
    margin: 2px;
}
.inp_group label{
    white-space: nowrap;
}
.inp_group label b{
    white-space: normal;
}
.inp_group b{
    display: inline-block;
    width:100px;
    text-align: right;
    padding-right: 2px;
    padding-top: 3px;
    font-weight: normal;
}
input,select,textarea{
    color: #056;
    border: 1px solid #95b8e7;
    padding: 2px 4px 2px 4px;
    -margin-left: -2px;
    width:209px;
    vertical-align:top;
    font-size: 12px;
}
input[type=checkbox]{
    width: 20px;
}
input:hover,textarea:hover{
    -background: #e0f3ff;
    -border-color:#acf;
}
fieldset{
    display: inline-block;
    width:350px;
    padding: -2px;
}
fieldset .inp_group b{
    -width:75px;
}
select{
    padding:0px;
    width: 209px;
}
option{
    padding: 1px;
    border-bottom: 1px solid #ace;
}
button, .gray_grad, .light_grad{
    border: 1px solid #759dc0;
    padding: 2px 4px 4px 4px;
    color: #000000;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #bcd8f4;
    background-repeat: repeat-x;
    background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    transition-property: background-color;
    transition-duration: 1s;
}
button:hover, .gray_grad:hover, .light_grad:hover{ 
    background-color: #86bdf2;
    color: #000000;
    transition-duration: 0.5s;
}
button:active{
    background-color: #86bdf2;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.1s;
}
button:disabled{
    background-image: none;
    outline: none;
    opacity: 0.5;
}
button img{
    vertical-align: middle;
}
.tiny_button{
    padding: 0px;
    border-radius: 0px;
}
.tiny_button img{
    width:16px;
    height: 16px;
}
#error{
    margin: 10px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}
#error h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}
#holder_user_panel{
    display: inline-block;
    cursor: pointer;
    float: right;
    position: relative;
    z-index: 100;
}
#holder_user_panel div{
    padding: 5px;
}
#holder_user_panel:hover #div_user_panel{
    display: block;
}

.panel.combo-p .combo-panel{
    height: unset !important;
    border: 1px solid #95B8E7;
    padding: 6px 0px;
    max-height: 400px;
} 

.panel.combo-p .combo-panel .combobox-item{
    border-bottom: 1px solid #D1DEF0;
} 

.combobox-item-selected {
    background-color: #65b5da !important;
    color: #fff !important;
    font-weight: bold;
}

#div_user_panel{
    position: absolute;
    top:40px;
    right: 0px;
    width: 250px;
    height: 90px;
    background-color: rgba(255,255,255,0.70);
    border: 1px solid #999;
    text-align: center;
    display: none;
}
.blue_grad{
    background: #0099FF;
    border: 1px solid #4066FF;
    background: linear-gradient(180deg, 
	#BBCFFF 0%,
	#0099FF 40%,
	#5577FF 100%);
}
.grn_grad{
    background: #13D713;
    border: 1px solid #00A400;
    background: linear-gradient(180deg, 
	#9CF59C 0%,
	#13D713 40%,
	#00A400 100%);
}
.panel-title{
    overflow: hidden;
}
.panel-body{
    background-color: rgba(255,255,255,0.60);
}
.combo-panel{
    background-color: #fff;
    border: none;
}
.tabs{
    border: none;
}
.tabs li a.tabs-inner{
    
}
.tabs-panels{
    border: none !important;
}



.tabs-panels>.panel>.panel-body{
    background-color: rgba(255,255,255,0.15);
}

.transp_grad{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.60), rgba(150, 200, 255, 0.65)) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.datagrid-body{
    background-color: rgba(255,255,255,0.30);
}


.slim-tab{
    -display: inline-block;
}
.slim-tab .tabs-panels .panel-body,.slim-tab .tabs-header, .slim-tab .tabs-wrap, .slim-tab .tabs{
   width: auto !important;
   -min-width: 500px;
}

.tabs-header, .tabs-tool {
    background-color: rgba(224,236,255,0.7);
    -background: none;
    border: none;
}
/* blue datagrid hack 

.datagrid .datagrid-body{
    background-color:#DAE5F0;
}
.datagrid .datagrid-header td, .datagrid .datagrid-body td, .datagrid .datagrid-footer td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #E6F5FF;
}
.datagrid .datagrid-header, .datagrid-td-rownumber {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #E6F5FF 0px, #c0d0f0 100%) repeat-x scroll 0 0;
}
.datagrid .datagrid-header td{
    height: 28px !important;
}
 /blue datagrid hack */

.datagrid-row-selected  .datagrid-cell{
    white-space: normal;
    word-wrap: normal;
}
.datagrid-cell{
    font-family: "Trebuchet MS",Arial;
}
.slider-rule span{
    border-color: #000;
}
div .combobox-item-hover{
    -background-color: #cdf;
}















.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber,
.tree-title,
.panel-body,body{
  font-size: 13px !important;
}
input,textarea,.textbox,select{
    border-radius: 2px;
    font-size: 13px !important;
}














.transparent{
    opacity:0.6;
    transition-duration: 3s;
}
.transparent:hover{
    opacity: 1;
    transition-duration: 0.7s;
}
.transp60{
    background-color: rgba(255,255,255,.6);
}
.icon-24 {
    display: inline-block;
    font-size: 1px;
    height: 26px;
    width: 26px;
    background-size: 24px 24px !important;
    line-height: 26px;
    margin-top: 0px;
    vertical-align: bottom;
}
.icon-24:hover {
    cursor: pointer;
    border: 1px solid #95b8e7;
    border-radius: 3px;
    margin: -0px;
    background-color: #bcd8f4;
}
.icon-eye{
    background:url('../img/eye.png') no-repeat center center;
}
.icon-home{
    background:url('../img/home.png') no-repeat center center;
}
.icon-create{
    background:url('../img/edit_add.png') no-repeat center center;
}
.icon-close16{
    background:url('../img/close24.png') no-repeat center center;
    background-size: 16px 16px;
}
.icon-calc{
    background:url('../img/recalc.png') no-repeat center center;
}
.icon-calc16{
    background:url('../img/recalc.png') no-repeat center center;
    background-size: 16px 16px;
}
.icon-commit{
    background:url('../img/commit.png') no-repeat center center;
}
.icon-uncommit{
    background:url('../img/uncommit.png') no-repeat center center;
}
.icon-lorry{
    background:url('../img/lorry24.png') no-repeat center center;
}
.icon-lorry16{
    background:url('../img/lorry24.png') no-repeat center center;
    background-size: 16px 16px;
}
.icon-delete{
    background:url('../img/delete.png') no-repeat center center;
}
.icon-delete16{
    background:url('../img/delete.png') no-repeat center center;
    background-size: 16px 16px;
}
.icon-change{
    background:url('../img/Edit-24.png') no-repeat center center;
}
.icon-change16{
    background:url('../img/Edit-24.png') no-repeat center center;
    background-size: 16px 16px;
}
.icon-print{
    background:url('../img/print.png') no-repeat center center;
}
.icon-refresh{
    background:url('../img/reload.png') no-repeat center center;
}
.icon-refresh16{
    background:url('../img/reload.png') no-repeat center center;
    background-size: 16px 16px;
}
.icon-sms{
    background:url('../img/sms.png') no-repeat center center;
}
.icon-sms16{
    background:url('../img/sms.png') no-repeat center center;
    background-size: 16px 16px;
}
.icon-document16{
    background:url('../img/document.png') no-repeat center center;
}
.icon-utils{
    background:url('../img/utils.png') no-repeat center center;
}
.icon-import{
    background:url('../img/import.png') no-repeat center center;
    background-size: 24px 24px;
}
.icon-export{
    background:url('../img/export.png') no-repeat center center;
}
.icon-duplicate{
    background:url('../img/copy.png') no-repeat center center;
}
.icon-split{
    background:url('../img/split.png') no-repeat center center;
}
.icon-settings16{
    background:url('../img/settings.png') no-repeat center center;
}
.icon-sell{
    background:url('../img/sell.png') no-repeat center center;
}
.icon-buy{
    background:url('../img/buy.png') no-repeat center center;
}
.icon-servicein{
    background:url('../img/servicein.png') no-repeat center center;
}
.icon-serviceout{
    background:url('../img/serviceout.png') no-repeat center center;
}
.icon-tablefilter {
    background:url('../img/Search.png') no-repeat center center;
}
.icon-comp {
    background:url('../img/gray.png') no-repeat center center;
}
.icon-upload{
    background: url('../img/file_upload.png') no-repeat center center;
}
.icon-download{
    background: url('../img/file_download.png') no-repeat center center;
}
.icon-move{
    background: url('../img/big_rightarrow.png') no-repeat center center;
}
.icon-wallet{
    background: url('../img/wallet.png') no-repeat center center;
}
.icon-expand{
    background: url('../img/expand.png') no-repeat center center;
}
.icon-collapse{
    background: url('../img/collapse.png') no-repeat center center;
}
.link_button:hover{
    padding: 5px;
    margin: -6px;
    border: 1px solid #0dd;
    border-radius: 5px;
    background-color: #cef;
    cursor: pointer;
}
.covert{
    visibility: hidden;
    display: none;
}
.hidden{
    position: absolute;
    top: -9999px;
    left: -9999px;
}
img{
    vertical-align: middle;
}
@keyframes blink{
    0%{background-color: red;}
    25%{background-color: yellow;}
    50%{background-color: green;}
    75%{background-color: yellow;}
    100%{background-color: red;}
}
.blink{
    animation:blink normal 2s infinite ease-in-out;
    border-radius: 5px;
}
@keyframes blinkborder{
    0%{border-color: red;}
    25%{border-color: yellow;}
    50%{border-color: green;}
    75%{border-color: yellow;}
    100%{border-color: red;}
}
.blinkborder{
    animation:blinkborder normal 2s infinite ease-in-out;
    border-radius: 5px;
}
#loginOverlay{ 
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
} 
#loginScreen{
    width:260px;
    background: #abc;
    position:fixed;
    z-index:10;
    display: none;
    top: 40%;
    left: 50%;
    margin-left: -130px;
    margin-top:-50px;
}
#ApplicationBar {
    background-color: #fff;
    -vertical-align: middle;
}
.ModuleButton{
    -display:inline-block;
    margin:1px;
    padding:6px;
}
.ModuleButtonSelected{
    background:url(../img/selected_module_bg.png) no-repeat top;
    margin:1px;
    padding:6px;
}

.rounded{
    padding: 5px;
    border-radius: 5px;
}
.tag{
    background: #0a0;
    border-radius: 3px;
    display: inline-block;
    padding: 1px;
    font-weight: bold;
    color:#fff;
}
h2{
    font-weight: normal;
    font-size: 14px;
    margin: 3px;
}






.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 12px;
  margin:0px;
  margin-top: 3px;
}

.switch input {display:none;}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B0AFAF;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -4px;
  background-color: #F1F1F1;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.switch input:checked + .slider {
  background-color: #77C2BB;

}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  bottom: -4px;
  background-color: #009688;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 6px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.left_label{
    padding: 3px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 10px;
    border: 1px solid #9be;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: linear-gradient(90deg,rgba(255,255,255,1),rgba(255,255,255,0.5));
    min-height: 25px;
    color: #025;
}
.left_label:hover{
    background: linear-gradient(90deg,rgba(255,255,200,1),rgba(255,255,255,0.5));;
    -border-color: #afa;
    cursor: pointer;
}
.left_label_selected,.left_label_selected:hover{
    background: #FF9;
}
#main_grid{
  display: grid;
  width: 100%;
  grid-template-columns: 60px auto;
  grid-auto-rows: minmax(100px, auto);
}
.document_view_thumb{
    display: inline-block;
    border: 1px #bbb solid;
    color: #333;
    border-radius: 3px;
    width: 23%;
    min-height: 45px;
    margin: 0px 0px 6px 0px;
    text-align: center;
    background:linear-gradient(#fff, #eee);
    cursor: pointer;
    vertical-align: top;
    padding: 7px;
    text-align: left;
}

.document_view_thumb:hover{
    border: 1px #ccc solid;
    box-shadow: 1px 1px 3px lightgray;
}

.document_view_thumb.document_view_is_hidden{
    display: none;
}

.document_view_thumb .document_view_efields {
    background-color: white;
    position: absolute;
    margin-top: 1px;
    text-align: left;
    width: 155px;
    border: 1px #528df3 solid;
    overflow: hidden;
    margin-left: -1px;
    z-index: 100;
    padding: 10px;
}
.document_views_arrow{
    padding: 5px;
    opacity: 0.6;
}
.document_views_arrow:hover{
    opacity: 1;
    cursor: pointer;
}
.document_comment{
    width: 100%;
    height: 40px;
    background-image: linear-gradient(#fff 0%, #e0eeff 100%);
}
.head_input input,.head_input select{
    height: 29px;
    margin-left: -1px;
}
.head_input .inp_group b{
    width:130px;
}

.footer_table {
    background-image: linear-gradient(#fff 0%, #efefef 100%);
    border-collapse: collapse;
}

.footer_table td {
    text-align: right;
    width: 100px;
    padding: 4px;
    border: 1px solid #ccc;
}



.isell-tabs .isell-tabs-buttons{
    display: grid;
    gap:2px;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    margin-top: 1px;
}
.isell-tabs .isell-tabs-holders{
    position: relative;
}
.isell-tabs .isell-tabs-holders>div{
    position: absolute;
}
.isell-tabs .isell-tabs-buttons div{
    padding: 10px;
    background-color: #ffffffaa;
    font-size: 14px;
    border-bottom: 3px solid #999;
}
.isell-tabs .isell-tabs-buttons .isell-tabs-active, .isell-tabs .isell-tabs-buttons div:hover{
    background-color: #fffe;
    border-bottom-color: #0aF;
    cursor: pointer;
}
.isell-tabs .isell-tabs-disabled{
    pointer-events:none;
    background-color: #ccccccaa !important;
}