<script>
    App.page_trade_document_list = (function () {
	var require = [
	    "js/slick/lib/jquery.event.drag-2.3.0.js",
	    ["js/slick/slick.core.js",
	    "js/slick/slick.grid.js",
	    "js/slick/plugins/slick.rowselectionmodel.js",
	    "js/slick/slick.editors.js",
	    "js/slick/slickinfinite.js"]
	];
	var DocList = {
	    init:function(){
		DocList.table.init();
		$(".x-doclist-tools").click(function (e) {
		    var action = $(e.target).data('action');
		    if (action) {
			DocList.tools[action] && DocList.tools[action]();
		    }
		});
		DocList.tools.swap_expand_collapse();
	    },
	    tools:{
		reload:function(){
		    DocList.grid.reload();
		},
                add:function(){
                    Document.load(0);
                },
		expand_collapse:function(){
		    if (DocList.table.columnMode === 'advanced') {
			DocList.table.columnMode = 'simple';
			App.store('document_list_table_mode', 'simple');
		    } else {
			DocList.table.columnMode = 'advanced';
			App.store('document_list_table_mode', 'advanced');
		    }
		    DocList.table.render();
		    DocList.grid.reload();
		    DocList.tools.swap_expand_collapse();
		},
		swap_expand_collapse:function(){
		    if(DocList.table.columnMode === 'advanced'){
			$(".x-doclist-tools .icon-expand").removeClass("icon-expand").addClass("icon-collapse");
		    } else {
			$(".x-doclist-tools .icon-collapse").removeClass("icon-collapse").addClass("icon-expand");
		    }
		}
	    },
	    table: {
		frm:{
		    round: function (num) {
			return isNaN(num) ? '' : Number.parseFloat(num).toFixed(2);
		    },
		    tooltip: function (row, cell, value, columnDef, dataContext) {
			if (!value) {
			    return '';
			}
			var parts = value.split(' ');
			var cmd = parts.shift();
			if (cmd) {
			    var style = 'max-width:16px;height:auto';
			    return '<img src="img/' + cmd + '.png" data-action="'+cmd+'" style="' + style + '" title="' + parts.join(' ') + '">';
			} else {
			    return '';
			}
		    },
		    dateFormatter: function (row, cell, value, columnDef, dataContext) {
                        if( !value ){
                            return '';
                        }
			var date_parts = value.split(' ')[0].split('-');
			var date = date_parts[2] + '.' + date_parts[1] + '.' + date_parts[0];
			return '<span title="' + value.split(' ')[1] + '">' + date + '</span>';
		    }
		},
		columnMode: App.store('document_list_table_mode') || 'simple',
		init: function () {
		    var settings = {
			columns: [],
			options: {
			    enableCellNavigation: true,
			    enableColumnReorder: false,
			    enableFilter: true,
                            disableLoadScroll:true,
                            disableAutoload:true,
			    multiSelect: false,
			    url: 'DocumentList/listFetch',
			    explicitInitialization: true,
                            pagesize:20,
                            params:{
                                mode:'add_empty_row'
                            }
			}
		    };
		    DocList.grid = $("#doclist_sg").slickgrid(settings);
		    DocList.grid.onSelectedRowsChanged.subscribe(function (e, selection) {
			var doclistRow = selection.grid.getDataItem(selection.rows[0]);
			Document.init(doclistRow.doc_type);
			Document.load(doclistRow.doc_id);
		    });
                    DocList.grid.onClick.subscribe(function(e,cell){
                        if( cell.cell==4 ){
                            var row=DocList.grid.getDataItem(cell.row);
                            if( row.trans_status ){
                                var status=row.trans_status.split(' ')[0];
                                if( "unpayed partly payed".indexOf(status)>-1 ){
                                    App.loadWindow("page/accounts/document_pay",{doc_id:row.doc_id,total:row.doc_total}).done(function(fvalue){
                                        DocList.grid.reload();
                                    });
                                } else if( "closing closed".indexOf(status)>-1 ){
                                    App.flash("Документ уже оплачен");
                                }
                            }
                        }
                        console.log(arguments);
                    });
		    App.Topic('passiveCompanySelected').subscribe(function (company) {
			DocList.grid.updateOptions({params: {mode: 'show_only_pcomp_docs,add_empty_row'}});
			DocList.grid.reload();
		    });
		    App.Topic('passiveCompanyReset').subscribe(function (company) {
			DocList.grid.updateOptions({params: {mode: 'add_empty_row'}});
			DocList.grid.reload();
		    });
		    DocList.table.render();
		    DocList.grid.init();
		    //DocList.grid.reload();
		},
		columnsGet:function(){
                    var columns_lev1=[
                        {id: "doc_type_icon", field: "doc_type_icon", name: "", width: 25, formatter: DocList.table.frm.tooltip},
			{id: "doc_num", field: "doc_num", name: "Номер", width: 50, sortable: true, cssClass: 'slick-align-right'},
			{id: "cstamp", field: "cstamp", name: "Дата", width: 80, sortable: true, formatter: DocList.table.frm.dateFormatter},
			{id: "doc_total_frm", field: "doc_total_frm", name: "Сумма", width: 80, sortable: true, cssClass: 'slick-align-right'},
			{id: "trans_status", field: "trans_status", name: "Оплачен", width: 25, sortable: true, formatter: DocList.table.frm.tooltip},
                    ];
                    var columns_adv=[
			{id: "pcomp_label", field: "pcomp_label", name: "Контрагент", width: 120},
			{id: "is_commited", field: "is_commited", name: "Проведен", width: 25, formatter: DocList.table.frm.tooltip},
			{id: "doc_type_name", field: "doc_type_name", name: "Тип документа", sortable: true, width: 150},
			{id: "views", field: "views", name: "Напечатано", width: 70}
                    ];
                    var columns=columns_lev1;
		    if( DocList.table.columnMode==='advanced' ){
			columns=columns.concat(columns_adv);
		    }
                    return columns;
		},
		render:function(){
		    DocList.grid.updateOptions({params:{colmode:DocList.table.columnMode}});
		    var cols=DocList.table.columnsGet();
                    DocList.table.columnSummaryWidth=0;
                    for( var i in cols ){
                        DocList.table.columnSummaryWidth+=cols[i].width+1;
                    }
		    DocList.grid.setColumnsAndFilters(cols);
		    DocList.table.setDimensions("#doclist_sg",25,0);
		},
		setDimensions:function(query, dw, dh){
		    var col_width = DocList.table.columnSummaryWidth+ (dw || 0);
		    $(query).css('width', col_width + 'px');
		}
	    }
	};
        var Document={
	    doc_id:null,
	    init:function(){
		App.loadModule('page/trade/document',{doc_id:this.doc_id,open_in:'panel'},'DocInline',/(Doc|page_trade_document)([^\w]|_)/g,"DocInline$2").progress(function(status,param){
                    switch( status ){
			case 'close':
			    $('#document_list_dg').datagrid('unselectAll');
			    break;
			case 'deleted':
			case 'uncommit':
			case 'commit':
			case 'head_changed':
			    //DocList.list.suppressOnSelect=true;
			    DocList.grid.reload();
			    break;
			case 'created':
			    //DocList.doc.doc_id=param;
			    //DocList.list.selectedDocId=param;
			    //DocList.list.suppressOnSelect=true;
			    DocList.grid.reload();
			    break;
			case 'pcomp_changed':
			    App.user.pcompSelect({company_id:param});
			    if( CtreeInline ){
				CtreeInline.unselectTree();
				//CtreeInline.unselectCombo();
			    }
			    break;
		    }
		});
	    },
	    load:function( doc_id ){
		this.doc_id=doc_id;
		if( Document && Document.data ){
		    Document.data.doc_id=this.doc_id;
		    Document.init();
		} else {
		    this.init();
		}
	    }
	}
	function init() {
	    DocList.init();
            Document.load(0);
	}
	return {
	    require: require,
	    init: init
	};
    })();
</script>
<style>
    #doclistgrid {
	margin: 1px;
	display: grid;
	grid-template-columns: min-content min-content;
	grid-gap:5px;
    }
</style>
<div id="doclistgrid">
    <div style="vertical-align: top;" id="DocInline" class="transp60"></div>
    <div>
	<div class="x-doclist-tools transp60">
	    <div style="float: left;font-weight: bold;padding-top: 8px;">
		<img src="img/table16.png" style="width:16px;height: 16px;"> Документы
	    </div>
	    <div style="float: right">
		<span class="icon-24 icon-create" data-action="add" title="Создать документ"> </span> 
		<span class="icon-24 icon-expand" data-action="expand_collapse" title="Полный/Сокращенный режим"> </span> 
		<span class="icon-24 icon-refresh" data-action="reload" title="Обновить"> </span> 
	    </div>
	</div>
	<div id="doclist_sg" style="height:600px;"></div>
    </div>
</div>