<script type="text/javascript">
    /* global App */
    DocEntEd=App.page_trade_document_entry_edit = {
	init: function () {
	    this.node.window({
		title: 'Редактирование строки',
		width: 450,
		height: 'auto',
		shadow:false,
		onClose: function () {
		    DocEntEd.handler.notify('close');
		    delete App.page_trade_document_entry_edit,DocEntEd;
		}
	    });
	    this.node.window('hcenter');
	    this.node.window('window').css('position','fixed');
	    this.node.window('window').css('top','40px');
	    
	    this.calcPrice(DocEntEd.data.product_sum);
	    
	    
	    App.renderTpl('DocEntEd_markup',this.data);
	    App.setupForm("#document_ented_frm",this.data).change(function(){
		var field=this.name;
		var value=this.value;
		if( $(this).data('calc') ){
		    value=DocEntEd.parseExpr(value,$(this).data('round'));
		    if(value===NaN){
                        
			return;
		    }
		    $("input[name="+field+"]").val(value);
		}
                console.log(field,value);
		switch( this.name ){
		    case 'product_price':
			DocEntEd.calcSum(DocEntEd.data.product_quantity,value);
			break;
		    case 'product_quantity':
			DocEntEd.calcSum(value,DocEntEd.data.product_price);
			break;
		    case 'product_sum':
			DocEntEd.calcPrice(value);
			field='product_price';
			value=DocEntEd.data.product_price;
			break;
		}
		DocEntEd.change(field,value);
	    });
	    DocEntEd.getStats();
	    //console.log(this.data);
	},
	initAfter:function(){
	    $('#page_trade_document_entry_edit input').on('focus', function() {
		this.select();
	    });
	    if( '/product_quantity/product_price/party_label/'.indexOf(this.data.focus)===-1 ){
		this.data.focus='product_quantity';
	    }
	    $("input[name="+this.data.focus+"]").select();
	},
	change: function( name, value ){
	    if( DocEntEd.suppressUpdate===true ){
		return;
	    }
	    App.post( App.uri('DocumentItems','entryUpdate',DocEntEd.data.head.doc_id,DocEntEd.data.doc_entry_id),{name:name,value:value}, function(ok){
		if(ok*1){
		    DocEntEd.handler.notify('change');
		    DocEntEd.data[name]=value;
		    DocEntEd.getStats();
		}
		else{
		    App.setupForm("#document_ented_frm",DocEntEd.data);//form reset
		    App.flash('Ошибка. Значение не изменено!');
		}
	    });
	},
	getStats:function(){
	    App.post( App.uri('DocumentItems','entryStatsGet',DocEntEd.data.head.doc_id,DocEntEd.data.product_code), function(xhr){
		DocEntEd.stats=App.json(xhr);
		DocEntEd.renderStats();
	    });
	},
	renderStats:function(){
	    var stats=DocEntEd.stats||{};
	    stats.unit=DocEntEd.data.product_unit;
	    if( stats.price===DocEntEd.data.product_price ){
		stats.color='blue';
	    }else
	    if(stats.price>DocEntEd.data.product_price){
		stats.color='red';
	    }
	    else{
		stats.color='green';
	    }
	    App.renderTpl('DocEntEd_qty_markup',stats);
	    App.renderTpl('DocEntEd_price_markup',stats);
	},
	delete:function(){
	    DocEntEd.handler.notify('delete');
	},
	showProductCard:function(){
	    if( App.user.props.user_level<2 ){
		alert("Доступ ограничен");
		return;
	    }
	    App.loadWindow('page/stock/product_card',{product_code:DocEntEd.data.product_code,loadProductByCode:true}).progress(function(status,fvalue){
		if( status==='save' ){
		    DocEntEd.handler.notify('change');
		}
	    });	    
	},
        parseExpr:function( expr,round ){
	    var result=eval(expr.toString().replace(/,/g,'.').match( /[\(\d\.\)\*\/\+-]*/ ).toString());
            return Math.round(result*round)/round;
        },
	calcPrice:function(product_sum){
	    DocEntEd.data.product_price=Math.round(product_sum/this.data.product_quantity*10000000)/10000000;
	    $("#document_ented_frm input[name=product_price]").val(DocEntEd.data.product_price);
	},
	calcSum:function(product_quantity,product_price){
	    DocEntEd.data.product_sum=Math.round(product_price*product_quantity*100)/100;
	    $("#document_ented_frm input[name=product_sum]").val(DocEntEd.data.product_sum);
	}
    };
</script>
<div id="DocEntEd_markup" class="covert">
    <table>
	<tr>
	    <td style="width: 95px;text-align: right;vertical-align: top;">
		Товар:
	    </td>
	    <td>
		<strong title="Код">{{product_code}}</strong> <span title="Название">{{product_name}}</span>
		<img onclick="DocEntEd.showProductCard();" style="cursor: pointer;vertical-align: middle" src="img/settings.png" title="Изменить свойства товара"><br>
		<i class="hover_show" title="Таможенный код">Таможенный код: {{analyse_origin}}</i>
	    </td>
	</tr>
    </table>
</div>
<form id="document_ented_frm" onsubmit="DocEntEd.node.window('close');return false;">
    <div>
	<input name="product_quantity" class="icon-calc16" style="background-position: right" title="Кол-во" data-calc="1" data-round="1" />
	<span id="DocEntEd_qty_markup" class="covert" title="Кол-во на складе">Склад: {{product_quantity}} {{unit}}</span>
    </div>
    <div>
        <input name="product_price" title="Цена" class="icon-calc16" style="background-position: right" data-calc="1" data-round="100000"/>
    <span id="DocEntEd_price_markup" class="covert" title="Стандартная цена">Цена: <b style="color:'{{color}}'">{{price}} {{curr_symbol}}</b></span>
    </div>
 	<input name="product_sum" title="Сумма" class="icon-calc16" style="background-position: right" data-calc="1" data-round="100">
 	<input name="party_label" title="Партия">
   <div style="text-align: center">
	<button type="submit" onclick="DocEntEd.node.window('close')"><img src="img/apply24.png" style="vertical-align: middle"> Ок</button>
	<button type="button" onclick="DocEntEd.node.window('close');"><img src="img/close24.png" style="vertical-align: middle"> Закрыть</button>
    </div>
</form>
<style>
    #DocEntEd_markup table:hover i{
	visibility: visible;
    }
    .hover_show{
	visibility: hidden;
    }
</style>