<script>
    /*global App*/
    App.page_data_universal_editor={
	createdRowKey:null,
	init:function(){
	    this.node.window({
		width: 650,
		title: 'Редактирование записи',
		height: 'auto',
		top:50,
		shadow:false,
		onClose: function () {
		    App.page_data_universal_editor.node.window('destroy');
		    App.page_data_universal_editor.handler.notify('close');
		    delete App.page_data_universal_editor;
		}
	    });
	    this.node.window('window').css('position','fixed');
	    this.checkIfNew();
	    this.createForm(this.data.fstruct);
	    App.setupForm("#univ_editor_frm",this.data.fvalue).change(function(){
		var field=$(this).attr('name');
		var value=$(this).val();
		var title=$(this).attr('title');
		var iskey= !!$(this).data('key');
		if( iskey && App.page_data_universal_editor.isNewCreated ){
		    App.page_data_universal_editor.data.rowKey[field]=value;
		}

		App.page_data_universal_editor.createUpdateRow( field,value,title,iskey );
	    });
	    if( this.data.fvalue.focus ){
		$("#univ_editor_frm input[name='"+this.data.fvalue.focus+"']").select();
	    }
	    $('#univ_editor_frm input').on('focus', function() {
		this.select();
	    });
	},
	createUpdateRow:function( field,value,title,iskey ){
	    var data={};
	    data[field]=value;
	    var postVars={
		rowKey:JSON.stringify(this.data.rowKey),
		data:JSON.stringify(data),
		create:App.page_data_universal_editor.isNewCreated?1:0
	    };
	    $.post("Data/tableRowCreateUpdate/"+this.data.currentTable,postVars,function(ok){
		if( ok>0 ){
		    App.flash("Сохранено: "+title);
		    App.page_data_universal_editor.isNewCreated=0;
		    App.page_data_universal_editor.data.fvalue[field]=value;
		    App.page_data_universal_editor.handler.notify('change');
		    if( iskey ){
			App.page_data_universal_editor.data.rowKey[field]=value;
		    }
		} else {
		    App.flash("Не сохранено!");
		    App.setupForm("#univ_editor_frm",App.page_data_universal_editor.data.fvalue);
		}
	    });	    
	},
	createForm:function(fstruct){
	    App.renderTpl("univ_editor_frm",{fields:fstruct});
	},
	getKey:function(){
	    var is_first=true;
	    var createdRowKey={};
	    for(var i in this.data.fstruct){
		if( this.data.fstruct[i].Key==="PRI" ){
		    var generatedKeyValue='';
		    if( is_first ){
			generatedKeyValue=new Date().getTime();
			this.data.focus=this.data.fstruct[i].field;
			//is_first=false;
		    }
		    createdRowKey[this.data.fstruct[i].field]=generatedKeyValue;
		}
	    }
	    return createdRowKey;
	},
	checkIfNew:function(){
	    if( !this.data.rowKey ){
		this.data.fvalue=this.data.rowKey=App.page_data_universal_editor.getKey();
		this.isNewCreated=true;
	    }
	},
	undoUpdate:function(){
	    
	}
    };
</script>
<form id="univ_editor_frm" onsubmit="App.page_data_universal_editor.node.window('close')">
    {{fields}}
	{{if Key|equals>PRI}}
	    <input name="{{field}}" title="{{title}}" style="background:#ffc" data-key="1">
	{{else}}
	    <input name="{{field}}" title="{{title}}">
	{{/if}}
    {{/fields}}
    <div style="text-align: center">
	<button><img src="img/apply24.png"> Ок</button>
    </div>
</form>