<div style="clear:both;vertical-align: top;text-align: justify;" class="covert document_views_tile">
    <hr style="border-color: white">
    {{if views}}
        {{views}}
        <div class="document_view_thumb {{if view_hidden|equals>1}}document_view_is_hidden{{/if}} {{if #|more>3}}document_view_is_hidden{{/if}}" 
             data-view-id = "{{doc_view_id}}" 
             data-view-type-id = "{{view_type_id}}"  
             onmouseenter = "$('.document_view_efields{{#}}').show('fast')"
             onmouseleave = "$('.document_view_efields{{#}}').hide('fast')"
             >
            {{view_name}}
            {{if doc_view_id}}
            <br><b>№{{view_num}}</b> от {{view_dmy_date}}
            <img class="document_view_settings" src="img/settings.png" data-view-i="{{#}}" style="float:right;" title="Настройки">
            {{if efields}}
            <div class="document_view_efields document_view_efields{{#}}" style="display: none">
                {{efields}}
                 {{label}}: <u style="color:red">{{value|blank>}}</u><br/>
                {{/efields}}
            </div>
            {{/if}}
            
            {{/if}}
        </div>
        {{/views}}
    {{/if}}
    <img class="document_views_arrow"  src="img/arrowright.png" title="Дополнительные шаблоны печати">    
</div>
<textarea name="doc_data" title="Комментарий" placeholder="Комментарий" data-skip="1" class="document_comment"></textarea>
	