<script type="text/javascript">
require(["dojo/ready", "dojo/dom", "dojo/on", "dijit/registry", "dijit/Tooltip", "baycik/grid/DataGrid","dojo/domReady!"],
function (ready, dom, on, registry, Tooltip, DataGrid) {
    HomeJs = {};
    HomeJs.init = function () {
	var now = new Date();
	var year=now.getFullYear();
	var month = now.getMonth() + 1;
	month=month < 10 ? ('0' + month) : month;
	registry.byId("avgratio_year").set('value', year);
	registry.byId("avgratio_month").set('value', month);
	registry.byId("mpayments_year").set('value', year);
	registry.byId("mpayments_month").set('value', month);
    };
    HomeJs.initExpList = function () {
	if(HomeJs.expired_grid){
	    HomeJs.expired_grid._reload();
	    return ;
	}
        HomeJs.expired_grid = new baycik.grid.DataGrid({}, 'expired_grid_div');
        HomeJs.expired_grid.request.table_name = "expired_list";
        HomeJs.expired_grid.onStructure = function (request) {
            request.mod = 'Data';
            request.rq = 'GridStructure';
            Connector.addRequest(request, this, 'setStructure');
        };
        HomeJs.expired_grid.onRequest = function (request) {
            request.mod = 'Home';
            request.rq = 'ExpiredDebts';
            Connector.addRequest(request, function (response) {
                HomeJs.expired_grid.setData(response.grid);
		$('#expired_grid_div,#expired_grid_footer').css('display','block');
		Acc.renderTpl('expired_grid_footer',response['summary']);
            });
        };
        HomeJs.expired_grid.calculateCell = function (cell) {
            if (cell.cellData == 0)
                cell.cellData = '';
            return cell;
        };
        HomeJs.expired_grid.onPrint = function (request) {
            request.mod = 'Home';
            request.rq = 'ExpListOut';
            Acc.printOut(request);
        };
        HomeJs.expired_grid.startup();
    };
    HomeJs.initManagerPayments = function () {
	if(HomeJs.mpayments_grid){
	    HomeJs.mpayments_grid._reload();
	    return ;
	}
        HomeJs.mpayments_grid = new baycik.grid.DataGrid({}, 'mpayments_grid');
        HomeJs.mpayments_grid.request.table_name = "manager_payments";
        HomeJs.mpayments_grid.onStructure = function (request) {
            request.mod = 'Data';
            request.rq = 'GridStructure';
            Connector.addRequest(request, this, 'setStructure');
        };
        HomeJs.mpayments_grid.onRequest = function (request) {
	    var month=registry.byId("mpayments_month").get('value');
	    var year=registry.byId("mpayments_year").get('value');
            request.mod='Home';
            request.rq='ManagerPayments';
            request.period=(year+'-'+month);
            Connector.addRequest(request, function (response) {
                HomeJs.mpayments_grid.setData(response['grid']);
		$('#mpayments_grid,#mpayments_result').css('display','block');
		Acc.renderTpl('mpayments_result',response['summary']);
            });
        };
        HomeJs.mpayments_grid.calculateCell = function (cell) {
            if (cell.cellData == 0)
                cell.cellData = '';
            if ((cell.field == 'credit' && cell.cellData > 0) || (cell.field == 'debit' && cell.cellData < 0))
                cell.style.push('color:green;font-weight:bold');
            else if ((cell.field == 'debit' && cell.cellData > 0) || (cell.field == 'credit' && cell.cellData < 0))
                cell.style.push('color:red;font-weight:bold');
            return cell;
        };
        HomeJs.mpayments_grid.onPrint = function (request) {
            request.mod = 'Home';
            request.rq = 'ManagerPaymentsOut';
            Acc.printOut(request);
        };
        HomeJs.mpayments_grid.startup();
    };
    HomeJs.initAvgRatio=function(){
	var month=registry.byId("avgratio_month").get('value');
	var year=registry.byId("avgratio_year").get('value');
	Connector.addRequest({mod:'Home',rq:'FetchAvgRate',month:month,year:year},function(response){
	    if( response ){
		Acc.renderTpl('avgratio_result',response);
		$("#avgratio_result").css('display','block');
	    }
	    else{
		alert("За этот период операций небыло");
	    }
	});
    };
    ready(function(){
	setTimeout(HomeJs.init,10);
    });
});

    /* global App */
    App.HomeDocumentList={
        init:function(){
	    App.handler.progress(function(status){
		if( status==="activeCompanySelected" ){
		    $('#home_document_list_dg').datagrid('reload');
		}
	    });            
        },
	loader:function (param, success, error) {
	    $.get(App.uri('DocumentCore', 'listFetch', param.page, param.rows), {filterRules: param.filterRules}, function (xhr) {
		var resp = App.json(xhr);
		success(resp);
	    });
	},
	documentOpen:function( doc_id ){
	    App.loadWindow('page/trade/document',{doc_id:doc_id}).progress(function(status){
		if( status==='deleted' ){
		    $('#home_document_list_dg').datagrid('reload');
		}
	    });
	},
	onClick:function (index, row) {
	    App.HomeDocumentList.documentOpen(row.doc_id);
	}
    };
    $(function(){
        setTimeout(function(){
	    App.HomeDocumentList.init();
            $('#home_document_list_dg').datagrid('enableFilter');
        },500);
    });
</script>
<style type="text/css">
    .report_frame{
	-display: inline-block;
	vertical-align: top;
	border: 1px #666 solid;
	padding: 2px;
        margin: 2px;
        background: rgba(255, 255, 255, 0.6); 
    }
    .report_frame_title{
	background-color: white;
	padding: 5px;
	min-width: 300px;
	font-weight: bold;
    }
</style>
<table>
    <tr>
	<td style="vertical-align: top">

	</td>
	<td style="vertical-align: top">
	    <div class="report_frame">
		<div class="report_frame_title">Отчет по должникам<img src="img/tabCloseHover.png" style="float:right;cursor: pointer" onclick="$('#expired_grid_div,#expired_grid_footer').css('display','none')"></div>
		<button data-dojo-type="dijit/form/Button" onclick="HomeJs.initExpList()">Сформировать отчет</button>
		<div id="expired_grid_footer" style="display: none;">
		    <table>
			<tr>
			    <td>Просроченный долг</td>
			    <td style="color:red;font-weight: bold;background-color: white">{{sexp}}</td>
			</tr>
			<tr>
			    <td>Общий долг</td>
			    <td>{{sdebt}}</td>
			</tr>
		    </table>
		</div>
		<div id="expired_grid_div"></div>
	    </div>
	    <div class="report_frame">
		<div class="report_frame_title">Отчет по оплатам<img src="img/tabCloseHover.png" style="float:right;cursor: pointer" onclick="$('#mpayments_grid,#mpayments_result').css('display','none')"></div>
		Период
		<select data-dojo-type="dijit/form/Select" id="mpayments_month">
		    <option value="01">Январь</option>
		    <option value="02">Февраль</option>
		    <option value="03">Март</option>
		    <option value="04">Апрель</option>
		    <option value="05">Май</option>
		    <option value="06">Июнь</option>
		    <option value="07">Июль</option>
		    <option value="08">Август</option>
		    <option value="09">Сентябрь</option>
		    <option value="10">Октябрь</option>
		    <option value="11">Ноябрь</option>
		    <option value="12">Декабрь</option>
		</select>
		<select data-dojo-type="dijit/form/Select" id="mpayments_year">
		    <option value="2013">2013</option>
		    <option value="2014">2014</option>
		    <option value="2015">2015</option>
		    <option value="2016">2016</option>
		    <option value="2017">2017</option>
		</select>
		<button data-dojo-type="dijit/form/Button" onclick="HomeJs.initManagerPayments()">Сформировать отчет</button>
		<div id="mpayments_result" style="display: none">
		    <table>
			<tr>
			    <td>Начало периода</td>
			    <td>{{sdate|default:''}}</td>
			</tr>
			<tr>
			    <td>Конец периода</td>
			    <td>{{fdate|default:''}}</td>
			</tr>
			<tr>
			    <td>Поступило оплат</td>
			    <td>{{scredit|default:''}}</td>
			</tr>
		    </table>
		</div>

		<div id="mpayments_grid"></div>
	   </div>
	    <div class="report_frame">
		<div class="report_frame_title">Отчет по среднему курсу<img src="img/tabCloseHover.png" style="float:right;cursor: pointer" onclick="$('#avgratio_result').css('display','none')"></div>
		Период
		<select data-dojo-type="dijit/form/Select" id="avgratio_month">
		    <option value="01">Январь</option>
		    <option value="02">Февраль</option>
		    <option value="03">Март</option>
		    <option value="04">Апрель</option>
		    <option value="05">Май</option>
		    <option value="06">Июнь</option>
		    <option value="07">Июль</option>
		    <option value="08">Август</option>
		    <option value="09">Сентябрь</option>
		    <option value="10">Октябрь</option>
		    <option value="11">Ноябрь</option>
		    <option value="12">Декабрь</option>
		</select>
		<select data-dojo-type="dijit/form/Select" id="avgratio_year">
		    <option value="2013">2013</option>
		    <option value="2014">2014</option>
		    <option value="2015">2015</option>
		    <option value="2016">2016</option>
		    <option value="2017">2017</option>
		</select>
		<button data-dojo-type="dijit/form/Button" onclick="HomeJs.initAvgRatio()">Сформировать отчет</button>
		<div id="avgratio_result" style="display: none">
		    <table>
			<tr>
			    <td>Начало периода</td>
			    <td>{{idate}}</td>
			</tr>
			<tr>
			    <td>Конец периода</td>
			    <td>{{fdate}}</td>
			</tr>
			<tr>
			    <td>Первая покрытая накладная</td>
			    <td>{{first_closed}}</td>
			</tr>
			<tr>
			    <td>Последняя покрытая накладная</td>
			    <td>{{last_closed}}</td>
			</tr>
			<tr>
			    <td>Поступило оплат</td>
			    <td>{{period_payment_sum}}</td>
			</tr>
			<tr>
			    <td>Сумма/Сумма$ = Средний курс</td>
			    <td>{{total}}/{{total_alt}} = {{avg_ratio}}</td>
			</tr>
		    </table>
		</div>
	   </div>
	</td>
    </tr>
</table>
