<script>
dojo.require("dijit.form.Button");
function fillForm( form_id, fvalue ){
	var form=dojo.byId(form_id);
	for( i in form.elements ){
		if( form.elements[i].type=='checkbox' )
			form.elements[i].checked=fvalue[form.elements[i].name]?'checked':'';
		else
			form.elements[i].value=fvalue[form.elements[i].name];
	}
}
function collectForm( form_id ){
	var form=dojo.byId(form_id);
	for( i in form.elements ){
		if( form.elements[i].type=='checkbox' )
			fvalue[form.elements[i].name]=form.elements[i].checked?'1':'0';
		else
			fvalue[form.elements[i].name]=form.elements[i].value;
	}
	return fvalue;
}
function beforeInit(){
	var phones=fvalue.to.split(',');
	var sms_numbers=[];
	for(var i in phones){
		if( !phones[i] )
			continue;
		var sms=phones[i].match(/\d/g).join('');
		if(sms.length==11)sms='3'+sms;
		if(sms.length==10)sms='38'+sms;
		if(!sms || sms==0)continue;
		sms_numbers.push(sms);
	}
	fvalue.to=sms_numbers.join(',');
	fillForm( 'PopupForm', fvalue );
	dojo.byId('sendbutton').focus();
}
function validate(){
	fvalue=collectForm( 'PopupForm' );
	submit( fvalue );
	return false;
}
</script>
<form id="PopupForm" enctype="multipart/form-data" action="" method="post" onSubmit="return validate()">
<input type="hidden" name="copy" id="copy" value="1">
<table width="100%" border="0">
        <tr>
            <td align="right" width="50">
                Получатель:
            </td>
            <td>
                <input type="tel" multiple="multiple"  name="to" style="width:99%;"> 
            </td>
        </tr>
        <tr>
            <td align="right">
                Тема: 
            </td>
            <td>
                <input type="text" name="subject" style="width:99%;">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <textarea name="body" style="width:99%" rows="4"></textarea>
            </td>
        </tr>
       <tr>
            <td align="center" colspan="2">
            	<button type="submit" dojoType="dijit.form.Button" id="sendbutton" autofocus>Отправить</button>
            	<button type="submit" dojoType="dijit.form.Button" onClick="document.getElementById('copy').value=0">Отправить Без Копии</button>
            </td>
        </tr>
    </table>
</form>
