<script type="text/javascript">
    /*global App */
    App.page_stock_product_card = {
        closeOnSave:true,
	parsed:true,
	init: function () {
	    this.node.window({
		title: 'Товарная карточка',
		width: 780,
                top:50,
		height: 'auto',
		shadow:false,
		onClose:function(){
                    //delete App.page_stock_product_card;
		}
	    });
	    this.node.window('window').css('position','fixed');
	    
	    if( typeof this.data==='object' ){
		App.page_stock_product_card.initWidgets();
	    } else {
		var product_code=App.page_stock_product_card.data;
		$.get("Stock/productGet",{product_code:product_code},function(resp){
		    App.page_stock_product_card.data=App.json(resp);
		    App.page_stock_product_card.initWidgets();
		});
	    }
            if( this.data.enablePrevnext ){
                $("#stock_prod_card_prevnext").css('visibility','visible');   
            }
	},
	initWidgets:function(){
	    App.page_stock_product_card.data.product_code_new=App.page_stock_product_card.data.product_code;
	    App.setupForm("#page_stock_product_card_frm", App.page_stock_product_card.data);
	    $.parser.parse("#page_stock_product_card");//for easy ui
	    $('#page_stock_product_card input').on('focus', function() {
		this.select();
	    });
	    $("input[name="+this.data.focus+"]").select();
	    $("#Stock_parent_id").combobox('setValue',App.page_stock_product_card.data.parent_id);
	    $("#Stock_parent_id").combobox('setText',App.page_stock_product_card.data.parent_label);
	    this.serviceCheck();
	},
	categoryLoader:function(param, success, error){
	    if( param.q===undefined ){
		success([{branch_id:App.page_stock_product_card.data.parent_id,label:App.page_stock_product_card.data.parent_label}]);
		return ;
	    }
	    $.get('Stock/labelFetch/', param, function (xhr) {
		var resp = App.json(xhr);
		success(resp[0] ? resp : []);
	    });
	},
	submit:function(e){
	    e.preventDefault();
	    this.data=App.collectForm("#page_stock_product_card_frm");
	    if( this.data.product_code_new.match(/^[\wабвгдеёжзийклмнопрстуфхцчшщъыьюяіїє\. ,-]+$/i) ){
		$.post('Stock/productSave/',this.data,function(ok){
		    if( ok*1 ){
			App.flash("Свойства товара сохранены");
                        if( App.page_stock_product_card.closeOnSave ){
                            App.page_stock_product_card.handler.notify('save',App.page_stock_product_card.data);
                        }
		    } else {
			App.flash("Свойства товара не изменились");
		    }
                    App.page_stock_product_card.closeOnSave=true;
		});
                if( App.page_stock_product_card.closeOnSave ){
                    App.page_stock_product_card.node.window('close');
                }
	    } else {
		alert("Код товара не должен содержать сивол: "+(this.data.product_code_new.match(/[^\wабвгдеёжзийклмнопрстуфхцчшщъыьюяіїє\. ,-]/ig)||[]).join(""));
	    }
	},
        next:function( direction ){
            App.page_stock_product_card.closeOnSave=false;
            $("#page_stock_product_card_frm").submit();
            App.page_stock_product_card.handler.notify(direction<0?'prev':'next');
        },
        stockTree:function(){
            App.loadWindow('page/stock/tree').progress(function(status,category){
                if( status==='select' ){
                    $("#Stock_parent_id").combobox('setValue',category.branch_id);
                    $("#Stock_parent_id").combobox('setText',category.label);
                }
            });
        },
	serviceCheck:function(){
	    var is_service=App.val("#product_card_srv_chk");
	    this.node.find('.only_product_props input').attr('disabled',is_service?'disabled':null);
	},
        parsePrice:function( node ){
            node.value=eval(node.value.toString().replace(',','.').match( /[\(\d\.\)\*\/\+-]*/ ).toString()) || 0;
        }
    };
</script>
<form id="page_stock_product_card_frm" onsubmit="App.page_stock_product_card.submit(event)">
    <input type="hidden" name="product_code">
    <div class="inp_group" style="width: 420px;vertical-align: top">
	<img src="img/product.png" style="float:left;width:100px;height: auto" />
	<input name="is_service" title="Услуга" type="checkbox" id="product_card_srv_chk" onclick="App.page_stock_product_card.serviceCheck(this)">
	<input class="easyui-combobox" name="parent_id" id="Stock_parent_id" title="Категория" data-options="
		valueField: 'branch_id',
		textField: 'label',
		loader:App.page_stock_product_card.categoryLoader,
		mode: 'remote',
		hasDownArrow:false,
		onSelect: function(node){App.page_stock_product_card.data.parent_id=node.branch_id},
		icons: [{
			 iconCls:'icon-settings16',
			 handler: function(e){
			    App.page_stock_product_card.stockTree();
			 }
		     }]
		">
	<input name="product_code_new" title="Код" required="required">
	<input name="product_unit" title="Единица" required="required">
	<input name="ru" title="Название Рус" style="width:300px" required="required">
	<input name="ua" title="Название Укр" style="width:300px">
	<input name="en" title="Название Англ" style="width:300px">
    </div>
    <div class="inp_group only_product_props" style="width: 320px;vertical-align: top">
	<input name="product_wrn_quantity" title="Мин. кол-во">
	<input name="product_spack" title="В коробке">
	<input name="product_bpack" title="В ящике">
	<input name="product_weight" title="Вес кг">
	<input name="product_volume" title="Объем м3">
	<input name="product_uktzet" title="Тамож. код">
	<input name="barcode" title="Штрихкод">
	<input name="party_label" title="Партия">
    </div>
    <div class="inp_group" style="width: 320px;vertical-align: top;">
	<fieldset style="width: 300px;">
	    <legend>Цены на товар</legend>
            <input name="sell" title="Продажа" onchange="App.page_stock_product_card.parsePrice(this)" class="icon-calc16" style="background-position: right">
	    <input name="buy" title="Покупка" onchange="App.page_stock_product_card.parsePrice(this)" class="icon-calc16" style="background-position: right">
	    <select name="curr_code" title="Валюта">
		<option value="UAH">UAH Гривна</option>
		<option value="USD">USD Доллар</option>
		<option value="RUB">RUB Рубль</option>
	    </select>
	</fieldset>
    </div>
    <div class="inp_group" style="width: 320px;vertical-align: top;margin-right: 15px;float:right">
	<fieldset style="width: 300px;">
	    <legend>Аналитика</legend>
	    <input name="analyse_type" title="Тип">
	    <input name="analyse_group" title="Группа">
	    <input name="analyse_class" title="Класс">
	    <input name="analyse_section" title="Раздел">
	</fieldset>
    </div>
    <div style="text-align: center;margin-top: 15px;clear: both">
        <button type="submit" onclick="App.page_stock_product_card.closeOnSave=true;"><img src="img/Save-24.png" /> Сохранить</button>
	<button type="button" onclick="App.page_stock_product_card.node.window('close')"><img src="img/close24.png" /> Закрыть</button>
        <span id="stock_prod_card_prevnext" style="visibility: hidden">
            | <button type="button" onclick="App.page_stock_product_card.next(-1)" title="Сохранить и открыть предидущий">&lt;&lt;&lt; Пред.</button>
            <button type="button" onclick="App.page_stock_product_card.next(1)" title="Сохранить и открыть следующий">&gt;&gt;&gt; След.</button>
        </span>
    </div>
</form>
