<link rel="stylesheet" type="text/css" href="js/dijit/themes/claro/claro.css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/dojo/dojo.js" data-dojo-config="parseOnLoad: false,locale: 'ru'"></script>
<script type="text/javascript" src="js/dojo/custom_layer.js"></script>
<script type="text/javascript" src="js/baycik/SeqConnector.js"></script>
<script type="text/javascript" src="js/dhtmlx/tree/dhtmlxcommon.js"></script>
<script type="text/javascript" src="js/dhtmlx/tree/dhtmlxtree.js"></script>
<script type="text/javascript" src="js/dhtmlx/tree/ext/dhtmlxtree_json.js"></script>
<script type="text/javascript" src="js/baycik/Utils.js"></script>

<script type="text/javascript">
    /* global Acc, Connector*/
    Connector = new SeqConnector('./');
    Acc = new Utils();
    
    
    Acc.userData=App.user.props;
    Acc.registry=dijit;
    Acc.dom=dojo;
    
    
    /*Acc.init = function () {
	$('#div_user_panel').show();
	Acc.renderTpl('div_user_panel', Acc.userData || '');
	Connector.addRequest({
	    mod: 'ModuleList'
	}, function (response) {
	    Acc.buildModuleDOM(response);
	    var hash = Acc.appGetState();
	    hash.mod = hash.mod ? hash.mod : response[0].name;
	    Acc.appSetState(hash);
	    //Acc.loadModule(hash.mod);
	});
    };
    */
    Acc.appReady = function () {
	this.topic.subscribe('/app/statechange', function (hash) {
	    //Acc.loadModule(hash.mod);
	});
	//Acc.get_user_data();
    };
    Acc.get_user_data = function () {
	Connector.addRequest({mod: 'Login', rq: 'UserData'}, function (resp) {
	    //App.userData = Acc.userData = resp;
	    Acc.app_title = resp.active_company_name || 'Not logged in!';
	    Acc.init();
	});
    };
    function logout() {
	Connector.addRequest({mod: 'Login', rq: 'UserLogout'}, Acc.get_user_data);
    }
    Acc.sendEmail = function (to, subject, text, fgenerator, doc_view_id, fext) {
	var fvalue = {
	    to: to,
	    subject: subject,
	    body: text,
	    file_name: subject + fext,
	    send_file: 1,
	    copy: 1
	};
	Acc.showPopup(fvalue, function (request) {
	    request.mod = 'Utils';
	    request.rq = 'SendEmail';
	    request.fgenerator = fgenerator;
	    request.doc_view_id = doc_view_id;
	    Connector.addRequest(request);
	}, {
	    tpl: 'sendemail.html'
	});
    };
</script>

    <style>
    .dijitTabContainer {
	overflow: hidden;
    }
    </style>