<link href="Dadata_Suggest/suggestions.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="Dadata_Suggest/jquery.suggestions.min.js"></script>
<script>
    /* global App*/
    App.page_company_details={
	properties:{
	    title: 'Реквизиты компании',
	    width: 920,
	    height: 'auto',
	    shadow:false,
	    onClose: function(){
		App.page_company_details.handler.notify('close',App.page_company_details.data);
		App.page_company_details.node.window('destroy');
		App.page_company_details.node.remove();
		delete App.page_company_details;
	    }
	},
	init:function () {
	    var props=App.page_company_details.properties;
            if(App.page_company_details.data.inline){
                App.page_company_details.node.panel(props);
            } else {
                App.page_company_details.node.window(props);
        	this.node.window('hcenter');
                this.node.window('window').css('position','fixed');
                this.node.window('window').css('top','40px');
            }
	    App.page_company_details.autoselect_label=App.page_company_details.data.autoselect_label;
	    this.checkActive();
	    App.page_company_details.load(App.page_company_details.data.company_id);
            this.initFormOnce();
	},
        initFormOnce:function(){
            if( this.formInited ){
                return;
            }
            this.formInited=true;
            App.formElements("#page_company_details_frm").change(function () {
		var node=this;
		App.page_company_details.updateField(node.name,node.value,node.title);
	    });
	    setTimeout(function(){
		App.page_company_details.DaDataInit();
	    },500);
        },
	DaDataInit:function(){
	    var token="0f4a11196419de6f9f5f69395229bdf85ded1c9c";
	    $("input[name=company_tax_id]").suggestions({
                token: token,
                type: "PARTY",
                count: 5,
                /* Вызывается, когда пользователь выбирает одну из подсказок */
                onSelect: function(s) {
		    console.log(s.data);
		    if( !s.data ){
			return;
		    }
		    App.page_company_details.DaDataSet('company_name',s.data.name.short_with_opf,'skip');
		    App.page_company_details.DaDataSet('company_jaddress',s.data.address.value);
		    App.page_company_details.DaDataSet('company_tax_id',s.data.inn);
		    App.page_company_details.DaDataSet('company_tax_id2',s.data.kpp);
		    App.page_company_details.DaDataSet('company_director',s.data.management.name);
 		    App.page_company_details.DaDataSet('company_director_title',s.data.management.post);
 		    App.page_company_details.DaDataSet('company_code_registration',s.data.ogrn);
 		    App.page_company_details.DaDataSet('company_code',s.data.okpo);
                }
            }).css('width','420px');
	    $("input[name=company_name]").suggestions({
                token: token,
                type: "PARTY",
                count: 5,
                /* Вызывается, когда пользователь выбирает одну из подсказок */
                onSelect: function(s) {
		    console.log(s.data);
		    if( !s.data ){
			return;
		    }
		    App.page_company_details.DaDataSet('company_name',s.data.name.short_with_opf);
		    App.page_company_details.DaDataSet('company_jaddress',s.data.address.value);
		    App.page_company_details.DaDataSet('company_tax_id',s.data.inn,'skip');
		    App.page_company_details.DaDataSet('company_tax_id2',s.data.kpp);
		    App.page_company_details.DaDataSet('company_director',s.data.management.name);
 		    App.page_company_details.DaDataSet('company_director_title',s.data.management.post);
 		    App.page_company_details.DaDataSet('company_code_registration',s.data.ogrn);
 		    App.page_company_details.DaDataSet('company_code',s.data.okpo);
                }
            }).css('width','420px');
	    $("input[name=company_bank_name]").suggestions({
                token: token,
                type: "BANK",
                count: 5,
                /* Вызывается, когда пользователь выбирает одну из подсказок */
                onSelect: function(s) {
		    console.log(s.data);
		    if( !s.data ){
			return;
		    }
		    App.page_company_details.DaDataSet('company_bank_id',s.data.bic,'skip');
		    App.page_company_details.DaDataSet('company_bank_corr_account',s.data.correspondent_account);
		    App.page_company_details.DaDataSet('company_bank_name',s.data.name.payment);
                }
            }).css('width','210px');
	    $("input[name=company_bank_id]").suggestions({
                token: token,
                type: "BANK",
                count: 5,
                /* Вызывается, когда пользователь выбирает одну из подсказок */
                onSelect: function(s) {
		    console.log(s.data);
		    if( !s.data ){
			return;
		    }
		    App.page_company_details.DaDataSet('company_bank_id',s.data.bic);
		    App.page_company_details.DaDataSet('company_bank_corr_account',s.data.correspondent_account);
		    App.page_company_details.DaDataSet('company_bank_name',s.data.name.payment,'skip');
                }
            }).css('width','210px');
	    $("input[name=company_email]").suggestions({
                token: token,
                type: "EMAIL",
                count: 5
            }).css('width','210px');
	},
	DaDataSet:function(name,value,skip){
	    var current_value=$("input[name="+name+"]").val();
	    if(current_value!=value){
		$("input[name="+name+"]").val(value);
		skip && $("input[name="+name+"]").trigger("change");
	    }
	},
	checkActive:function(){
	    if( this.data.is_active ){
		this.node.find(".page_company_details_passive_details").hide();
		this.node.find(".page_company_details_active_details").show();
		App.handler.progress(function(status,data){
		    if( status==="activeCompanySelected" ){
			App.page_company_details.load(data.company_id);
		    }
		});
	    }
	},
	focus:function(){
	    this.load(App.page_company_details.data.company_id);
	},
	load:function( company_id ){
	    if( company_id*1 ){
		App.get('Company/companyGet/'+company_id,function(xhr){
		    App.page_company_details.data=App.json(xhr);
		    App.page_company_details.setup();
		    App.page_company_details.setTitle();
		});
	    }
	},
	setTitle:function(){
	    this.node.panel('setTitle','Реквизиты компании '+(App.page_company_details.data.label==='null'?App.page_company_details.data.label:'') );
	},
	updateField:function(field,value,title){
	    App.post('Company/companyUpdate/',{company_id:App.page_company_details.data.company_id,field:field,value:value},function(ok){
		if( ok*1 ){
		    App.page_company_details.data[field]=value;
		    App.flash("Сохранено: " + title);
		    if( field==='label' ){
			App.page_company_details.handler.notify('label_changed');
		    }
		} else {
		    App.flash("Сохраненние не удалось: " + title);
		}
	    });
	},
	setup:function(){
	    App.setupForm("#page_company_details_frm", App.page_company_details.data);
	    if( this.autoselect_label ){
		this.node.find('input[name=label]').select();
	    }
	    App.page_company_details.makeActiveButtonCheck();
	},
	makeActive:function(){
	    if( confirm("Сделать компанию "+App.page_company_details.data.label+" активной?") ){
		App.post('Company/companyMakeActive/'+App.page_company_details.data.company_id,function(ok){
		    if( ok*1 ){
			App.page_company_details.data['is_active']=1;
			App.page_company_details.makeActiveButtonCheck();
			App.flash("Компания "+App.page_company_details.data.label+" теперь активная");
		    } else {
			App.flash("Сохраненние не удалось");
		    }
		});
		
	    }
	},
	makeActiveButtonCheck:function(){
	    if( App.page_company_details.data.is_active*1 ){
		$(".comp_det_makeActBut").attr('disabled',true);
	    }
	}
    };
</script>

<style>
    #page_company_details_frm b{
	width:120px;
    }
</style>
<div id="page_company_details_frm" style="">
    <div class="inp_group" style="width: 550px;">
	<input type="text" name="company_name" title="Полное название*"/>	
	<input type="text" name="company_jaddress" title="Юр. Адрес*" style="width:410px;"/>
	<input type="text" name="company_tax_id" title="ИНН*"/>
	<input type="text" name="company_tax_id2" title="КПП"/>	
	<input type="text" name="company_code" title="ОКПО"/>	
	<input type="text" name="company_code_registration" title="ОГРН"/>	
    </div>
    <div class="inp_group" style="width:340px;">
	<div class="page_company_details_passive_details">
	    <input type="text" name="company_agreement_num" title="Номер договора"/>
	    <input type="text" name="company_agreement_date" title="Дата договора"/>
	</div>
	<div class="inp_rule"></div>
	<input type="text" name="company_bank_id" title="Код Банка"/>
	<input type="text" name="company_bank_name" title="Название банка"/>	
	<input type="text" name="company_bank_account" title="Поточный счет"/>
	<input type="text" name="company_bank_corr_account" title="Корр. счет"/>
    </div>
    <div class="inp_rule"></div>
    <div class="inp_group" style="width:340px;">
	<input type="text" name="label" title="Короткое название" style="font-weight: bold"/>
	<input type="text" name="company_director" title="Руководитель"/>
	<input type="text" name="company_director_title" title="Должность Рукв."/>
	<input type="text" name="company_address" title="Фактический Адрес"/>
	<input type="text" name="company_person" title="Контактное лицо"/>
    </div>
    <div class="inp_group" style="width:340px;">
	<input type="text" name="company_phone" title="Телефон"/>	
	<input type="text" name="company_mobile" title="Мобильный"/>
	<input type="text" name="company_email" title="E-mail"/>
	<input type="text" name="company_web" title="Сайт"/>
    </div>
    <div class="inp_rule"></div>
    <textarea name="company_description" title="Дополнительно" style="width:550px;"></textarea>
    <div class="page_company_details_passive_details inp_group" style="display: inline-block">
	<button type="button" onclick="App.page_company_details.makeActive()" class="comp_det_makeActBut"><img src="img/home.png"> Сделать активной компанией</button>
    </div>
    <div class="inp_rule"></div>
    <div class="page_company_details_active_details" style="display: none">
        <input type="text" name="company_vat_rate" title="Ставка НДС"/>
        <select name="language" title="Язык">
            <option value="en">English</option>
            <option value="ua">Українська</option>
            <option value="ru">Русский</option>
        </select>
        <select name="curr_code" title="Валюта">
            <option value="UAH">Гривна UAH</option>
            <option value="USD">Доллар USD</option>
            <option value="RUB">Рубль RUB</option>
        </select>
    </div>
    <div>
        <img src="img/add_edit.png">
    </div>

    <div id="page_company_details_additional" class="easyui-panel" title="Дополнительные реквизиты" data-options="closable:true">
        <div style="border: red 1px solid">
            <input type="text" name="company_detail_name" title="Название реквизита"/>
            <button><img src="img/delete24.png"> Удалить</button>
            
            <div class="inp_rule"></div>
            <div class="inp_group" style="width: 340px;">
                <input type="text" name="company_name" title="Полное название"/>
                <input type="text" name="company_tax_id" title="ИНН"/>
                <input type="text" name="company_tax_id2" title="КПП"/>	
                <input type="text" name="company_code" title="ОКПО"/>	
                <input type="text" name="company_code_registration" title="ОГРН"/>	
                <input type="text" name="company_person" title="Контактное лицо"/>
                <input type="text" name="company_director" title="Директор"/>
            </div>
            <div class="inp_group" style="width:340px;">
                <input type="text" name="company_address_zip" title="Индекс"/>
                <input type="text" name="company_address_region" title="Регион"/>
                <input type="text" name="company_address_district" title="Район"/>
                <input type="text" name="company_address_settlement" title="Населенный пункт"/>
                <input type="text" name="company_address_street" title="Улица"/>
                <input type="text" name="company_address_building" title="Дом/строение"/>
                <input type="text" name="company_address_flat" title="Квартира/офис"/>
            </div>
            <div class="inp_rule"></div>
            <div class="inp_group" style="width:340px;">
                <input type="text" name="company_mobile" title="Мобильный"/>
                <input type="text" name="company_email" title="E-mail"/>
                <input type="text" name="company_web" title="Сайт"/>
                <input type="text" name="company_phone" title="Телефон"/>
            </div>
            <div class="inp_group" style="width:340px;">
                <input type="text" name="company_bank_id" title="Код Банка"/>
                <input type="text" name="company_bank_name" title="Название банка"/>	
                <input type="text" name="company_bank_account" title="Рассчетный счет"/>
                <input type="text" name="company_bank_corr_account" title="Корр. счет"/>
            </div>

            <div class="inp_rule"></div>
            <textarea name="company_description" title="Дополнительно" style="width:550px;"></textarea>

        </div>
    </div>
    </div>
