<script type="text/javascript">
    /* global App */
    
    CompPrefs=App.page_company_prefs={
	init:function(){
	    App.setupForm("#CompPrefs_other");
	    App.handler.progress(function(status){
		if( status==="passiveCompanyInited" || status==="passiveCompanySelected" ){
		    CompPrefs.load();
		}
	    });
	    this.loadOnce();
	},
	loadOnce:function(){
	    if(!this.loadedonce){
		this.load();
	    }
	},
	focus:function(){
	    this.load();
	},
	load:function(){
	    this.loadedonce=true;
	    App.get('Company/companyPrefsGet',function(resp){
		if( resp ){
		    CompPrefs.prefData=App.json(resp);
		    CompPrefs.processDiscounts(CompPrefs.prefData);
		    CompPrefs.processOthers(CompPrefs.prefData);
		}
	    });
	},
	update:function(type, id, value, title){
	    App.post( 'Company/companyPrefsUpdate',{type:type,field:id,value:value}, function(ok){
		if( ok*1 ){
		    App.flash("Сохранено: "+title);
		} else {
		    CompPrefs.load();
		}
	    });
	},
	processDiscounts:function(data){
	    for(var i in data.discounts){
		if( data.discounts[i].discount=== null ){
		    data.discounts[i].plus='';
		    data.discounts[i].minus='';
		    continue;
		}
		var discount=data.discounts[i].discount*100-100;
		if( discount>0 ){
		    data.discounts[i].plus=discount;
		    data.discounts[i].minus='';
		} else {
		    data.discounts[i].plus='';
		    data.discounts[i].minus=-discount;
		}
	    }
	    App.renderTpl("CompPrefs_markup",data);
	},
	disctUpdate:function(inp){
	    var branch_id=inp.name.split('_')[1];
	    var sign=( inp.name.split('_')[0]==='minus' )?-1:1;
	    var ratio=1+sign*inp.value/100;
	    var pair_name=(sign>0?'minus_':'plus_')+branch_id;
	    $("input[name="+pair_name+"]").val('');
	    CompPrefs.update('discount',branch_id,ratio,inp.title+' '+inp.value);
	},
	processOthers:function(data){
	    App.renderTpl('CompPrefs_other',data);
            App.setupForm("#CompPrefs_other",data.other).change(function(node){
		CompPrefs.update('other',this.name,App.val(this),this.title);
	    });;
	}
    };
    //CompPrefs.init();
</script>

<div class="panel_block">
    <div class="easyui-panel" title="Скидки и надбавки" style="width:260px;padding: 3px;">
	<div id="CompPrefs_markup" class="covert">
	    <div style="padding: 2px;height: 20px;">
		<b style="width:110px;display: inline-block">Категория</b>
		<b style="width:55px;display: inline-block">Скидка</b>
		<b style="width:50px;display: inline-block">Наценка</b>
	    </div>
	    {{discounts}}
	    <div style="padding: 2px;border-top: 1px #ccf solid">
		<span style="width:110px;display: inline-block">{{label}}:</span> 
                <input type="text" title="Скидка {{label}}" value="{{minus}}" name="minus_{{branch_id}}" class="discount_inp" onchange="CompPrefs.disctUpdate(this);"> 
		<input type="text" title="Наценка {{label}}" value="{{plus}}" name="plus_{{branch_id}}" class="discount_inp" onchange="CompPrefs.disctUpdate(this);">
	    </div>
	    {{/discounts}}	
	</div>
    </div>
</div>
<div class="panel_block">
    <div id="CompPrefs_other" class="easyui-panel" title="Другие настройки" style="width:360px;padding: 3px;">
	<div class="inp_rule">Ценовая политика</div>
        <select name="price_label" title="Категория цен">
	    {{price_label_list}}
	    <option value="{{label}}">{{label}}</option>
	    {{/price_label_list}}
	</select>
	<select name="curr_code" title="Осн. Валюта">
	    <option value="UAH">Гривна</option>
	    <option value="USD">Доллар</option>
	    <option value="RUB">Рубль</option>
	</select>
	<div>
	    <input type="checkbox" name="is_supplier" title="Обновлять закуп. цены">
	</div>
	<div class="inp_rule">Контроль</div>
	<input name="deferment" title="Отсрочка">
	<input name="debt_limit" title="Лимит долга">
        <select name="manager_id" title="Закреплен за">
	    {{staff_list}}
	    <option value="{{user_id}}">{{full_name}}</option>
	    {{/staff_list}}
	</select>
	<div class="inp_rule">Предпочтения</div>
	<select name="language" title="Язык">
	    <option value="en">English</option>
	    <option value="ua">Українська</option>
	    <option value="ru">Русский</option>
	</select>
    </div>
</div>
<style type="text/css">
    .discount_inp{
	text-align:right;
	width:50px;
    }
    .panel_block{
	display:inline-block;
	vertical-align: top;
    }
</style>