<style type="text/css">
#blank_template{
	text-align:justify;
	font-size:10pt;
}
#blank_template h3{
	text-align:center;
	font-family:Arial;
	font-size:11pt;
}
#blank_template p{
	text-align:justify;
	font-family:Arial;
}
</style>
<div id="blank_template" class="page" style="width:710px">
<h3 style="text-align:center">ДОГОВІР ПОСТАВКИ № <span class="blank_number blank_input" title="Номер документа">{{doc.num}}</span></h3>

  <br>
  <br>
    <table width="100%"><tr>
      <td width="50%" valign="top" align="left"><b>м. <span class="blank_input blank_required" title="Город">Мелітополь</span></b></td>
      <td width="50%" valign="top" align="right"><b class="blank_calendar blank_date" title="Дата документа">{{doc.date}}</b></td>
    </tr></table>
  <br>
  <p style="text-align:justify;">
      <b>{{a.company_name}}</b>, яке є платником податку на прибуток на загальних умовах, в особі директора <span class="blank_input blank_required" title="Имя директора продавца">{{a.company_director}}</span>, діючого на підставі Статуту в подальшому “Продавець”, з однієї сторони, та <b>{{p.company_name}}</b>, яке є платником податку на прибуток на загальних умовах, в особі директора <span class="blank_input">{{p.company_director}}</span>, діючого на підставі Статуту,  в подальшому “Покупець”, з другої сторони, а разом, в подальшому «Сторони», уклали цей Договір про нижченаведене:<br>
  </p>
  
<h3 style="text-align:center">1.     ПРЕДМЕТ ДОГОВОРУ</h3>
<p style="text-align:justify;">1.1.  Продавець зобов’язується поставити узгодженими партіями Покупцеві продукцію: електротехнiчнi вироби, надалі “Товар”, зазначену у додатках: видаткових накладних та рахунках-фактурах на кожну партію Товару, які є його невід’ємною частиною, а Покупець зобов’язується прийняти і оплатити кожну партію Товару.
</p>
 
<h3 style="text-align:center">2.     КІЛЬКІСТЬ ТА ЯКІСТЬ ТОВАРУ </h3>
<p style="text-align:justify;">
  2.1.  Кількість та вартість Товару в окремій партії зазначається у видаткових накладних та рахунках-фактурах на кожну партію Товару згідно п. 1.1. даного Договору.<br>
  2.2.  Якість Товару по даному Договору повинна бути підтверджена сертифікатом якості виробника, оформленим згідно вимог чинного законодавства.<br>
  2.3.  Порядок пред’явлення претензій з якості регулюється законодавством України. Претензії з якості пред’являються відповідно до законодавчих актів України. Усі претензійні матеріали повинні бути оформлені відповідно до Інструкції про порядок приймання продукції за якістю № П-7 від 25.04.1966р.
</p>

<h3 style="text-align:center">3.     УМОВИ ПОСТАВКИ ТА РОЗРАХУНКІВ </h3>
<p style="text-align:justify;">3.1.  Продавець відпускає Товар Покупцю протягом не більш ніж 7 днів з моменту погодження Сторонами асортименту, ціни та кількості Товару в кожній партії.<br>
  3.2.  Оплату транспортних послуг перевізника бере на себе Продавець.<br>
  3.3.  Перехід права власності і ризиків на Товар з Продавця на Покупця відбувається після приймання Товару на складі Покупця та підписання видаткових накладних.<br>
  3.4.  Товар вважається прийнятим по кількості відповідно до видаткових накладних.<br>
  Претензії з кількості пред’являються відповідно до законодавчих актів України. Усі претензійні матеріали повинні бути оформлені відповідно до Інструкції про порядок приймання продукції за кількістю № П-6 від 15.06.1965р.<br>
  3.5.  Загальна сума даного Договору складається із сумарної ціни Товару, вказаної в рахунках-фактурах.<br>
  3.6.  Розрахунки здійснюються на умовах відстрочки платежу на <u><b><span class="blank_input">7</span></b></u> календарних днів, в повному обсязі вказанному у рахунку-фактурі. Дата поставки Товару визначається датою підпису накладної або за письмовим узгодженням сторін іншим чином.<br>
  3.7.  Оплата здійснюється шляхом перерахування грошей на п/р Продавця.
</p>
  
<h3 style="text-align:center">4.     ПОРЯДОК  ВИРІШЕННЯ СПОРІВ</h3> 
<p style="text-align:justify;">4.1.  Всі розбіжності, які виникають під час виконання даного Договору повинні вирішуватися Сторонами самостійно, шляхом переговорів. У випадку, якщо сторони не досягнуть згоди за допомогою переговорів, розбіжності вирішуються у відповідності з діючим законодавством України або передаються на розгляд до Господарського суду України.
</p>

<h3 style="text-align:center">5.     ВІДПОВІДАЛЬНІСТЬ СТОРІН</h3>
<p style="text-align:justify;">  5.1.  Сторони несуть відповідальність за невиконання або неналежне виконання своїх обов’язків за цим договором відповідно до чинного законодавства України.<br>
  5.2.  Продавець несе відповідальність у встановленому чинним законодавством порядку за якість товару у випадку виявлення скритих дефектів товару після його фактичної передачі Покупцеві.<br>
  5.3.  Продавець за прострочення поставки Товару згідно п. 3.1 Договору сплачує Покупцю штраф в розмірі подвійної облікової ставки НБУ, діючої на момент прострочки поставки, за кожен день прострочки від вартості непоставленої партії Товару.<br>
  5.4.  Покупець за прострочення сплати вартості Товару сплачує Продавецю пеню в розмірі подвійної облікової ставки НБУ, діючої на момент прострочки оплати, за кожен день прострочки від неоплаченої суми<br>
  5.5.  Сторони звільняються від відповідальності за часткове або повне невиконання зобов’язань за цим  договором, якщо воно стало наслідком обставин непереборної сили, що виникли після укладання договору в результаті подій надзвичайного характеру, які сторона не могла запобігти доступними способами. До обставин непереборної сили відносяться події, на які сторона не може впливати і за виникнення яких не несе відповідальності. До обставин непереборної сили дорівнюються страйки, прийняття законодавчими або іншими органами державної влади законів. постанов і розпоряджень, що істотно погіршують або практично перешкоджають виконанню зобов’язань за даним договором, а також воєнні дії будь-якого характеру, визнані офіційно.
</p>

<h3 style="text-align:center">6.   ТЕРМІН ДІЇ ДОГОВОРУ</h3>
<p style="text-align:justify;">  6.1. Договір набирає чинності з моменту підписання його сторонами і діє протягом одного календарного року. Дія<br>
  цього Договору автоматично продовжується на наступний період, якщо ні одна із сторін не заявить іншій стороні в письмовій формі про його розірвання за один місяць до припинення Договору.<br>
  6.2. Дія цього Договору може бути припинена достроково за згодою сторін за умови виконання сторонами зобов’язань по цьому Договору.<br>
</p>

<h3 style="text-align:center">7. ДОДАТКОВІ ПОЛОЖЕННЯ</h3>
<p style="text-align:justify;">  7.1.  Даний Договір укладений у 2 (двох) оригінальних примірниках, по одному для кожної із Сторін. Кожний примірник цього Договору  має однакову юридичну силу.<br>
  7.2.  Цей Договір може бути розірваний тільки за згодою сторін.<br>
  7.3.  У випадках, не передбачених цим Договором, Сторони керуються чинним законодавством України.<br>
  7.4.  Всі зміни та доповнення до цього Договору повинні бути здійснені за згодою Сторін у письмовий формі, підписані уповноваженими особами Сторін та скріплені їх печатками (можливе їх підписання по факсу).
</p>

<br>
<table width="100%">
  <tr>
  <td width="50%" align="left" valign="top">
    <h3 style="text-align:center">Продавець:</h3>
      {{a.company_name}}
      <br />{{a.company_jaddress}}
      <br> Тел.:{{a.company_phone}}
      {{if a.company_bank_account}}<br />П/р {{a.company_bank_account}}{{/if}}
      {{if a.company_bank_name }} в {{a.company_bank_name}} {{/if}}
      {{if a.company_bank_id }} МФО:{{a.company_bank_id}} {{/if}}
      {{if a.company_vat_id }}<br /> ІПН:{{a.company_vat_id}} {{/if}}
      {{if a.company_vat_licence_id }}<br /> № свідоцтва:{{a.company_vat_licence_id}} {{/if}}
      {{if a.company_code }}<br /> ЄДРПОУ:{{a.company_code}} {{/if}}
      {{if a.company_web }}<br /> Сайт:{{a.company_web}} {{/if}}
      {{if a.company_email }}<br /> e-mail:{{a.company_email}} {{/if}}
      <br><br>
    </td>
  <td width="50%" align="left" valign="top">
    <h3 style="text-align:center">Покупець:</h3>
      {{p.company_name}}
      <br />{{p.company_jaddress}}
      <br> Тел.:{{p.company_phone}}
      {{if p.company_bank_account }}<br />П/р {{p.company_bank_account}}{{/if}}
      {{if p.company_bank_name }} в {{p.company_bank_name}} {{/if}}
      {{if p.company_bank_id }} МФО:{{p.company_bank_id}} {{/if}}
      {{if p.company_vat_id }}<br /> ІПН:{{p.company_vat_id}} {{/if}}
      {{if p.company_vat_licence_id }}<br /> № свідоцтва:{{p.company_vat_licence_id}} {{/if}}
      {{if p.company_code }}<br /> ЄДРПОУ:{{p.company_code}} {{/if}}
      {{if p.company_web }}<br /> Сайт:{{p.company_web}} {{/if}}
      {{if p.company_email }}<br /> e-mail:{{p.company_email}} {{/if}}
      <br><br>
  </td>
</tr>
<tr>
	<td align="left">__________________/{{a.company_director}}/<br>(підпис, МП)</td>
    <td align="left">__________________/{{p.company_director}}/<br>(підпис, МП)</td>
</tr>
</table>
</div>
