<table id="catalog_company_list_dg" class="easyui-treegrid"
       toolbar="#toolbar" fitColumns="true" singleSelect="true"
       data-options="url:'catalog-companyTreeFetch/',idField:'branch_id',treeField:'label',
       onDblClickRow:App.catalog_company_list.CRUD.updateClick,
       onBeforeDrop:App.catalog_company_list.CRUD.updateDrop,
       onDragOver:function (targetRow) {
	    return targetRow.is_leaf == 0;
	},
       onLoadSuccess: function(row){
	//$(this).treegrid('enableDnd');
       }">
    <thead>
	<tr>
	    <th field="label" width="50">Название</th>
	    <th field="address" width="50">Адрес</th>
	    <th field="mobile" width="50">Моб. телефон</th>
	    <th field="name" width="50">Полное название</th>
	</tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="$('#catalog_company_list_dg').treegrid('reload')">Обновить</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="App.catalog_company_list.CRUD.createClick('folder')">Добавить Папку</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-man" plain="true" onclick="App.catalog_company_list.CRUD.createClick('leaf')">Добавить Контрагента</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="App.catalog_company_list.CRUD.updateClick()">Редактировать</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="App.catalog_company_list.CRUD.deleteClick()">Удалить</a>
</div>
<!-- <script type="text/javascript" src="js/jquery-easyui-1.4/treegrid-dnd.js"></script> -->
<script type="text/javascript">
    App.catalog_company_list.init = function () {
	$('#catalog_company_list').window({
	    title: 'Контрагенты',
	    width: 1000,
	    height: 600,
	    onResize: function () {
		$('#catalog_company_list_dg').treegrid('resize');
	    }
	});
    };
    
   
    
    //CRUD
    App.catalog_company_list.CRUD={
	create:function( type, parent_id, label ){
	    $.ajax({
		url: 'catalog-treeCreate/'+App.uri('companies_tree',type,parent_id,label),
		complete: function (xhr) {
		    if ( xhr.responseText >0 ) {
			var data=[{
				branch_id:xhr.responseText,
				label: label,
				state:(type=='folder'?'closed':''),
				is_leaf:(type=='folder'?1:0)
			    }];
			$('#catalog_company_list_dg').treegrid('append', {parent: parent_id,data:data});
			App.flash(label + ' добавлен');
		    }
		    else {
			App.flash("Добавление не удалось", 'alert');
		    }
		}
	    });
	},
	createClick:function ( type ) {
	    var parent_id=0;
	    var selected_row = $('#catalog_company_list_dg').treegrid('getSelected');
	    if( selected_row ){
		parent_id=(selected_row.is_leaf == 0)?selected_row.parent_id:selected_row.branch_id;
	    }
	    $.messager.prompt('Добавление', 'Введите название:', function (label) {
		if( label===undefined ){
		    return false;
		}
		App.catalog_company_list.CRUD.create( type, parent_id, label );
	    });
	    $("input.messager-input").select();
	},
	update:function( branch_id, field, value){
	    $.ajax({
		url: 'catalog-treeUpdate/'+App.uri('companies_tree',branch_id,field,value),
		complete: function (xhr) {
		    if ( xhr.responseText == 'true' ) {
			$('#catalog_company_list_dg').treegrid('update', {id: branch_id,row:{label: label}});
			App.flash(label + ' сохранен');
		    }
		    else {
			App.flash("Сохранение не удалось", 'alert');
		    }
		}
	    });
	},
	updateClick:function(){
	    var selected_row = $('#catalog_company_list_dg').treegrid('getSelected');
	    if ( selected_row.is_leaf == 1 ) {
		App.loadWindow('catalog/company_form', selected_row).progress(function (status,fvalue) {
		    if( status=='close' ){
			$('#catalog_company_list_dg').treegrid('update',{
			    branch_id:fvalue.branch_id,
			    row:fvalue
			});
		    }
		    //$('#catalog_company_list_dg').treegrid('reload');
		});
	    }
	    else {
		$.messager.prompt('Изменение записи', 'Введите название папки:', function (label) {
		    if( label===undefined ){
			return false;
		    }
		    App.catalog_company_list.CRUD.update( selected_row.branch_id, 'label', label );
		});
		$("input.messager-input").attr('value',selected_row.label).select();
	    }
	},
	updateDrop:function (targetRow, sourceRow, point) {
	    if (targetRow.is_leaf == 1) {
		return false;
	    }
	    $('#catalog_company_list_dg').treegrid('expand', targetRow.branch_id);
	    this.update(sourceRow.branch_id,'parent_id',targetRow.branch_id);
	},
	delete:function( branch_id, label ){
	    $.ajax({
		//url: 'catalog-treeDelete/companies_tree/'+branch_id,
		complete: function (xhr) {
		    if (xhr.responseText >0) {
			$('#catalog_company_list_dg').treegrid('remove',branch_id);
			App.flash("Удалено: "+xhr.responseText+" записей " + label);
		    }
		    else{
			App.flash("Удаление не удалось", 'alert');
		    }
		}
	    });
	},
	deleteClick:function () {
	    $.messager.confirm('Внимание', 'Удалить запись?', function (result) {
		if (result) {
		    var selected_row = $('#catalog_company_list_dg').treegrid('getSelected');
		    App.catalog_company_list.CRUD.delete( selected_row.branch_id, selected_row.label );
		}
	    });
	}
    };
</script>