<script type="text/javascript">
    /*global App */
    App.page_events_event = {
        init: function () {
            this.node.window({
                title: 'Редактирование задания',
                width: 800,
		top:50,
		height: 'auto',
		shadow:false,
		onClose:function(){
		    App.page_events_event.node.remove();
		    delete App.page_events_event;
		}
            });
	    this.node.window('hcenter');
	    this.node.window('window').css('position','fixed');
	    
	    this.data.event_date=this.data.event_date || App.toDmy(new Date());
	    this.data.created_by=this.data.created_by||'-';
	    this.data.modified_by=this.data.modified_by||'-';
	    this.data.event_priority=this.data.event_priority||'3medium';
	    App.setupForm("#page_events_event_frm", this.data);
	    App.renderTpl('page_events_event_frm_modified',this.data);
            if (this.data.event_id) {
                $('#event_delete_button').attr('disabled', false);
            }
            $('#page_events_event_frm').submit(function (event) {
                event.preventDefault();
                var fvalue = App.collectForm("#page_events_event_frm");
                App.page_events_event.data = fvalue;
                App.page_events_event.saveEvent(fvalue);
            });
        },
        saveEvent: function (fvalue) {
	    var card_event_id=fvalue.event_id;
            fvalue.event_date = App.toIso(fvalue.event_date);
            $.post('Events/eventSave/'+card_event_id,fvalue,function( resp ){
		if( !card_event_id ){//new record card_event_id==0
		    fvalue.event_id = resp;
		    $("input[name='event_id']").val(fvalue.event_id);
		    App.page_events_event.data = fvalue;
		}
                App.flash("Запись сохранена: " + fvalue.event_name);
		App.page_events_event.handler.notify('create', fvalue);
                App.page_events_event.node.window('close');                
            });
        },
        deleteEvent: function () {
            if (confirm('Удалить запись?') && App.page_events_event.data.event_id) {
                $.post('Events/eventDelete/'+App.page_events_event.data.event_id,function(ok){
		    if( ok*1 ){
			App.flash("Запись удалена");
			App.page_events_event.handler.notify('delete');
			App.page_events_event.node.window('close');
		    }else {
			App.flash("Запись неудалена");
		    }
                });
            }
	},
        setLabel: function (label) {
            App.page_events_event.data.event_label = label;
            $('[name="event_label"]').val(label);
        }
    };
</script>
<form id="page_events_event_frm" onsubmit="return false;" style="-moz-user-select:none;">
    <input type="hidden" name="event_user_id"/>
    <input type="hidden" name="event_id"/>
    <img src="img/event.png" style="float:left;margin: 5px;" />
    <div style="display: inline-block;width: 320px;">
        <input type="text" name="event_date" title="Дата" style="width:100px" class="easyui-datebox" />
        <input type="text" name="event_name" title="Задание" />
        <input type="text" name="event_place" title="Место" />
        <input type="text" name="event_target" title="Цель" />
        <input type="text" name="event_note" title="Контакт" />
        <input type="checkbox" name="event_is_private" value="1" title="Скрыть" />
    </div>
    <div style="display: inline-block;width: 320px;vertical-align: top">
	<select name="event_priority" title="Приоритет">
	    <option value="1critical" style="background-color: red">Критический</option>
	    <option value="2high" style="background-color: yellow">Высокий</option>
	    <option value="3medium" selected="selected">Средний</option>
	    <option value="4low" style="background-color: #ccc">Низкий</option>
	    <option value="5future" style="background-color: green">В планах</option>
	</select>
        <div class="inp_group" style="text-align: right;">
            <a href="javascript:App.page_events_event.setLabel('Доставка')">Доставка</a> | 
            <a href="javascript:App.page_events_event.setLabel('Напоминание клиенту')">Напоминание клиенту</a> | 
            <a href="javascript:App.page_events_event.setLabel('Задания на складе')">Задания на складе</a> 
        </div>
        <input type="text" name="event_label" placeholder="Группа" title="Группа задания" style="background-color:#FFFFCC" />
        <textarea rows="4" name="event_descr" placeholder="Комментарий" style="width: 300px"></textarea>
	<div id="page_events_event_frm_modified">
	    <img src="img/add-16.png" title="Создано пользователем" style="vertical-align: middle"> {{created_by}} 
	    <img src="img/edit-16.png" title="Изменено пользователем" style="vertical-align: middle"> {{modified_by}}
	</div>
    </div>
    <div style="text-align: center;margin-top: 30px;">
        <button type="submit"><img src="img/Save-24.png" style="vertical-align: middle" /> Сохранить</button>
        <button type="button" onclick="App.page_events_event.deleteEvent()" id="event_delete_button" disabled="disabled"><img src="img/delete.png" style="vertical-align: middle" /> Удалить</button>
    </div>
</form>