<script>
    /*global App*/
App.page_events_scheduler={
    activeDates:[],
    selectedDay:App.toIso(App.today()),
    init:function(){
	this.activeDatesGet();
    },
    activeDatesGet:function(){
	App.get("Events/activeDatesGet",function(resp){
	    App.page_events_scheduler.activeDates=App.json(resp);
	    $("#event_calendar").calendar();
	    App.page_events_scheduler.tile.load();
	});
    },
    show_dialog:function(fvalue){
	fvalue.event_creator_user_id = App.user.props.user_id;
	fvalue.event_date_dmy=App.toDmy(App.page_events_scheduler.selectedDay);
	App.loadWindow('page/events/event', fvalue).progress(function (status, fvalue) {
	    if (status === 'update' || status === 'create' || status === 'delete') {
		if( fvalue && fvalue.event_date_dmy ){
		    App.page_events_scheduler.selectedDay = fvalue.event_date_dmy;
		}
		App.page_events_scheduler.activeDatesGet();
	    }
	});
    },
    calendar:{
	formatter:function (date) {
	    var iso = App.toIso(date);
	    for (var i in App.page_events_scheduler.activeDates) {
		if ( iso === App.page_events_scheduler.activeDates[i]['event_date'] ) {
		    return '<div style="border:2px #0f0 solid;border-radius:18px;font-size:14px;">' + date.getDate() + '</div>';
		}
	    }
	    return '<div style="font-size:14px;">' + date.getDate() + '</div>';
	},
	onChange: function(date){
	    App.page_events_scheduler.selectedDay = App.toIso(date);
	    App.page_events_scheduler.tile.load();
	}
    },
    tile:{
	event_list:[],
	load:function(){
	    App.get("Events/listFetch/"+App.page_events_scheduler.selectedDay,function(resp){
		var event_list=App.json(resp);
                App.page_events_scheduler.tile.group_entries(event_list);
	    });
	},
        group_entries:function(event_list){
            var event_label='---';
            var group=[];
            var groupped_events=[];
            for( var i in event_list ){
                if( event_label!==event_list[i].event_label && group.length>0 ){
                    groupped_events.push({
                        label:event_label,
                        rows:group
                    });
                    group=[];
                }
                event_list[i].index=i;
                group.push( event_list[i] );
                event_label=event_list[i].event_label||'-';
            }
            groupped_events.push({
                label:event_label,
                rows:group
            });
            App.page_events_scheduler.tile.event_list=event_list;
            App.page_events_scheduler.tile.render(groupped_events);
        },
        render:function(groupped_events){
            console.log(groupped_events,App.page_events_scheduler.tile.event_list);
            App.renderTpl('events_tile',{events:groupped_events});
        },
	click:function( node ){
	    $(".selected").removeClass("selected");
	    $(node).addClass("selected");
	},
	statusClick:function( node ){
	    var i=$(node).parent().data('event-index');
	    var event=App.page_events_scheduler.tile.event_list[i];
	    if( event.event_status==='undone' || event.event_status==='pending' ){
		event.event_status='done';
		App.page_events_scheduler.tile.updateEvent(event);
	    }
	},
	docClick:function( node ){
	    var i=$(node).parent().data('event-index');
	    var doc_id=App.page_events_scheduler.tile.event_list[i].doc_id;
	    App.loadWindow('page/trade/document',{doc_id:doc_id});
	},
	updateEvent:function(event){
            App.post('Events/eventSave/',event,function( resp ){
                App.flash("Запись сохранена: " + event.event_name);
		App.page_events_scheduler.tile.load();               
            });
	},
	create:function(node){
	    var header=$(node).parent().data('header');
	    var fvalue = {
		event_label: header,
		event_date_dmy: App.page_events_scheduler.selectedDay
	    };
	    App.page_events_scheduler.show_dialog(fvalue);
	},
	edit:function(node){
	    var index=node?$(node).data('event-index'):$(".selected").data('event-index');
	    App.page_events_scheduler.show_dialog(App.page_events_scheduler.tile.event_list[index]);
	},
	delete:function(node){
	    var index=node?$(node).data('event-index'):$(".selected").data('event-index');
            if (confirm('Удалить запись?') && App.page_events_scheduler.tile.event_list[index].event_id) {
                App.post('Events/eventDelete/'+App.page_events_scheduler.tile.event_list[index].event_id,function(ok){
		    if( ok*1 ){
			App.flash("Запись удалена");
			App.page_events_scheduler.tile.load();
		    }else {
			App.flash("Запись неудалена");
		    }
                });
            }	    
	},
	move:function(node){
	    var label=$(node).parent().data('header');
	    var index=$(".selected").data('event-index');
	    var event_id=index?App.page_events_scheduler.tile.event_list[index].event_id:0;
	    App.loadWindow("page/events/move").progress(function(status,newdate,mode){
		if( status==='move' ){
		    App.post("Events/eventMove/"+App.uri(event_id,newdate,mode,App.page_events_scheduler.selectedDay,label),function(ok){
			if( ok*1 ){
			    App.flash("Запись перенесена");
			    App.page_events_scheduler.activeDatesGet();
			    $("#event_calendar").calendar('moveTo',new Date(newdate));
			} else {
			    App.flash("Запись не перенесена");
			}
		    });
		}
	    });
	},
	print:function(node){
	    //var label=$(node).parent().data('header');
	    //App.page_events_scheduler.selectedDay
	    
	},
	out:function( label, out_type ){
	    var params={
		label:label,
		event_date:App.page_events_scheduler.selectedDay,
		out_type:out_type
	    };
	    var url='Events/eventViewGet/?'+$.param( params );
	    if( out_type==='.print' ){
		window.open(url,'print_tab');
	    } else {
		location.href=url;
	    }
	}
    }
};    
</script>
<style>
    .event_tile_label{
	text-align: center;
	font-size: 18px;
	margin: 5px;
	margin-bottom: 0px;
	padding: 5px;
    }
    .event_tile{
        width:100%;
        display: grid;
        grid-template-columns:repeat(9, minmax(25px,auto));
        gap:1px;
    }
    .event_tile > div > div {
        background-color: rgba(255,255,255,0.5);
        padding: 2px;
        min-height: 25px;
        border-bottom: 1px solid #999;
    }
    .event_tile > div{
        display: contents;
    }
    .event_tile > div:hover > div{
        background-color: rgba(255,255,255,0.8);
    }
    .event_tile > div:first-child div{
	text-align: center;
	font-weight: bold;
        padding: 6px;
        background-color: #fff;
    }
    .event_tile .selected > div{
        background-color: #ffe48d !important;
    }
    .ep_1critical{
        margin: 3px;
	border: 2px solid #f00;
        background-color: #fbb;
    }
    .ep_2high{
        margin: 3px;
	border: 2px solid #fc3;
        background-color: #ffc;
    }
    .ep_3medium{
        margin: 3px;
	border: 2px solid #ccc;
        background-color: #fff;
    }
    .ep_4low{
        margin: 3px;
	border: 2px solid #99b;
        background-color: #ddd;	
    }
    .ep_5future{
        margin: 3px;
	border: 2px solid #0c0;
        background-color: #cfc;
    }
    
    .es_undone{
	background: url(img/red.png) no-repeat center;
	cursor: pointer;
    }
    .es_pending{
	background: url(img/gray.png) no-repeat center;
	cursor: pointer;
    }
    .es_done{
	background: url(img/ok.png) no-repeat center;
    }
</style>
<div style="display: grid;grid-template-columns:200px auto;">
    <div id="event_calendar" class="easyui-calendar" data-options="
                     formatter:App.page_events_scheduler.calendar.formatter,
                     onChange:App.page_events_scheduler.calendar.onChange"></div>
    <div id="events_tile" class="covert">
        {{if events|empty}}
        <div style="text-align: center">
            <h1>Нет заданий на этот день</h1>
            <button onclick="App.page_events_scheduler.tile.create(this);"><img src="img/edit_add.png"> Добавить задание</button>
        </div>
        {{/if}}
        {{events}}
            <div style="padding: 5px;padding-top: 20px;">
                <div style="text-align: right;padding-right: 5px;float: right;" data-header="{{label}}">
                    <span class="icon-24 icon-create" title="Добавить" onclick="App.page_events_scheduler.tile.create(this);"> </span>
                    <span class="icon-24 icon-change" title="Изменить" onclick="App.page_events_scheduler.tile.edit();"> </span>
                    <span class="icon-24 icon-delete" title="Удалить" onclick="App.page_events_scheduler.tile.delete();"> </span>
                    <span class="icon-24" style="background-image: url(img/big_rightarrow.png);background-repeat: no-repeat;background-size: 24px 24px;" title="Перенести на другую дату" onclick="App.page_events_scheduler.tile.move(this);"> </span>
                    <span class="icon-24 icon-refresh" title="Печать" onclick="App.page_events_scheduler.tile.load();"> </span>
                    <span class="icon-24 icon-print" title="Печать" onclick="App.page_events_scheduler.tile.out($(this).parent().data('header'),'.print');"> </span>
                </div>
                <span style="font-size:18px;font-weight: bold">
                    {{label}}{{if status|equals>undone}}<span style="color:red">  <img src="img/red.png">(невыполненные задания)</span> {{/if}}
                </span>
            </div>
            <div class="event_tile">
                <div class="event_tile_header">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div>Дата</div>
                    <div>Задание</div>
                    <div>Место</div>
                    <div>Цель</div>
                    <div>Контакт</div>
                    <div>Комментарий</div>
                </div>
                {{rows}}
                <div data-event-index="{{index}}" onclick="App.page_events_scheduler.tile.click(this);" ondblclick="App.page_events_scheduler.tile.edit(this);">
                    <div class="es_{{event_status}}" onclick="App.page_events_scheduler.tile.statusClick(this);"></div>
                    <div onclick="App.page_events_scheduler.tile.docClick(this);" style="padding: 6px;">{{if doc_id}}<img src="img/document.png">{{/if}}</div>
                    <div> <div style="width: 20px;height: 20px;"  class="ep_{{event_priority}}"></div> </div>
                    <div>{{date_dmy}}</div>
                    <div>{{event_name}}</div>
                    <div>{{event_place}}</div>
                    <div>{{event_target}}</div>
                    <div>{{event_note}}</div>
                    <div>{{event_descr}}</div>
                </div>
                {{/rows}}
            </div>
        {{/events}}
    </div>
</div>