<script>
    /*global App*/
    App.page_dialog_importer={
	grid_sg:null,
	label:'',
	init:function(){
	    this.node.window({
		width: 800,
		title: 'Импортер таблицы',
		height: 600,
		top:50,
		shadow:false,
		onClose: function () {
		    App.page_dialog_importer.node.window('destroy');
		    App.page_dialog_importer.handler.notify('close');
		    delete App.page_dialog_importer;
		}
	    });
	    this.node.window('window').css('position','fixed');
	    
	    this.label=this.data.label||'';
	    $("#page_dialog_importer_label").val(this.label);
	    this.initSelector();
	    App.require([
		"js/slick/lib/jquery.event.drag-2.3.0.js",
		"js/slick/slick.core.js",
		"js/slick/slick.grid.js",
		"js/slick/plugins/slick.rowselectionmodel.js",
		"js/slick/slick.editors.js",
		"js/slick/slickinfinite.js"
	    ], this.gridSetup);
	},
	initSelector:function(){
	    this.assigned={};
	    App.renderTpl('page_dialog_importer_selector',this.data);
	    App.setupForm("#page_dialog_importer_frm").change(function(){
		App.page_dialog_importer.assigned[this.name]=this.value;
	    });
	    this.initRequired();
            $("#page_dialog_importer_frm").submit(function(e){
                e.preventDefault();
                App.page_dialog_importer.submit();
            });
        },
	initRequired:function(){
	    var config=this.data.fields_to_import;
	    for(var i in config){
		if( config[i].required ){
		    $("#page_dialog_importer_frm select[name="+config[i].field+"]").prop('required','required');
		}
		if( config[i].assigned ){
		    $("#page_dialog_importer_frm select[name="+config[i].field+"]").val(config[i].assigned);
		}
	    }
	},
        submit:function(){
            var fvalue=App.collectForm("#page_dialog_importer_frm");
	    var source=[];
	    var target=[];
	    var missed=[];
            for(var i in fvalue){
                if( !fvalue[i] && $("#page_dialog_importer_frm select[name="+i+"]").attr('required') ){
                    var title=$("#page_dialog_importer_frm select[name="+i+"]").attr('title');
		    missed.push(title);
                }
		source.push(fvalue[i]);
		target.push(i);
            }
	    if( missed.length>0 ){
		alert( "Поле не сопоставлено: "+missed.join(',') );
		return;
	    }
	    fvalue.source=source;
	    fvalue.target=target;
            fvalue.label=App.page_dialog_importer.label;
            App.page_dialog_importer.handler.notify('submit',fvalue,App.page_dialog_importer);
        },
	up:function(filelist){
	    if( filelist.length ){
                App.page_dialog_importer.throbber(1);
		var url = 'Importer/Up/';
		var xhr = new XMLHttpRequest();
		var fd = new FormData();
		xhr.open("POST", url, true);
		xhr.onreadystatechange = function() {
		    if (xhr.readyState === 4 && xhr.status === 200) {
			if( xhr.responseText==='imported' ){
			    App.page_dialog_importer.grid_sg.reload();
                            App.flash("Файл загружен.");
			} else {
			    App.flash("Не удалось загрузить "+xhr.responseText);
			}
                        App.page_dialog_importer.throbber(0);
		    }
		};
		fd.append("label",App.page_dialog_importer.label);
		fd.append("upload_file", filelist[0]);
		xhr.send(fd);
	    }
	},
        throbber:function(show){
            show?$("#page_dialog_importer_throbber").show():$("#page_dialog_importer_throbber").hide();
        },
	gridSetup:function(){
	    var settings = {
		columns: [],
		options: {
		    editable: true,
		    autoedit: false,
		    enableCellNavigation: true,
		    enableColumnReorder: false,
		    enableFilter: true,
		    multiSelect: true,
		    url: 'Importer/listFetch/'
		}
	    };
	    var cols="ABCDEFGHIJKLMNOPQ";
	    for(var i=0;i<17;i++){
		settings.columns.push({id: cols[i], field: cols[i], name: cols[i], sortable: true, width: 150, editor: Slick.Editors.Text});
	    }
	    var grid_sg=App.page_dialog_importer.grid_sg = new SlickInfinite("#page_dialog_importer_dg", settings);
	    grid_sg.onCellChange.subscribe(function (e, data) {
		var updatedEntry = data.item;
		var field = settings.columns[data.cell].field;
		var value = updatedEntry[field];
		importTableTools.entryUpdate(updatedEntry.row_id, field, value);
	    });
	    
	    var importTableTools={
		entryCreate: function () {
		    $.post('Importer/entryCreate',{label:App.page_dialog_importer.label},function(insert_id){
			if( insert_id*1 ){
			    grid_sg.setFilter({A:insert_id});
			}
		    });
		},
		entryDelete:function(){
		    var selected_rows = grid_sg.getSelectedRows();
		    if (!selected_rows.length) {
			App.flash("Ни одна строка не выбрана!");
			return;
		    }
		    if (!confirm("Удалить выделенные строчки?")) {
			return;
		    }

		    var import_ids=[];
		    for(var i in selected_rows){
			import_ids.push(grid_sg.getDataItem(selected_rows[i]).row_id);
		    }
		    $.post('Importer/entryDelete', {import_ids: import_ids}, function (ok) {
			if (ok * 1) {
			    grid_sg.reload();
			}
		    });
		},
		entryDeleteAll:function(){
		    if( confirm("Удалить строчки с меткой '"+App.page_dialog_importer.label+"'?") ){
			App.post("Importer/deleteAll/",{label:App.page_dialog_importer.label},function(ok){
			    if( ok*1 ){
				App.flash("Удалено строчки с меткой '"+App.page_dialog_importer.label+"'");
				grid_sg.reload();
			    } else {
				App.flash("Не удалось удалить строки");
			    }
			});
		    }
		},
		entryUpdate:function(row_id,field,value){
		    $.post('Importer/entryUpdate', {row_id: row_id, field: field, value: value}, function (ok) {
			if (ok<1) {
			    grid_sg.reload();
			}
		    });
		},
		reload:function(){
		    grid_sg.reload();
		},
		upload:function(){
		    $('#page_dialog_importer_file').click();
		},
		out:function( out_type ){
		    var params={
			label:App.page_dialog_importer.label,
			out_type:(out_type||'.xlsx')
		    };
		    var url='Importer/viewGet/?'+$.param( params );
		    if( out_type==='.print' ){
			window.open(url,'print_tab');
		    } else {
			location.href=url;
		    }
		},
		print:function(){
		    this.out('.print');
		}
	    };
	    $(".x-importer-tools").click(function (e) {
		var action = $(e.target).data('action');
		if (action) {
		    importTableTools[action] && importTableTools[action]();
		}
	    });
	},
	filter:function( node ){
	    App.page_dialog_importer.label=node.value||'';
	    App.page_dialog_importer.reload();
	},
	reload:function(){
	    App.page_dialog_importer.grid_sg.reload();
	}
    };
</script>
<style>
    #page_dialog_importer_throbber img{
        position: absolute;
        z-index:10;
        top: 280px;
        left: 50%;
    }
</style>
<div id="page_dialog_importer_throbber" style="display: none;position: relative;" >
    <img src="img/throbber_1.gif">
</div>
<input type="file" id="page_dialog_importer_file" style="display:none" onchange="App.page_dialog_importer.up(this.files)">
<div id="page_dialog_importer_selector" style="padding: 3px;">
    <form id="page_dialog_importer_frm">
        <button style="float:left;" type="submit">
            <img src="img/database.png" style="height: 90px;width: auto;"><br>Импортировать
        </button>
        {{fields_to_import}}
	<select name="{{field}}" title="{{name}}" style="width:50px;">
	    <option value="A">A</option>
	    <option>B</option>
	    <option>C</option>
	    <option>D</option>
	    <option>E</option>
	    <option>F</option>
	    <option>G</option>
	    <option>H</option>
	    <option>I</option>
	    <option>J</option>
	    <option>K</option>
	    <option>L</option>
	    <option>M</option>
	    <option>N</option>
	    <option>O</option>
	    <option>P</option>
	    <option>Q</option>
	</select>
        {{/fields_to_import}}
    </form>
</div>
<div style="clear: both;border-bottom: 1px solid #999;margin-top: 4px;"></div>
<div style="text-align: right;padding: 3px;clear: left;" class="x-importer-tools">
    <div style="display: inline-block;line-height: 26px;margin-top: 0px;float: left">
	Выбранная метка: <input id="page_dialog_importer_label" style="width: 50px;" title="Выбранная метка" onkeyup="App.page_dialog_importer.filter(this)">
    </div>
    <span class="icon-24" style="background-image: url(img/truncate.png);background-repeat: no-repeat" title="Очистить таблицу" data-action="entryDeleteAll"> </span>
    <span class="icon-24 icon-create" title="Добавить" data-action="entryCreate"> </span>
    <span class="icon-24 icon-delete" title="Удалить выбранные строчки" data-action="entryDelete"> </span>
    <span class="icon-24 icon-upload" title="Отправить файл" data-action="upload"> </span>
    <span class="icon-24 icon-download" title="Скачать таблицу" data-action="out"> </span> 
    <span class="icon-24 icon-print" title="Напечатать" data-action="print"> </span> 
    <span class="icon-24 icon-refresh" title="Обновить" data-action="reload"> </span>
</div>

<div id="page_dialog_importer_dg" style="height:390px"></div>