<script type="text/javascript">
    /* global App */
    App.page_dialog_send_sms = {
	init: function () {
	    this.node.window({
		title: 'Отправить СМС',
		width: 360,
		height: 'auto',
		onClose: function () {
		    App.page_dialog_send_sms.handler.notify('close');
		    delete App.page_dialog_send_sms;
		}
	    });
	    App.setupForm("#dialog_send_sms_frm",this.data);
	    $('#dialog_send_sms_frm').submit(function(e){
		e.preventDefault();
		var data=App.collectForm('#dialog_send_sms_frm');
		$.post('Utils/sendSms/',data,function(xhr){
		    App.page_dialog_send_sms.node.window('close');
		});
	    });
	}
    };
</script>
<form id="dialog_send_sms_frm">
    <input type="hidden" name="copy" value="1">
    <input type="text" name="to" title="Телефон" pattern="\+?\d{11,12}" />
    <textarea name="body" title="Текст"></textarea>
    <div style="text-align: center">
	<button type="submit"><img src="img/sms.png" style="vertical-align: middle"> Отправить</button>
	<button type="button" onclick="App.page_dialog_send_sms.node.window('close')"><img src="img/close24.png" style="vertical-align: middle"> Закрыть</button>
    </div>
</form>
<br>
