<script>
    App.page_dialog_text_editor={
	init:function(){
	    this.node.window({
		title: 'Редактор текста',
		closable:true,
		collapsible:true,
		width: 770,
                shadow:0,
		top:30,
		height: 'auto',
		onClose: function () {
		    App.page_dialog_text_editor.handler.notify('close');
                    App.page_dialog_text_editor.node.remove();
		    delete App.page_dialog_text_editor;
		}
	    });
	    this.node.window('window').css('position','fixed');
            window.frames['editor_iframe'].html=App.page_dialog_text_editor.data.html;
	},
	save:function(){
	    this.data.html=window.frames['editor_iframe'].getContent();
	    App.page_dialog_text_editor.handler.notify('save',this.data);
	    App.page_dialog_text_editor.node.window('close');
	}
    };
</script>
<iframe name="editor_iframe" style="height:520px;width: 100%;border: none;" src="page/dialog/text_editor_iframe.html"></iframe>
<div style="text-align: center">
    <button onclick="App.page_dialog_text_editor.save();"><img src="img/save-24.png"> Сохранить</button>
</div>
