<style type="text/css">
#blank_template{
	text-align:justify;
	font-size:10pt;
}
#blank_template h3{
	text-align:center;
	font-family:Arial;
	font-size:11pt;
}
#blank_template p{
	text-align:justify;
	font-family:Arial;
}
</style>

<div id="blank_template" class="page" style="width:710px">
<h3 style="text-align:center">ДОГОВІР ПОСТАВКИ ТА ДИСТРИБ‘ЮЦІЇ № <span class="blank_number blank_input" title="Номер документа">{{doc.num}}</span></h3>
  <br>
  <br>
    <table width="100%"><tr>
      <td width="50%" valign="top" align="left"><b>м. <span class="blank_input blank_required" title="Город">Мелітополь</span></b></td>
      <td width="50%" valign="top" align="right"><b class="blank_calendar blank_date" title="Дата документа">{{doc.date}}</b></td>
    </tr></table>
	<br>
	<p><b>{{a.company_name}}</b>, яке є платником <span class="blank_input" title="Форма налогообложения">податку на прибуток на загальних умовах</span>, в особі директора <span class="blank_input">{{a.company_director}}</span>, діючого на підставі
<span class="blank_input" title="Основание полномочий">Статуту</span> в подальшому "Продавець", з однієї сторони, та <b>{{p.company_name}}</b>,
яке є платником <span class="blank_input" title="Форма налогообложения">податку на прибуток на загальних умовах</span>, в особі директора <span class="blank_input">{{p.company_director}}</span>,
діючого на підставі <span class="blank_input" title="Основание полномочий">Статуту</span>, в подальшому "Покупець", з другої сторони, а
разом, в подальшому "Сторони", уклали цей Договір про нижченаведене:</p>

<h3 style="text-align:center">1.ПРЕДМЕТ ДОГОВОРУ</h3>

<p>1.1. Продавець
зобов’язується поставити узгодженими партіями Покупцеві продукцію надалі
"Товар", зазначену у додатках: видаткових накладних та рахунках-фактурах на
кожну партію Товару, які є його невід’ємною частиною, а Покупець зобов’язується
прийняти і оплатити кожну партію Товару.</p>

<p>1.2. Продавець
доручає, а Покупець бере на себе зобов'язання по розповсюдженню товарів
Продавця. Продавець надає Покупцю статус офіційного дистриб'ютора.</p>

<h3 style="text-align:center">2.ОБОВ'ЯЗКИ ТА ПРАВА СТОРІН</h3>

<p>2.1. Покупець
спільно з Продавцем здійснює функції з маркетингу, реклами та продажу Товару,
що поставляється Продавцем. Також вони проводять заходи, спрямовані на рекламу
та інформування потенційних споживачів про особливості, якості і ціні товару.</p>

<p>2.2. Покупець
робить все можливе для того, щоб забезпечити 100 % покриття закріпленої
території та 100 % асортимент продукції.</p>

<p>2.3. Покупець
постійно інформує Продавця про кількість торгових точок та їх зміну. Дана
інформація подається за вимогою Продавця.</p>

<p>2.4. Покупець
повинен надавати регіональному представнику або іншій уповноваженій особі
Продавця доступ до всієї інформації, яка стосується зберігання, розповсюдження
і продажів продукції Продавця, а також дозволяти знаходиться в приміщеннях
Покупця для контролю згаданої інформації.</p>

<p>2.5. Покупець
зобов'язаний організувати і забезпечити ефективну систему своєчасних замовлень
продукції з метою забезпечення постійної наявності асортименту продукції в
кількості, необхідній для своєчасного і повного задоволення потреб дилерів і
торгових точок.</p>

<p>2.6. Покупець
зобов'язаний дотримуватися цінової політики встановленої Продавцем, тобто
продавати товар третім особам за ціну не нижче встановленої цим договором п. 4.8. стоп-ціни та не
створювати будь яким іншим чином умови для недобросовісної конкуренції з іншими
дистриб'юторами Продавця. </p>

<p>2.7. Продавець має
право оштрафувати покупця за порушення правил згаданих у п. 2.6. на суму від 2%
до 6% від місячного об’єму поставок. Якщо порушення мають постійний характер
Продавець може розірвати цей договір в односторонньому порядку.</p>



<h3 style="text-align:center">3.КІЛЬКІСТЬ ТА ЯКІСТЬ ТОВАРУ</h3>

<p>3.1. Кількість,
асортимент і ціна Товару, що поставляється Покупцю, фіксується в накладних,
які формуються відповідно до заявки Покупця..</p>

<p>3.2. Якість Товару
має відповідати затвердженим в Україні стандартам та підтверджуватися
сертифікатами якості та іншими документами, передбаченими чинним
законодавством. Документи, що підтверджують якість Товару, Продавець передає
Покупцю в момент передачі партії Товару. Товар упаковується в відповідності з
технічними умовами виробника.</p>

<p>3.3. У разі
поставки неякісного Товару, Продавець зобов'язується провести його заміну на
Товар необхідної якості в перебігу 15 днів з моменту вимоги. При цьому витрати
з доставки Товару лягають на Продавця. </p>

<h3 style="text-align:center">4.ОБСЯГИ ПРОДАЖІВ, ЦІНА, ПОРЯДОК РОЗРАХУНКІВ.</h3>

<p>4.1. Сторони
погоджують у Додатках до цього Договору плановані обсяги продажів. Покупець
досягає узгоджених обсягів продажів за умови виконання Продавцем зобов'язань з
поставки Товару відповідно до умов цього Договору, а саме: своєчасності
поставки Товару, повного виконання заявок, надання Товару високої якості.</p>

<p>4.2. Поставка
Товару здійснюється Продавцем своїми силами, партіями та в обсягах за
затвердженими графіками. Графіки поставок для Покупця затверджується
уповноваженими представниками Продавця і Покупця.</p>

<p>4.3. Право
власності на Товар переходить від Продавця до Покупця з моменту фактичної
передачі Товару. Ризик випадкової загибелі Товару несе його власник.</p>

<p>4.4. Покупець 
оплачує Товар, поставлений на його адресу, протягом <b><span class="blank_input">30</span></b> календарних днів з моменту поставки товару.,
узгодженому в Додатках до цього Договору.</p>

<p>4.5. Оплата
здійснюється шляхом перерахування грошей на поточний рахунок Продавця, чи в інший спосіб
попередньо узгоджений сторонами.</p>

<p>4.6. Рекомендована
роздрібна ціна встановлена виробником, вказана в умовних одиницях зазначається
в Додатку до цього договору і є єдиною для всієї території України. Продавець
поставляє товар по цінах в національній валюті згідно ринковому курсу, діючому
на момент поставки. </p>

<p>4.7. Продавець
надає Покупцю дистриб’юторську знижку від рекомендованої роздрібної ціни в розмірі <b><span class="blank_input">35</span>%</b>.
Яка надається за умови своєчасної сплати у терміни зазначені в п.4.4. </p>

<p>У випадку оплати Покупцем партії товару на умовах передплати Продавець надає Покупцю підвищену знижку від рекомендованої
    роздрібної ціни на цю партію в розмірі <b><span class="blank_input blank_required" title="Скидка по предоплате"></span>%</b></p>

<p>4.8. Покупець має право надавати третім особам знижку від рекомендованої роздрібної ріни,
 але ця знижка не може перевищувати 28% (стоп-ціна).</p>
	


<h3 style="text-align:center">5.ВІДПОВІДАЛЬНІСТЬ СТОРІН</h3>

<p>5.1. За невиконання
або неналежне виконання зобов'язань за цим Договором винна сторона несе
відповідальність у порядку і розмірах передбачених чинним законодавством.</p>

<p>5.2. У разі
прострочення платежу за поставлений Товар, Покупець сплачує Компанії пеню
в розмірі подвійної облікової ставки НБУ від суми заборгованості за кожен день
прострочення.</p>

<p>5.3. Сплата
передбачених цією статтею штрафних санкцій не звільняє винну сторону від
обов'язку відшкодувати іншій стороні завдані їй збитки у повному обсязі.</p>

<p>5.4. Сторони
звільняються від відповідальності за часткове або повне невиконання зобов’язань
за цим договором, якщо воно стало наслідком обставин непереборної сили, що
виникли після укладання договору в результаті подій надзвичайного характеру,
які сторона не могла запобігти доступними способами. До обставин непереборної
сили відносяться події, на які сторона не може впливати і за виникнення яких не
несе відповідальності. До обставин непереборної сили дорівнюються страйки,
прийняття законодавчими або іншими органами державної влади законів. постанов і
розпоряджень, що істотно погіршують або практично перешкоджають виконанню
зобов’язань за даним договором, а також воєнні дії будь-якого характеру,
визнані офіційно.</p>

<h3 style="text-align:center">6.ТЕРМІН ДІЇ ДОГОВОРУ</h3>

<p>6.1. Договір
набирає чинності з моменту підписання його сторонами і діє протягом одного
календарного року. Дія цього Договору автоматично продовжується на наступний
період, якщо ні одна із сторін не заявить іншій стороні в письмовій формі про
його розірвання за один місяць до припинення Договору.</p>

<p>6.2. Дія цього
Договору може бути припинена достроково за згодою сторін за умови виконання
сторонами зобов’язань по цьому Договору.</p>

<h3 style="text-align:center">7.ДОДАТКОВІ ПОЛОЖЕННЯ</h3>

<p>7.1. Даний Договір
укладений у 2 (двох) оригінальних примірниках, по одному для кожної із Сторін.
Кожний примірник цього Договору має однакову юридичну силу.</p>

<p>7.2. Всі
розбіжності, які виникають під час виконання даного Договору повинні
вирішуватися Сторонами самостійно, шляхом переговорів. У випадку, якщо сторони
не досягнуть згоди за допомогою переговорів, розбіжності вирішуються у
відповідності з діючим законодавством України або передаються на розгляд до
Господарського суду України. </p>

<p>7.3. Продавець залишає
за собою право змінювати та доповнювати даний Договір та Додатки до нього,
повідомивши про це Покупця у 30 денний строк до вступу змін в силу.</p>

<p>7.4. З моменту
складання/підписання даного Договору кожна зі Сторін дає свою згоду іншій
стороні згідно закону України «Про захист персональних даних» №2297-6, на
обробку своїх персональних даних з метою забезпечення господарських відносин в
процесі виконання умов цього Договору.</p>

<p>7.5. Сторони не
мають права передавати свої зобов‘язання по даному Договору третім особам без
письмової згоди іншої сторони. </p>

<table width="100%">
  <tr>
  <td width="50%" align="left" valign="top">
    <h3 style="text-align:center">Продавець:</h3>
      {{a.company_name}}
      <br />{{a.company_jaddress}}
      <br> Тел.:{{a.company_phone}}
      {{if a.company_bank_account}}<br />П/р {{a.company_bank_account}}{{/if}}
      {{if a.company_bank_name }} в {{a.company_bank_name}} {{/if}}
      {{if a.company_bank_id }} МФО:{{a.company_bank_id}} {{/if}}
      {{if a.company_vat_id }}<br /> ІПН:{{a.company_vat_id}} {{/if}}
      {{if a.company_vat_licence_id }}<br /> № свідоцтва:{{a.company_vat_licence_id}} {{/if}}
      {{if a.company_code }}<br /> ЄДРПОУ:{{a.company_code}} {{/if}}
      {{if a.company_web }}<br /> Сайт:{{a.company_web}} {{/if}}
      {{if a.company_email }}<br /> e-mail:{{a.company_email}} {{/if}}
      <br><br>
    </td>
  <td width="50%" align="left" valign="top">
    <h3 style="text-align:center">Покупець:</h3>
      {{p.company_name}}
      <br />{{p.company_jaddress}}
      <br> Тел.:{{p.company_phone}}
      {{if p.company_bank_account }}<br />П/р {{p.company_bank_account}}{{/if}}
      {{if p.company_bank_name }} в {{p.company_bank_name}} {{/if}}
      {{if p.company_bank_id }} МФО:{{p.company_bank_id}} {{/if}}
      {{if p.company_vat_id }}<br /> ІПН:{{p.company_vat_id}} {{/if}}
      {{if p.company_vat_licence_id }}<br /> № свідоцтва:{{p.company_vat_licence_id}} {{/if}}
      {{if p.company_code }}<br /> ЄДРПОУ:{{p.company_code}} {{/if}}
      {{if p.company_web }}<br /> Сайт:{{p.company_web}} {{/if}}
      {{if p.company_email }}<br /> e-mail:{{p.company_email}} {{/if}}
      <br><br>
  </td>
</tr>
<tr>
	<td align="left">__________________/{{a.company_director}}/<br>(підпис, МП)</td>
    <td align="left">__________________/{{p.company_director}}/<br>(підпис, МП)</td>
</tr>
</table>

</div>
