<!--<style type="text/css"><!-- 
.page_break {page-break-before: always;}
.s0 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Left; vertical-align: Top;
}
.s1 {
 font-family: Arial;
 font-size: 12px;
 color: #000000; font-weight: bold; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 0px;
 border-top-width: 0px;
 border-bottom-width: 1px;
 text-align: Left; vertical-align: Bottom;
}
.s2 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-weight: bold; font-style: normal;
 border-color:#000000; border-style: solid;
 border-left: none;
 border-right: none;
 border-top: none;
 border-bottom-width: 1px;
 text-align: Center; vertical-align: Bottom;
}
.s3 {
 font-family: Arial;
 font-size: 12px;
 color: #000000; font-weight: bold; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 0px;
 border-top-width: 0px;
 border-bottom-width: 1px;
 text-align: Center; vertical-align: Bottom;
}
.s4 {
 font-family: Arial;
 font-size: 9px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Center; vertical-align: Top;
}
.s5 {
 font-family: Arial;
 font-size: 12px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Left; vertical-align: Middle;
}
.s6 {
 font-family: Arial;
 font-size: 12px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Center; vertical-align: Middle;
}
.s7 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-weight: bold; font-style: normal;
 background-color: transparent;
 text-align: Center; vertical-align: Top;
}
.s8 {
 font-family: Arial;
 font-size: 12px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Center; vertical-align: Top;
}
.s9 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Left; vertical-align: Top;
}
.s10 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 1px;
 border-right-width: 1px;
 border-top-width: 1px;
 border-bottom-width: 1px;
 text-align: Left; vertical-align: Top;
}
.s11 {
 font-family: Arial;
 font-size: 12px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Left; vertical-align: Top;
}
.s12 {
 font-family: Arial;
 font-size: 16px;
 color: #000000; font-weight: bold; font-style: normal;
 background-color: transparent;
 text-align: Center; vertical-align: Top;
}
.s13 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-weight: bold; font-style: normal;
 background-color: #F0F0F0;
 border-color:#000000; border-style: solid;
 border-left-width: 1px;
 border-right-width: 1px;
 border-top-width: 1px;
 border-bottom-width: 1px;
 text-align: Center; vertical-align: Middle;
}
.s14 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 1px;
 border-right-width: 1px;
 border-top-width: 1px;
 border-bottom-width: 1px;
 text-align: Left; vertical-align: Middle;
}
.s15 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 1px;
 border-right-width: 1px;
 border-top-width: 1px;
 border-bottom-width: 1px;
 text-align: Center; vertical-align: Middle;
}
.s16 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-weight: bold; font-style: normal;
 background-color: #F0F0F0;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 1px;
 border-top-width: 1px;
 border-bottom-width: 1px;
 text-align: Center; vertical-align: Middle;
}
.s17 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 1px;
 border-right-width: 1px;
 border-top-width: 0px;
 border-bottom-width: 1px;
 text-align: Center; vertical-align: Middle;
}
.s18 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 1px;
 border-top-width: 0px;
 border-bottom-width: 1px;
 text-align: Left; vertical-align: Middle;
}
.s19 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 1px;
 border-top-width: 0px;
 border-bottom-width: 1px;
 text-align: Center; vertical-align: Middle;
}
</style>-->
<style type="text/css">
.page_break {page-break-before: always;}
td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}
.s1{
	border-bottom:1px solid #000;
	font-weight:bold;
	text-align:left;
}
.tiny{
	font-size:8px;
}
</style>
<div class="page">
<table width="734" border="0" cellspacing="0" cellpadding="0">
<tr style="height: 1px"><td width="15"/><td width="4"/><td width="34"/><td width="8"/><td width="4"/><td width="4"/><td width="4"/><td width="23"/><td width="26"/><td width="11"/><td width="26"/><td width="4"/><td width="4"/><td width="26"/><td width="4"/><td width="30"/><td width="34"/><td width="34"/><td width="15"/><td width="19"/><td width="4"/><td width="8"/><td width="19"/><td width="23"/><td width="15"/><td width="42"/><td width="11"/><td width="42"/><td width="23"/><td width="11"/><td width="4"/><td width="8"/><td width="19"/><td width="129"/><td width="30"/><td width="4"/><td width="15"/></tr>
<tr style="height:18px">
<td colspan="37" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="2" rowspan="35" style="font-size:1px">&nbsp;</td>
<td colspan="20" class="s1">{{a.company_name}}</td><td colspan="9" rowspan="10" style="font-size:1px">&nbsp;</td><td colspan="4" rowspan="2" class="s7">Типова форма N М-2</td><td colspan="2" rowspan="35" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:4px">
<td colspan="20" rowspan="3" class="s4">підприємство-одержувач і його адреса</td>
</tr>
<tr style="height:4px">
<td colspan="4" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:7px">
<td colspan="4" rowspan="4" class="s7">ЗАТВЕРДЖЕНА <br>наказом Мінстату України<br>від 21 червня 1996 р. N 192</td>
</tr>
<tr style="height:15px">
<td colspan="20" class="s1">{{a.company_jaddress}}</td>
</tr>
<tr style="height:15px">
<td colspan="13" class="s5">ідентифікаційний код ЄДРПОУ</td>
<td colspan="7" class="s1">{{a.company_code}}</td>
</tr>
<tr style="height:7px">
<td colspan="20" rowspan="2" class="s1">{{a.company_name}}</td>
</tr>
<tr style="height:7px">
<td colspan="4" rowspan="2" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:7px">
<td colspan="20" rowspan="3" class="s4">підприємство-платник і його адреса</td>
</tr>
<tr style="height:4px">
<td colspan="2" rowspan="9" style="font-size:1px">&nbsp;</td><td rowspan="4" class="s10" style="font-size:1px">&nbsp;</td><td rowspan="13" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:4px">
<td colspan="3" rowspan="8" style="font-size:1px">&nbsp;</td><td colspan="3" rowspan="2" class="s9">Код за УКУД</td><td colspan="3" rowspan="4" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:11px">
<td colspan="20" rowspan="3" class="s1">{{a.company_jaddress}}</td>
</tr>
<tr style="height:4px">
<td colspan="3" rowspan="2" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="4" class="s5">рахунок</td>
<td colspan="10" class="s1">{{a.company_bank_account}}</td><td class="s5">МФО</td>
<td colspan="5" class="s1">{{a.company_bank_id}}</td><td colspan="5" class="s11">Довіреність дійсна до</td><td rowspan="4" style="font-size:1px">&nbsp;</td><td class="s1"><span class="blank_calendar">{{today10}}</span> р.</td>
</tr>
<tr style="height:15px">
<td colspan="20" class="s1">{{a.company_bank_name}}</td><td colspan="5" rowspan="3" style="font-size:1px">&nbsp;</td><td rowspan="7" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="20" class="s4">(найменування банку)</td>
</tr>
<tr style="height:40px">
<td colspan="20" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:18px">
<td colspan="10" rowspan="4" class="s0" style="font-size:1px">&nbsp;</td><td colspan="20" class="s12">ДОВІРЕНІСТЬ № <span style="width:70px;display:inline-block" align="left" class="blank_number blank_input">{{doc.num}}</span></td><td rowspan="4" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:11px">
<td colspan="20" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="5" rowspan="2" class="s0" style="font-size:1px">&nbsp;</td><td colspan="4" class="s11">Дата видачі</td>
<td colspan="5" class="s2"><span class="blank_calendar blank_date">{{doc.date}}</span> р.</td><td colspan="6" rowspan="2" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:44px">
<td colspan="9" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="3" class="s5">Видано</td><td colspan="30" class="s2 blank_select blank_required" id="staff" title="Получатель по доверенности">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="3" class="s0" style="font-size:1px">&nbsp;</td><td colspan="30" class="s4">(посада, прізвище, ім'я, по батькові)</td>
</tr>
<tr style="height:15px">
<td colspan="12" class="s5">документ, що засвідчує особу</td><td colspan="21" class="s2" id="staff_id_type">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="33" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td class="s5">серія</td><td colspan="7" class="s2" id="staff_id_serial">&nbsp;</td><td colspan="3" class="s6">№</td><td colspan="5" class="s2" id="staff_id_number">&nbsp;</td><td colspan="2" class="s6">від</td><td colspan="9" class="s2" id="staff_id_date">&nbsp;</td><td colspan="6" rowspan="2" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="27" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="5" class="s5">виданий</td><td colspan="28" class="s2" id="staff_id_given_by">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="5" class="s0" style="font-size:1px">&nbsp;</td><td colspan="28" class="s4">(ким виданий документ)</td>
</tr>
<tr style="height:15px">
<td colspan="7" class="s5">на отримання від</td>
<td colspan="26" class="s2">{{p.company_name}}</td>
</tr>
<tr style="height:15px">
<td colspan="7" class="s0" style="font-size:1px">&nbsp;</td><td colspan="26" class="s4">(найменування організації постачальника)</td>
</tr>
<tr style="height:15px">
<td colspan="6" class="s5">цінностей за</td><td colspan="27" class="s2 blank_input blank_required" title="Документ на который выписывается доверенность"></td>
</tr>
<tr style="height:15px">
<td colspan="6" rowspan="2" class="s0" style="font-size:1px">&nbsp;</td><td colspan="27" class="s4">(№ і дата наряду)</td>
</tr>
<tr style="height:22px">
  <td colspan="37" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:18px">
<td rowspan="14" class="s0" style="font-size:1px">&nbsp;</td><td colspan="20" class="s9">Перелік цінностей, які належить отримати:</td><td colspan="16" rowspan="2" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:26px">
<td colspan="20" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:37px">
<td colspan="2" class="s13">№ <br>п/п</td><td colspan="20" class="s16">Найменування цінностей</td><td colspan="4" class="s16">Одиниця<br>виміру</td><td colspan="9" class="s16">Кількість<br>(прописом)</td><td rowspan="12" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:26px" class="blank_row">
<td colspan="2" class="s17 blank_input">1</td><td colspan="20" class="s18 blank_input blank_required" title="Наименование ценностей"></td><td colspan="4" class="s19 blank_input">&nbsp;</td><td colspan="9" class="s18 blank_input">&nbsp;</td>
</tr>
<tr style="height:33px">
<td colspan="35" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="3" class="s5">Підпис</td><td colspan="15" class="s2" style="font-size:1px">&nbsp;</td><td colspan="5" class="s5">засвідчую</td><td colspan="12" rowspan="9" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="3" rowspan="2" class="s0" style="font-size:1px">&nbsp;</td><td colspan="15" class="s4">(зразок підпису особи, що одержала довіреність)</td><td colspan="5" rowspan="8" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="15" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="10" class="s5">Керівник підприємства</td><td colspan="8" rowspan="6" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="10" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="10" class="s5">Головний бухгалтер</td>
</tr>
<tr style="height:15px">
<td colspan="10" class="s0" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:15px">
<td colspan="10" class="s5">Місце печатки</td>
</tr>
</table>
</div>