<script>
    App[ App.getHolderId() ]=(function(){
	let holderId=App.getHolderId();
	let Document={
            doc_id:0,
            doc_extension:'',
            extension:{
                alreadyLoaded:$.Deferred(),
                set:function( new_doc_extension ){
                    if(new_doc_extension==1){
                        new_doc_extension='DocumentSell';
                    }
                    if( !new_doc_extension || Document.doc_extension===new_doc_extension ){
                        !new_doc_extension && console.log("Wrong extension"+new_doc_extension)
                        return ;
                    }
                    Document.doc_extension=new_doc_extension;
                    Document.extension.init();
                },
                init:function(){
                    Document.destroy();
                    if( !Document.doc_extension ){
                        console.log('document_model is '+Document.doc_extension);
                        App.flash("Не удалось загрузить плагин документа");
                        return false;
                    }
                    $.get(Document.doc_extension+'/extensionGet',function(resp){
                        var extension=App.json(resp);
                        if( extension && extension.head ){
                            $("#"+holderId+" .x-head").html(extension.head);
                        }
                        if( extension && extension.body ){
                            $("#"+holderId+" .x-body").html(extension.body);
                        }
                        if( extension && extension.foot ){
                            $("#"+holderId+" .x-foot").html(extension.foot);
                        }
                        if( extension && extension.views ){
                            $("#"+holderId+" .x-views").html(extension.views);
                        }
                        if( extension && extension.script ){
                            eval(extension.script);
                        }
                        Document.init();
                        Document.extension.alreadyLoaded.resolve();
                    }).fail(function(){
                        App.flash("Не удалось загрузить плагин документа");
                    });
                }
            },
	    init:function(){
		Document.head.init();
		Document.body.init();
		Document.foot.init();
		Document.views.init();
	    },
	    render:function( render_data ){
                Document.extension.alreadyLoaded.then(function(){
                    render_data.head  && Document.head.render(render_data.head);
                    render_data.body  && Document.body.render(render_data.body);
                    render_data.foot  && Document.foot.render(render_data.foot);
                    render_data.views && Document.views.render(render_data.views);
                });
	    },
	    destroy:function(){
		Document.head.destroy();
		Document.body.destroy();
		Document.foot.destroy();
		Document.views.destroy();
                //Document.reload();//?????????
		//$("#"+holderId).find(".x-head, .x-body, .x-foot, .x-views").html("");
	    },
	    load:function(id,parts_to_load){
		if( !Document.doc_extension ){
		    console.log('document_model is null');
		    return false;
		}
                if( id==0 ){
                    return false;
                }
		parts_to_load= parts_to_load || ["head","body","foot","views"];
		Document.doc_id=id;
		var url=Document.doc_extension+'/documentGet';
		return $.post(url,{doc_id:Document.doc_id,parts_to_load:JSON.stringify(parts_to_load)},function(resp){
		    var render_data=App.json(resp);
		    if(render_data){
			Document.render( render_data );
		    } else {
			App.flash("Не могу загрузить документ");
		    }
		});
	    },
	    reload:function(parts_to_load){
		var parts=parts_to_load || ["head","body","foot","views"];
                App.Topic("documentReloaded").publish({doc_id:Document.doc_id});
                //Document.load(Document.doc_id,parts);
	    },
            create: function(){
                var url = Document.doc_extension + '/documentCreate';
                var creation_deff=$.Deferred();
                $.post(url,{doc_type:Document.data.head.doc_type,doc_handler:Document.doc_extension},function(doc_id){
                    if( !doc_id ){
                        App.flash("Ошибка создания документа");
                        return false;
                    }
                    Document.load(doc_id).then(function(){
                        creation_deff.resolve();
                    });
                    App.Topic('documentListChanged').publish();
                });
                return creation_deff;
            },
            delete:function(){
		$.post(Document.doc_extension+'/documentDelete',{doc_id:Document.doc_id},function(ok){
		    if(ok*1){
			Document.destroy();
                        App.flash("Документ удален");
		    } else {
			App.flash("Не могу удалить документ");
		    }
                    App.Topic('documentListChanged').publish();
		});                
            },
            data:{
                head:{},
                body:{},
                foot:{},
                views:{}
            },
            head:{
                init:function(){

                },
                render:function(){

                },
                destroy:function(){

                }
            },
            body:{
                init:function(){

                },
                render:function(){

                },
                destroy:function(){

                }
            },
            foot:{
                init:function(){

                },
                render:function(){

                },
                destroy:function(){

                }
            },
            views:{
                init:function(){

                },
                render:function(){

                },
                destroy:function(){

                }
            }
        };
	return Document;
    })();
</script>
<div class="x-head"></div>
<div class="x-body"></div>
<div class="x-foot"></div>
<div class="x-views"></div>