<script>
App.page_mtrade_document_list=(function(){
    var require=[
	    "js/slick/lib/jquery.event.drag-2.3.0.js",
	    "js/slick/slick.core.js",
	    "js/slick/slick.grid.js",
	    "js/slick/plugins/slick.rowselectionmodel.js"];
    var docList;
    var processorModel;
    var headData={};
    function gridInit(){
	function dateFormatter(row, cell, value, columnDef, dataContext){
	    var date_parts=value.split(' ')[0].split('-');
	    var date=date_parts[2]+'.'+date_parts[1]+'.'+date_parts[0];
	    return '<span title="'+value.split(' ')[1]+'">'+date+'</span>';
	}
	function tooltip(row, cell, value, columnDef, dataContext){
	    if( !value ){
		return '';
	    }
	    var parts = value.split(' ');
	    var cmd = parts.shift();
	    if (cmd){
		var style='max-width:16px;height:auto';
		return '<img src="img/' + cmd + '.png" style="'+style+'" title="' + parts.join(' ') + '">';
	    }
	    else{
		return '';
	    }	    
	}

	var settings={
	    columns:[
		{id:"pcomp_label", field: "pcomp_label",name: "Контрагент", width: 120 },
		{id:"doc_type_icon", field: "doc_type_icon",name: "", width: 25,formatter:tooltip},
		{id:"cstamp", field: "cstamp",name: "Дата",  width: 70, sortable: true,formatter:dateFormatter },
		{id:"doc_num", field: "doc_num",name: "Номер", width: 50, sortable: true,cssClass:'slick-align-right' },
		{id:"doc_total", field: "doc_total",name: "Сумма", width: 70, sortable: true },
		{id:"trans_status", field: "trans_status",name: "Оплачен", width: 25, sortable: true,formatter:tooltip},
		{id:"is_commited", field: "is_commited",name: "Проведен", width: 25,formatter:tooltip},
		{id:"doc_type_name", field: "doc_type_name",name: "Тип документа", sortable: true, width: 150 },
		{id:"views", field: "views",name: "Напечатано", width: 70}

	    ],
	    options:{
		enableCellNavigation: true,
		enableColumnReorder: false,
		enableFilter:true,
		multiSelect :false,
		url:'DocumentList/listFetch'
	    }
	};
	var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
	$("#doclist_sg").css('height',(h-$("#doclist_sg").position().top-30)+'px');
	$("#doclist_sg_tools .icon-refresh").click(function(){
	    docList.reload();
	});
	docList=$("#doclist_sg").slickgrid(settings);
	docList.onSelectedRowsChanged.subscribe(function(e,selection){
	    var doclistRow=selection.grid.getDataItem(selection.rows[0]);
	    documentLoad(doclistRow);
	});
    }
    function init(){
	//gridInit();
	App.Topic('passiveCompanySelected').subscribe(function(company){
	    docList.reload();
	});
	documentHeadLoad('DocumentSell',86);
    }
    function documentLoad(doclistRow){
	function capitalize(s){
	    return s && s[0].toUpperCase() + s.slice(1);
	}
	if( $.isNumeric(doclistRow.doc_type) ){
	    switch(doclistRow.doc_type){
		case '1':
		    processorModel='DocumentSell';
		    break;
		case '2':
		    processorModel='DocumentBuy';
		    break;
		case '3':
		    processorModel='DocumentServiceout';
		    break;
		case '4':
		    processorModel='DocumentServicein';
		    break;
	    }
	} else if( doclistRow.doc_type.length>2 ) {//doc_type name must be at least 3 signs
	    processorModel='Document'+capitalize(doclistRow.doc_type);
	} else {
	    processorModel=null;
	}
	documentHeadLoad(processorModel,doclistRow.doc_id);
    }
    function documentHeadLoad(processorModel,doc_id){
	function headDataLoad(){
	    $.get(processorModel+'/headDataGet',{doc_id:doc_id},function(resp){
		headData=App.json(resp);
		App.setupForm("#doclist_document_head form",headData);
		$.parser.parse("#doclist_document_head form");//for easy ui
	    });
	}
	$("#doclist_document_head").load(processorModel+'/headFormGet',headDataLoad);
    }
    return {
	require:require,
	init:init
    };
})();
</script>
<style>
    #doclist_document_head input{
	width:110px;
    }
    #doclist_document_head select{
	width:121px;
	padding: 1px;
    }
    #doclist_document_head inp_group{
	width:230px
    }
    
</style>
<div style="width:100%;">
    <div style="width:40%;max-width:415px;display: inline-block">
	<div id="doclist_sg_tools">
	    <div style="float: left;font-weight: bold;padding-top: 8px;">
		<img src="img/table16.png" style="width:16px;height: 16px;"> Документы
	    </div>
	    <div style="float: right">
		<span class="icon-24 icon-refresh" title="Обновить"> </span> 
	    </div>
	</div>
	<div id="doclist_sg" style="width:100%;height:700px;"></div>
    </div>
    <div style="width:60%;display: inline-block;vertical-align: top" id="doclist_document_panel" class="transp60">
	<div>Документ</div>
	<div id="doclist_document_head"></div>
    </div>
</div>

