<script>
(function () {
    let DocumentInline=null;
    let DocList = {
        init:function(){
            DocList.table.init();
            DocList.tools.init();
            DocList.tools.swap_expand_collapse();
        },
        tools:{
            init:function(){
                $(".x-doclist-tools").click(function (e) {
                    var action = $(e.target).data('action');
                    if (action) {
                        DocList.tools[action] && DocList.tools[action]();
                    }
                });
            },
            reload:function(){
                DocList.grid.reload();
            },
            add:function(){
                //Document.load(0);
            },
            expand_collapse:function(){
                if (DocList.table.columnMode === 'advanced') {
                    DocList.table.columnMode = 'simple';
                    App.store('document_list_table_mode', 'simple');
                } else {
                    DocList.table.columnMode = 'advanced';
                    App.store('document_list_table_mode', 'advanced');
                }
                DocList.table.render();
                DocList.tools.reload();
                DocList.tools.swap_expand_collapse();
                //DocList.table.setDimensions("#trade_main_tabs .panel-body");
            },
            swap_expand_collapse:function(){
                if(DocList.table.columnMode === 'advanced'){
                    $(".x-doclist-tools .icon-expand").removeClass("icon-expand").addClass("icon-collapse");
                } else {
                    $(".x-doclist-tools .icon-collapse").removeClass("icon-collapse").addClass("icon-expand");
                }
            }
        },
        table: {
            frm:{
                round: function (row, cell, value, columnDef, dataContext) {
                    return isNaN(value) ? '' : Number(value).toLocaleString("ru-RU", { style: 'currency', currency: 'RUB' });
                },
                tooltip: function (row, cell, value, columnDef, dataContext) {
                    if (!value) {
                        return '';
                    }
                    var parts = value.split(' ');
                    var cmd = parts.shift();
                    if (cmd) {
                        var style = 'max-width:16px;height:auto';
                        return '<img src="img/' + cmd + '.png" data-action="'+cmd+'" style="' + style + '" title="' + parts.join(' ') + '">';
                    } else {
                        return '';
                    }
                },
                currency:function(row, cell, value, columnDef, dataContext){
                    return value*1 ? Number.parseFloat(value).toLocaleString('ru-RU',{ style: 'currency', currency: 'RUB' }) : '';
                },
                dateFormatter: function (row, cell, value, columnDef, dataContext) {
                    if( !value ){
                        return '';
                    }
                    var date_parts = value.split(' ')[0].split('-');
                    var date = date_parts[2] + '.' + date_parts[1] + '.' + date_parts[0];
                    return '<span title="' + value.split(' ')[1] + '">' + date + '</span>';
                }
            },
            columnMode: /*App.store('document_list_table_mode') || */'simple',
            current_row: '',
            init: function () {
                var settings = {
                    columns: [],
                    options: {
                        enableCellNavigation: true,
                        enableColumnReorder: false,
                        enableFilter: true,
                        disableLoadScroll:true,
                        disableAutoload:true,
                        multiSelect: false,
                        url: 'DocumentList/listFetch',
                        explicitInitialization: true,
                        pagesize:20,
                        params:{
                            mode:'add_empty_row'
                        }
                    }
                };
                DocList.grid = $("#doclist_sg").slickgrid(settings);
                DocList.grid.onSelectedRowsChanged.subscribe(function (e, selection) {
                    var doclistRow = selection.grid.getDataItem(selection.rows[0]);
                    if(!doclistRow){
                        return false;
                    }
                    DocHolder.load(doclistRow.doc_id,doclistRow.doc_extension);
                });
                DocList.grid.onRenderFinished.subscribe(function(){
                    if( DocList.table.selected_doc_id ){
                        var rows=DocList.grid.getData();
                        for(var num in rows){
                            if(rows[num].doc_id==DocList.table.selected_doc_id){
                                DocList.grid.setSelectedRows([num]);
                                break;
                            }
                        }
                    } else {
                        DocList.grid.setSelectedRows([0]);
                    }
                });
                DocList.grid.onClick.subscribe(function(e,cell){
                    if( cell.cell==4 ){
                        var row=DocList.grid.getDataItem(cell.row);
                        if( row.trans_status ){
                            var status=row.trans_status.split(' ')[0];
                            if( "unpayed partly payed".indexOf(status)>-1 ){
                                App.loadWindow("page/accounts/document_pay",{doc_id:row.doc_id,total:row.doc_total}).done(function(fvalue){
                                    DocList.tools.reload();
                                });
                            } else if( "closing closed".indexOf(status)>-1 ){
                                App.flash("Документ уже оплачен");
                            }
                        }
                    }
                });
                DocList.grid.onRenderFinished.subscribe(function(e,args){
                    DocList.table.setDimensions("#doclist_sg .slick-viewport",DocList.table.columnSummaryWidth);
                });
                App.Topic('activeCompanySelected').subscribe(function (company) {
                    DocList.grid.updateOptions({params: {mode: 'show_only_pcomp_docs,add_empty_row'}});
                    DocList.tools.reload();
                    //App.Document.load(0);
                });
                App.Topic('passiveCompanySelected').subscribe(function (company) {
                    DocList.grid.updateOptions({params: {mode: 'show_only_pcomp_docs,add_empty_row'}});
                    DocList.tools.reload();
                    //App.Document.load(0);
                });
                App.Topic('passiveCompanyReset').subscribe(function (company) {
                    DocList.grid.updateOptions({params: {mode: 'add_empty_row'}});
                    DocList.tools.reload();
                    //App.Document.load(0);
                });
                App.Topic('documentUpdated').subscribe(function () {
                    DocList.tools.reload();
                    //App.Document.load(0);
                });
                DocList.table.render();
                DocList.grid.init();
                //DocList.tools.reload();
            },
            columnsGet:function(){
                var columns_lev1=[
                    {id: "doc_type_icon", field: "doc_type_icon", name: "", width: 25, formatter: DocList.table.frm.tooltip},
                    {id: "doc_num", field: "doc_num", name: "Номер", width: 50, sortable: true, cssClass: 'slick-align-right'},
                    {id: "cstamp", field: "cstamp", name: "Дата", width: 70, sortable: true, formatter: DocList.table.frm.dateFormatter},
                    {id: "doc_total", field: "doc_total", name: "Сумма", width: 80, sortable: true, cssClass: 'slick-align-right', formatter: DocList.table.frm.currency},
                    {id: "trans_status", field: "trans_status", name: "Оплачен", width: 25, sortable: true, formatter: DocList.table.frm.tooltip},
                ];
                var columns_adv=[
                    {id: "pcomp_label", field: "pcomp_label", name: "Контрагент", width: 120},
                    {id: "is_commited", field: "is_commited", name: "Проведен", width: 25, formatter: DocList.table.frm.tooltip},
                    {id: "doc_type_name", field: "doc_type_name", name: "Тип документа", sortable: true, width: 150},
                    {id: "views", field: "views", name: "Напечатано", width: 70}
                ];
                var columns=columns_lev1;
                if( DocList.table.columnMode==='advanced' ){
                    columns=columns.concat(columns_adv);
                }
                return columns;
            },
            render:function(){
                DocList.grid.updateOptions({params:{colmode:DocList.table.columnMode}});
                var cols=DocList.table.columnsGet();
                DocList.table.columnSummaryWidth=0;
                for( var i in cols ){
                    DocList.table.columnSummaryWidth+=cols[i].width+1;
                }
                DocList.grid.setColumnsAndFilters(cols);

                DocList.table.setDimensions("#doclist_sg",DocList.table.columnSummaryWidth);
            },
            setDimensions:function(query, dw, dh){
                if( dw===undefined ){
                    dw=0;
                }
                if( dh===undefined ){
                    dh=0;
                }
                var div = $(query)[0];
                var hasVerticalScrollbar = div.scrollHeight > div.clientHeight;
                if(hasVerticalScrollbar){
                    dw+=20;
                }
                var width =(dw+5 || 0);
                $("#doclist_sg").css('width', width + 'px');
            }
        }
    };
    let DocHolder={
        node_id:null,
        prepareDocumentBase:$.Deferred(),
        init:function(){
            DocHolder.node_id='DocumentInline'+Date.now();
            $("#doclistgrid .x-doclist-holder").append("<div id='"+DocHolder.node_id+"'></div>");
            $("#"+DocHolder.node_id).load("page/mtrade/document_base.html", function () {
                DocumentInline=App[DocHolder.node_id];
                DocHolder.prepareDocumentBase.resolve();
            });
        },
        load:function(doc_id,doc_extention){
            if( !doc_extention ){/* TODO determine current doc_extension automatically*/
                console.log('provide doc_extention please!!!');
                return;
            }
            DocHolder.prepareDocumentBase.then(function(){
                DocumentInline.extention.set(doc_extention);
                DocumentInline.load(doc_id);
            });
        }
    };
    DocHolder.init();
    DocList.init();
    
    DocHolder.load(33422,'DocumentSell');
    console.log("sample doc loaded");
    
})();
</script>
<style>
    #doclistgrid {
	display: grid;
	grid-template-columns: min-content min-content;
	grid-gap:5px;
    }
</style>
<div id="doclistgrid">
    <div style="vertical-align: top;width:800px;padding: 5px;" class="x-doclist-holder transp60"></div>
    <div>
        <div class="x-doclist-tools transp60" style="background-color: white; padding:10px; height: 38px">
	    <div style="display: inline-block; width: 48%;font-weight: bold;">
		<img src="img/table16.png" style="width:16px;height: 16px;"> Документы
	    </div>
	    <div style="float: right">
		<span class="icon-24 icon-create" data-action="add" title="Создать документ"> </span> 
		<span class="icon-24 icon-expand" data-action="expand_collapse" title="Полный/Сокращенный режим"> </span> 
		<span class="icon-24 icon-refresh" data-action="reload" title="Обновить"> </span> 
	    </div>
	</div>
	<div id="doclist_sg" style="height:700px"></div>
    </div>
</div>