<script type="text/javascript">
    /* global App */
    App.page_mtrade_document_recalculate = {
        init: function () {
            $('#document_recalculate .ui.dropdown').dropdown();
            $("#document_recalculate").modal({
                onHidden:function(){
                    App.page_mtrade_document_recalculate.handler.notify('close');
                    //App.page_mtrade_document_recalculate.destroy();
                },
                onApprove:function(){
                    App.page_mtrade_document_recalculate.submit();
                }
            }).modal('show');
            this.data = {
                action:'discount',
                source:'pricelist'
            };
        },
        destroy:function(){
            $("#document_recalculate").modal('hide');
            App.page_mtrade_document_recalculate.node.remove();
            delete App.page_mtrade_document_recalculate;
        },
        submit:function(){
            let fvalue={
                amount:$("#document_recalculate input[name=amount]").val(),
                action:$("#document_recalculate select[name=action]").val(),
                source:$("#document_recalculate input[name=source]:checked").val()
            };
            App.page_mtrade_document_recalculate.handler.notify('submit', fvalue);
            $("#document_recalculate").modal('hide');
        }
    };
</script>
<div class="ui modal" id="document_recalculate">
    <div class="header"><i class="ui icon calculator"></i> Перерасчет цен</div>
    <div class="content">
        <form class="ui form" onsubmit="App.page_mtrade_document_recalculate.submit();return false;">
            <div class="two fields">
                <div class="field">
                    <label>Сумма</label>
                    <div class="ui right labeled input">
                        <input type="text" name="amount" placeholder="Сумма">
                        <select class="ui dropdown label" name="action">
                            <option value="discount">Скидка %</option>
                            <option value="increase">Наценка %</option>
                            <option value="add">Добавить сумму</option>
                            <option value="substract">Вычесть сумму</option>
                        </select>
                    </div>
                </div>
                <div class=" field">
                    <label>Источник цен</label>
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="source" value="pricelist" checked="checked">
                                <label>Прайс-лист</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="source" value="document">
                                <label>Документ</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui approve primary button"><i class="ui icon calculator"></i> Перерассчитать</div>
        <div class="ui cancel button">Закрыть</div>
    </div>
</div>
<style>
    .ui.radio.checkbox{
        border:none;
    }
</style>