<script>
(function($){
    function init(){
	//pcompInfoInit();
	//labelsInit("#mtrade_main_labels","#mtrade_main_content");
	showTree();
    }
    function showTree(){
	App.loadModule('page/company/tree',{inline:true,clickselect:true},'mCtreeInline',/(Ctree|page_company_tree)([^\w]|_)/g,"mCtreeInline$2").progress(function(status,company){
	    if( status==='select' ){
		App.user.pcompSelect(company);
	    }
	    if( status==='deleted' && company==='company' ){
		App.user.pcompSelect({company_id:0});
		App.pcomp={};
	    }
	});
    }
    
    function initTabsOnce (){
	if( this.tabsInited ){
	    return;
	}
	this.tabsInited=true;
	App.initTabs('trade_main_tabs');
	App.handler.progress(function(status){
	    if( status==='passiveCompanyInited' || status==='passiveCompanySelected' ){
		MTradeJs.showTabs(true);
	    }
	});
	if( App.pcomp ){
	    MTradeJs.showTabs(true);
	}
    }

/*    function pcompInfoInit(){
	App.Topic('passiveCompanySelected').subscribe(function(company){
	    $("#mtradePcompLabel").html(company.label);
	    $("#mtrade_main_labels").find("div[data-forpcomp=1]").show('slow');
	    $("#mtrade_main_info .x-closebutton").show();
	});
	App.Topic('passiveCompanyReset').subscribe(function(company){
	    $("#mtradePcompLabel").html("Все контрагенты");
	    $("#mtrade_main_labels").find("div[data-forpcomp=1]").hide('slow');
	    $("#mtrade_main_info .x-closebutton").hide();
	});
	$("#mtrade_main_info .x-closebutton").click(function(){
	    App.user.pcompSelect({});
	    mCtreeInline && mCtreeInline.unselectTree();
	    mCtreeInline && mCtreeInline.unselectCombo();
	});
    }


    function labelsInit(labels_id,content_id){
	$(labels_id).click(function(e){
	    $(labels_id).children().removeClass('left_label_selected');
	    $(e.target).addClass('left_label_selected');
	    $(content_id).children().hide();
	    var path=$(e.target).data('href');
	    labelsContentLoad(content_id,path);
	    App.store('mtrade_last_label',path);
	});
	var last_path=App.store('mtrade_last_label');
	if( last_path ){
	    labelsContentLoad(content_id,last_path);
	}
    }
    function labelsContentLoad(content_id,path){
	var id = path.replace(/\//g, '_');
	if( $(content_id).find("#"+id).length<1 ){
	    $(content_id).append("<div id='"+id+"'></div>");
	}
	$(content_id).find("#"+id).show();
	if( !App[id] ){
	    App.loadModule(path);
	}
    }*/
    init();
})(jQuery);
</script>
<div style="float: left">
    <div id="mCtreeInline" class="transp60"></div>
</div>

<div id="trade_main_tabs" class="slim-tab" style="min-width:1000px;">
    <div title="Документы" href="page/mtrade/document_list.html" style="min-height: 500px;"></div>
    <div title="Взаиморасчет" href="page/mtrade/payments.html" style="min-height: 500px;"></div>
    <div title="Настройки" href="page/company/prefs.html" style="min-height: 500px;"></div>
    <div title="Реквизиты" href="page/mtrade/details.html" style="min-height: 500px;"></div>
</div>