<script>
(function($){
    function init(){
	showTree();
	initTabsOnce();
    }
    function showTree(){
	App.loadModule('page/company/tree',{inline:true,clickselect:true},'mCtreeInline',/(Ctree|page_company_tree)([^\w]|_)/g,"mCtreeInline$2").progress(function(status,company){
	    if( status==='select' ){
		App.user.pcompSelect(company);
	    }
	    if( status==='deleted' && company==='company' || status==='reset' ){
		App.user.pcompSelect({company_id:0});
		App.pcomp={};
	    }
	});
    }
    
    var tabs=[
	{title:"Документы",href:"page/mtrade/document_list.html",pcompSpecific:false},
	{title:"Взаиморасчет",href:"page/mtrade/payments.html",pcompSpecific:true},
	{title:"Настройки",href:"page/company/prefs.html",pcompSpecific:true},
	{title:"Реквизиты",href:"page/mtrade/details.html",pcompSpecific:true}
    ];
    var isTabsInited=false;
    function initTabsOnce (){
	if( isTabsInited ){
	    return;
	}
	isTabsInited=true;
	$('#mtrade_main_tabs').tabs({border:true,pill:true});
	for(var i in tabs){
	    tabs[i].selected=false;
	    $("#mtrade_main_tabs").tabs('add',tabs[i]);
	}
	App.initTabs('mtrade_main_tabs');
	App.handler.progress(function(status){
	    if( status==='passiveCompanyInited' || status==='passiveCompanySelected' || status==='passiveCompanyReset' ){
		tabsTogglePcompSpecific();
	    }
	});
	tabsTogglePcompSpecific();
    }
    function tabsTogglePcompSpecific(){
	var first_nonspecific;
	for(var i in tabs){
	    if(tabs[i].pcompSpecific){
		App.pcomp && $("#mtrade_main_tabs").tabs('enableTab',tabs[i].title);
		!App.pcomp && $("#mtrade_main_tabs").tabs('disableTab',tabs[i].title);
	    } else {
		first_nonspecific=tabs[i].title;
	    }
	}
	var selected_disabled=$("#mtrade_main_tabs").tabs('getSelected').panel('options').disabled;
	if( selected_disabled ){
	    $("#mtrade_main_tabs").tabs('select',first_nonspecific);
	}
    }
    init();
})(jQuery);
</script>
<div style="float: left;margin-right: 3px;">
    <div id="mCtreeInline" class="transp60"></div>
</div>

<div id="mtrade_main_tabs" class="slim-tab" style="min-width:1000px;"></div>