<script type="text/javascript">
    /*global App,Doc*/
    App.page_mtrade_view_settings = {
	init: function () {
	    this.node.window({
		title: 'Свойства бланка: '+App.page_mtrade_view_settings.data.view_name,
		width: 350,
		height: 'auto',
		onClose: function () {
		    App.page_mtrade_view_settings.handler.notify('close');
		    delete App.page_mtrade_view_settings;
		}
	    });
	    this.initEfields(this.data);
	    App.setupForm("#view_settings_frm",this.data,'use_inp_values').change(function(){
                var field_type=$(this).data('notextra')>0?'notextra':'extra';
		App.page_mtrade_view_settings.fieldChanged(this.name,this.value,field_type,this.title);
	    });
	    this.node.window('center');
	},
	initEfields:function(data){
	    App.renderTpl('view_settings_efields',data);
	    if( data.efields.length>3 ){
		this.node.window('resize',{width: 650,height: 'auto'});
	    }
	},
	fieldChanged:function( field, value, is_extra, title ){
            var data={
                doc_view_id:this.data.doc_view_id,
                doc_id:this.data.doc_id,
                is_extra,
                field,
                value,
                title
            };
            App.page_mtrade_view_settings.handler.notify('update',data);
            var url = this.data.doc_extension + '/viewUpdate';
            $.post( url, data ).done(function(){
                App.flash("Сохранено: "+data.title);
            }).fail(function(){
                App.flash("Ошибка сохранения "+data.title);
            });
	},
	deleteView:function(){
            var data={doc_view_id:this.data.doc_view_id};
            App.page_mtrade_view_settings.handler.notify('delete',data);
            var url = this.data.doc_extension + '/viewDelete';
            $.post( url, data ).done(function(){
                App.flash("Бланк удален");
                App.page_mtrade_view_settings.node.window('close');
            }).fail(function(){
                App.flash("Ошибка удаления");
            });
	}
    };
</script>
<form id="view_settings_frm">
    <input name="view_date" type="date" title="Дата" required="required" data-notextra="1">
    <input name="view_num" type="text" title="Номер" required="required" data-notextra="1">
    <div class="inp_rule"></div>
    <div id="view_settings_efields">
    {{if efields}}
	{{efields}}
        <!--{{if type|equals>company_id}}-->
        <input type="text" name="{{field}}" title="{{label}}" value="{{value}}" class="company_picker" onclick="App.page_mtrade_view_settings.handle.company(this)">
        <!--{{else}}-->
        <input type="{{type|blank>text}}" name="{{field}}" title="{{label}}" value="{{value}}">
        <!--{{/if}}-->
	{{/efields}}
    {{/if}}
    </div>
</form>
<div style="text-align: center">
    <button onclick="App.page_mtrade_view_settings.node.window('close')"><img src="img/apply24.png" style="vertical-align: middle"> Закрыть</button>
    <button onclick="App.page_mtrade_view_settings.deleteView();"><img src="img/delete.png" style="vertical-align: middle"> Удалить</button>
</div>
<br>
<style>
    #view_settings_efields .company_picker{
        background: url('img/settings.png');
        background-position:right;
        background-repeat:no-repeat;
        background-color: white;
    }
</style>