<script type="text/javascript">
    /*global App,Doc*/
    App.page_mtrade_view_settings = {
	init: function () {
	    this.node.window({
		title: 'Свойства бланка: '+App.page_mtrade_view_settings.data.view_name,
		width: 350,
		height: 'auto',
		onClose: function () {
		    App.page_mtrade_view_settings.handler.notify('close');
		    delete App.page_mtrade_view_settings;
		}
	    });
	    this.initEfields(this.data);
	    App.setupForm("#view_settings_frm",this.data,'use_inp_values').change(function(){
                var field_type=$(this).data('notextra')>0?'notextra':'extra';
		App.page_mtrade_view_settings.fieldChanged(this.name,this.value,field_type,this.title);
	    });
	    this.node.window('center');
	},
	initEfields:function(data){
	    App.renderTpl('view_settings_efields',data);
	    if( data.efields.length>3 ){
		this.node.window('resize',{width: 650,height: 'auto'});
	    }
	},
	fieldChanged:function( field, value, is_extra, title ){
            var data={
                doc_view_id:this.data.doc_view_id,is_extra,field,value
            };
            App.page_mtrade_view_settings.handler.notify('update',data);
            alert('todo');
            App.post( 'DocumentView/viewUpdate',{doc_view_id:this.data.doc_view_id,is_extra:is_extra,field:field,value:value}, function(ok){
		App.page_mtrade_view_settings.handler.notify('changed');
                if( ok*1 ){
                    App.flash("Сохранено: "+title);
                } else {
                    App.flash("Ошибка сохранения "+title);
                }
	    });
	},
	deleteView:function(){
            alert('todo');
	    App.post( 'DocumentView/viewDelete',{doc_view_id:this.data.doc_view_id}, function(ok){
		App.page_mtrade_view_settings.handler.notify('deleted');
		App.page_mtrade_view_settings.node.window('close');
	    });	    
	}
    };
</script>
<form id="view_settings_frm">
    <input name="view_date" type="date" title="Дата" required="required" data-notextra="1">
    <input name="view_num" type="number" title="Дата" required="required" data-notextra="1">
    <div class="inp_rule"></div>
    <div id="view_settings_efields">
    {{if efields}}
	{{efields}}
	<input type="text" name="{{field}}" title="{{label}}" value="{{value}}">
	{{/efields}}
    {{/if}}
    </div>
</form>
<div style="text-align: center">
    <button onclick="App.page_mtrade_view_settings.node.window('close')"><img src="img/apply24.png" style="vertical-align: middle"> Закрыть</button>
    <button onclick="App.page_mtrade_view_settings.deleteView();"><img src="img/delete.png" style="vertical-align: middle"> Удалить</button>
</div>
<br>