<script type="text/javascript">
    /*global App */
    App.page_stock_calc_min = {
	parsed:true,
	init: function () {
	    this.node.window({
		title: 'Расчет минимумов',
		width: 550,
                top:50,
		height: 'auto',
		shadow:false,
		onClose:function(){
                    delete App.page_stock_calc_min;
		}
	    });
	    this.node.window('hcenter');
	    this.node.window('window').css('position','fixed');
            
            
	    $("#stock_calc_min_label").html(this.data.parent_label||"Все");
	    App.setupForm("#page_stock_calc_min_frm",{},"use_inp_values");
	},
	submit:function(e){
	    e.preventDefault();
	    var fvalue=App.collectForm("#page_stock_calc_min_frm");
	    fvalue.reserve_period=fvalue.reserve_period1*1+fvalue.reserve_period2*1;
	    this.handler.notify('submit',fvalue);
	    this.node.window('window','close');
	}
    };
</script>
<form id="page_stock_calc_min_frm" onsubmit="App.page_stock_calc_min.submit(event)">
    <img src="img/calc.png" style="float:left" /> 
    <p style="padding: 5px">
    <big>Расчет минимальных остатков в категории "<b id="stock_calc_min_label"></b>"</big><br>
	Формула расчета минимальных остатков.<br>
	Минимальный запас = Период * Среднемесячные продажи;
    </p>
    <select name="sales_period" title="Среднемесячные продажи за">
	<option value="30">1 месяц</option>
	<option value="92" selected="selected">3 месяца</option>
    </select>
    <select name="reserve_period1" title="Мин. запас на" style="width:103px;">
	<option value="0">0 месяцев</option>
	<option value="30" selected="selected">1 месяц</option>
	<option value="61">2 месяца</option>
	<option value="92">3 месяца</option>
	<option value="122">4 месяца</option>
	<option value="153">5 месяцев</option>
	<option value="183">6 месяцев</option>
	<option value="214">7 месяцев</option>
	<option value="243">8 месяцев</option>
	<option value="275">9 месяцев</option>
	<option value="304">10 месяцев</option>
	<option value="335">11 месяцев</option>
	<option value="365">1 год</option>
    </select>
    <select name="reserve_period2" style="width:103px;">
	<option value="0">0 недель</option>
	<option value="7">1 неделя</option>
	<option value="14">2 недели</option>
	<option value="21">3 недели</option>
	<option value="28">4 недели</option>
    </select>
    <input type="checkbox" title="Добавлять резерв" name="count_reserved">
    <input type="checkbox" title="Вычитать ожидаемые" name="count_awaiting">
    <div style="text-align: center;margin-top: 15px;">
	<button type="submit"><img src="img/calc.png" style="width:24px;height: 24px;" /> Рассчитать</button>
	<button type="button" onclick="App.page_stock_calc_min.node.window('close')"><img src="img/close24.png" /> Закрыть</button>
    </div>
</form>