<script type="text/javascript">
    /*global App */
    App.page_stock_calc_min = {
	parsed:true,
	init: function () {
	    this.node.window({
		title: 'Расчет минимумов',
		width: 550,
                top:50,
		height: 'auto',
		shadow:false,
		onClose:function(){
                    delete App.page_stock_calc_min;
		}
	    });
	    this.node.window('hcenter');
	    this.node.window('window').css('position','fixed');
            this.initSlider();
            
            
	    $("#stock_calc_min_label").html(this.data.parent_label||"Все");
	    App.setupForm("#page_stock_calc_min_frm",{},"use_inp_values");
	},
        initSlider:function(){
                $("#page_stock_calc_min_slider").slider({
		    width:300,
		    value: [4],
		    step:1,
		    min:1,
		    max:7,
		    rule: ['1нд','2нд','3нд','1мес','2мес','3мес','6мес'],
		    onChange:function(newVal){
			Ledger.date.rangeToDate(newVal,'reload_ledger');
		    }
		});            
        },
	submit:function(e){
	    e.preventDefault();
	    var fvalue=App.collectForm("#page_stock_calc_min_frm");
	    if( fvalue.ratio>=0.5 ){
		fvalue.ratio=fvalue.ratio*1;
		this.handler.notify('submit',fvalue);
                this.node.window('window','close');
	    } else {
		alert("Коэффициент должен быть числом больше 0,5");
	    }
	}
    };
</script>
<form id="page_stock_calc_min_frm" onsubmit="App.page_stock_calc_min.submit(event)">
    <img src="img/calc.png" style="float:left" /> 
    <p style="padding: 5px">
    <big>Расчет минимальных остатков в категории "<b id="stock_calc_min_label"></b>"</big><br>
	Формула расчета минимальных остатков.<br>
	Минимальный остаток = Коэффициент * Среднемесячные продажи;
    </p>
    <select name="period" title="Среднемесячные продажи за">
	<option value="30">1 месяц</option>
	<option value="90" selected="selected">3 месяца</option>
    </select>
    <input name="ratio" title="Коэффициент" value="1">
    
    <div id="page_stock_calc_min_slider"></div>

    <div style="text-align: center;margin-top: 15px;">
	<button type="submit"><img src="img/calc.png" style="width:24px;height: 24px;" /> Рассчитать</button>
	<button type="button" onclick="App.page_stock_calc_min.node.window('close')"><img src="img/close24.png" /> Закрыть</button>
    </div>
</form>