<script type="text/javascript">
    /*global App */
    App.page_stock_calc_abc = {
	parsed: true,
	init: function () {
	    this.node.window({
		title: 'Расчет Классов',
		width: 570,
		top: 50,
		height: 'auto',
		shadow: false,
		onClose: function () {
		    delete App.page_stock_calc_abc;
		    //pickmeup('.three-calendars').destroy();
		}
	    });
	    this.node.window('hcenter');
	    this.node.window('window').css('position', 'fixed');

	    $("#stock_calc_abc_label").html(this.data.parent_label || "Все");
	    App.setupForm("#page_stock_calc_abc_frm", {}, "use_inp_values");
	    
	    /*App.require(['js/pickmeup/pickmeup.min.js','js/pickmeup/pickmeup.css'],function(){
		App.page_stock_calc_abc.rangePicker();
	    });*/
	},
	submit: function (e) {
	    e.preventDefault();
	    var fvalue = App.collectForm("#page_stock_calc_abc_frm");
	    if( confirm("Классифицировать товар по ABC в категории '"+this.data.parent_label+"'") ){
		this.handler.notify('submit', fvalue);
		this.node.window('window', 'close');
	    }
	    
	}/*,
	rangePicker: function () {
	    pickmeup.defaults.locales['ru'] = {
		    days: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
		    daysShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
		    daysMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
		    months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
		    monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек']
	    };
	    var idate = new Date;
	    idate.setMonth(idate.getMonth() -3);
	    pickmeup('.three-calendars', {
		locale    : 'ru',
		format	  : 'd.m.Y',
		flat      : false,
		date      : [idate,new Date],
		mode      : 'range',
		calendars : 2,
		position  : 'bottom',
		hide_on_select : true,
		render : function (date) {
		    var now = new Date;
		    if (date > now) {
			return {disabled : true};
		    }
		    return {};
		} 
	    });
	}*/
    };
</script>
<style>
    #page_stock_calc_abc_frm .inp_group b{
	width:120px;
    }
</style>
<form id="page_stock_calc_abc_frm" onsubmit="App.page_stock_calc_abc.submit(event)">
    <img src="img/calc.png" style="float:left" /> 
    <p style="padding: 5px">
    <big>Классификация по продаваемости товаров категории:"<b id="stock_calc_abc_label"></b>"</big><br>
    A - 80% продаж | B - 15% продаж | C - 5% продаж
    </p>
    <input type="checkbox" title="Все наши фирмы" name="all_active" checked="checked" />
    <select name="period" title="Период рассчета">
	<option value="30">месяц</option>
	<option value="91" selected="selected">3 месяца</option>
	<option value="365">год</option>
    </select>
    <div style="text-align: center;margin-top: 15px;">
	<button type="submit"><img src="img/calc.png" style="width:24px;height: 24px;" /> Рассчитать</button>
	<button type="button" onclick="App.page_stock_calc_abc.node.window('close')"><img src="img/close24.png" /> Закрыть</button>
    </div>
</form>