<script type="text/javascript">
    /* global App */
    App.page_stock_checkout_list={
	init:function(){
            App.page_stock_checkout_list.table.init();
            App.page_stock_checkout_list.entries.init();
            App.page_stock_checkout_list.log.init(); 
            App.Topic('hashChange').subscribe(function(state,module){
                if( module === 'Stock' ){
                    App.page_stock_checkout_list.table.select_checkout_row(state.checkout_id);
                    App.page_stock_checkout_list.entries.load(state.checkout_id);
                }
            });
        },
        overall_reload:function(){
            App.page_stock_checkout_list.table.grid.reload();
            App.page_stock_checkout_list.entries.tools.reload(); 
            App.page_stock_checkout_list.log.tools.reload(); 
        },
        table:{
            current_id: '',
            list:[],
            init: function(){
                var settings = {
			columns:  [
                            {id: "row_num", field: "",formatter:App.page_stock_checkout_list.table.frm.queue, name: "#", width: 35,cssClass: 'slick-align-right'},
                            {id: "cstamp", field: "cstamp_dmy", name: "Дата", width: 120,cssClass: 'slick-align-right'},
                            {id: "checkout_name", field: "checkout_name", name: "Название", width: 200,cssClass: 'slick-align-left'},
                            {id: "created_by", field: "creator_nick", name: "Начал", width: 100},
                            {id: "modified_by", field: "modifier_nick", name: "Проверил", width: 100},
                            {id: "chackout_status", field: "checkout_status", formatter:App.page_stock_checkout_list.table.frm.status, name: "", width: 30,cssClass: 'slick-align-middle'}
                        ],
			options: {
			    editable: false,
			    enableCellNavigation: true,
			    enableColumnReorder: false,
			    enableFilter: true,
			    url: 'Checkout/checkoutListFetch/'
			}
		    };
                App.page_stock_checkout_list.table.grid = new SlickInfinite("#checkout_list_sg", settings);
                if(App.page_stock_checkout_list.table.current_id){
                    App.page_stock_checkout_list.entries.load();
                }
                App.page_stock_checkout_list.table.grid.onClick.subscribe(function (e, data) {
                    var row_data=App.page_stock_checkout_list.table.grid.getDataItem(data.row);
                    location.hash="#Stock#checkout_id="+row_data.checkout_id;
                });
            },
            select_checkout_row:function(checkout_id){
                var selected_rows = App.page_stock_checkout_list.table.grid.getSelectedRows();
                var row_data=App.page_stock_checkout_list.table.grid.getDataItem(selected_rows[0]);
                if(row_data && row_data.checkout_id !== checkout_id){
                    var loaded_entries = App.page_stock_checkout_list.table.grid.getData();  
                    for(var i in loaded_entries){
                        if (loaded_entries[i].checkout_id === checkout_id){
                          App.page_stock_checkout_list.table.grid.setSelectedRows([loaded_entries[i].num]); 
                          App.page_stock_checkout_list.table.grid.resetActiveCell();
                        }
                    }
                }
                //App.page_stock_checkout_list.table.grid.reload();
            },
            frm: {
                queue:function(row, cell, value, columnDef, dataContext){
                    return row+1;
                }, 
                status:function(row, cell, value, columnDef, dataContext){
                    var img='',title='';
                    switch(value){
                        case 'not_checked':
                            img='red.png';
                            title='Не выполнено';
                            break;
                        case 'checked':
                            img='ok.png';
                            title='Выполнено';
                            break;
                        case 'checked_with_divergence':
                            img='ok.png';
                            title='Выполнено';
                        break;
                        case 'is_checking':
                            img='bolt.png';
                            title='Проверяется';
                            break;
                    }
                    return '<img src="img/'+img+'" title="'+title+'" style="margin:2px;">';
                }
            }
        },
        entries:{
            list:[],
            tools:{
                reload:function(){
                    App.page_stock_checkout_list.entries.load(App.state.checkout_id);
                },
                out: function (out_type) {
		    var params = {
                        checkout_id:App.state.checkout_id
                    };
		    params.out_type=(out_type || '.xlsx');
		    var url = 'Checkout/checkoutViewGet/?' + $.param(params);
		    if (out_type === '.print') {
			window.open(url, 'print_tab');
		    } else {
			location.href = url;
		    }
		},
                export: function(){
                    var options=App.page_stock_checkout_list.entries.grid.getOptions();
                    $.post('Checkout/checkoutEntriesExport',options.params,function(ok){
                        if (ok * 1) {
			    App.flash("В таблицу Импортера добавлено строк: " + ok);
			}
                    });
                },
		print: function () {
		    this.out('.print');
		}
            },
            init: function(){
		$(".x-stock-checkout-tools").click(function (e) {
		    var action = $(e.target).data('action');
		    if (action) {
			App.page_stock_checkout_list.entries.tools[action] && App.page_stock_checkout_list.entries.tools[action]();
		    }
		});
                var settings = {
                    columns:  [
                        {id: "row_num", field: "",formatter:App.page_stock_checkout_list.table.frm.queue, name: "#", width: 25,cssClass: 'slick-align-right'},
                        {id: "product_code", field: "product_code", name: "Код", width: 80,cssClass: 'slick-align-right'},
                        {id: "checkout_name", field: "ru", name: "Название", width: 270,cssClass: 'slick-align-left'},
                        {id: "product_quantity_verified", field: "product_quantity_verified", name: "Проверено", width: 70,cssClass: 'slick-align-right'},
                        {id: "product_quantity", field: "product_quantity", name: "Количество", width: 70,cssClass: 'slick-align-right'},
                        {id: "product_unit", field: "product_unit", name: "Единица", width: 30,cssClass: 'slick-align-right'},
                        {id: "verification_status_symbol", field: "verification_status_symbol", name: "!", width: 20,cssClass: 'slick-align-right'}
                    ],
                    options: {
                        editable: false,
                        enableCellNavigation: true,
                        enableColumnReorder: false,
                        enableFilter: true,
                        limit:999999,
                        url: 'Checkout/checkoutEntriesFetch/',
                        params:{
                            checkout_id:0
                        }
                    }
                };
                App.page_stock_checkout_list.entries.grid = new SlickInfinite("#checkout_entries_sg", settings);
                App.page_stock_checkout_list.entries.grid.onRenderFinished.subscribe(function(){
                    App.page_stock_checkout_list.entries.calc_progress();
                });
            },
            load:function(checkout_id){
                if( !App.page_stock_checkout_list.entries.grid ){
                    //App.page_stock_checkout_list.entries.init();
                }
                App.page_stock_checkout_list.entries.grid.updateOptions({params:{checkout_id:checkout_id}});
                App.page_stock_checkout_list.entries.grid.reload();
                
                App.page_stock_checkout_list.log.grid.updateOptions({params:{checkout_id:checkout_id}});
                App.page_stock_checkout_list.log.grid.reload();
                $.post("Checkout/checkoutDocumentHeadGet/", {checkout_id: checkout_id}, function(resp){
                    var head = App.json(resp);
                    if(head){
                        App.page_stock_checkout_list.selected_document_head=head;
                        App.renderTpl('checkout_document_head',head);
                        App.page_stock_checkout_list.photos.parse();
                    }
                });
            },
            calc_progress:function(response){
                var entries_list=App.page_stock_checkout_list.entries.grid.getData();
                var doc_head=App.page_stock_checkout_list.selected_document_head;
                var verified = 0;
                var total = 0;
                for(let i in entries_list){
                    let item=entries_list[i];
                    if(  item.product_quantity!==undefined ){
                        verified += Math.min(item.product_quantity_verified, item.product_quantity);
                        total += item.product_quantity*1;
                    }
                }
                var percent=Math.round(verified/total*100)||0;
                var text="";
                switch(doc_head.checkout_status){
                    case 'checked':
                        text=`Проверено ${percent}%`;
                        break;
                    case 'is_checking':
                        text=`В процессе ${percent}%`;
                        break;
                    case 'checked_with_divergence':
                        text=`Проверено с исправлениями ${percent}%`;
                        break;
                    case 'not_checked':
                    default:
                        text=`Непроверено ${percent}%`;
                        break;
                }
                $('#checkout_progress_bar').progressbar({
                    value:percent,
		    text: text
                });
            }
        },
        log:{
            list:[],
            tools:{
                reload:function(){
                    App.page_stock_checkout_list.entries.load(App.state.checkout_id);
                },
                out: function (out_type) {
		    var params = {
                        checkout_id:App.state.checkout_id
                    };
		    params.out_type=(out_type || '.xlsx');
		    var url = 'Checkout/checkoutViewGet/?' + $.param(params);
		    if (out_type === '.print') {
			window.open(url, 'print_tab');
		    } else {
			location.href = url;
		    }
		},
		print: function () {
		    this.out('.print');
		}
            },
            init: function(){
		$(".x-stock-checkout-log-tools").click(function (e) {
		    var action = $(e.target).data('action');
		    if (action) {
			App.page_stock_checkout_list.log.tools[action] && App.page_stock_checkout_list.log.tools[action]();
		    }
		});
                var settings = {
                    columns:  [
                        {id: "row_num", field: "",formatter:App.page_stock_checkout_list.table.frm.queue, name: "#", width: 25,cssClass: 'slick-align-right'},
                        {id: "product_code", field: "product_code", name: "Код", width: 80,cssClass: 'slick-align-right'},
                        {id: "product_name", field: "ru", name: "Название", width: 260},
                        {id: "product_quantity", field: "operation_quantity", name: "Проверено", width: 70,cssClass: 'slick-align-right'},
                        {id: "product_unit", field: "product_unit", name: "Единица", width: 30,cssClass: 'slick-align-right'},
                        {id: "cstamp", field: "cstamp_dmy", name: "Время", width: 110,cssClass: 'slick-align-right'}
                    ],
                    options: {
                        editable: false,
                        enableCellNavigation: true,
                        enableColumnReorder: false,
                        enableFilter: false,
                        limit:999999,
                        url: 'Checkout/checkoutLogFetch/'
                    }
                };
                App.page_stock_checkout_list.log.grid = new SlickInfinite("#checkout_log_sg", settings);
            }
        },
        photos:{
            list: [],
            parse: function (){
                var list =[];
                if( App.page_stock_checkout_list.selected_document_head.checkout_photos ){
                    list=App.page_stock_checkout_list.selected_document_head.checkout_photos.split(",").reverse();
                }
                var photos=[];
                for(var filename of list){
                    if( !filename ){
                        continue;
                    }
                    var photo_date=new Date (parseInt(filename));
                    var photo={
                        filename:filename,
                        date:photo_date.toLocaleDateString()+" "+photo_date.toLocaleTimeString()
                    };
                    photos.push(photo);
                }
                App.page_stock_checkout_list.photos.list=photos;
                App.page_stock_checkout_list.photos.render();
            },
            render:function(){
                App.renderTpl("checkout_photos", {checkout_photos: App.page_stock_checkout_list.photos.list});
            }
        },
        finish:{
            warning_entries:[],
            init:function(){
                this.warning_entries = [];
                var entries_list=App.page_stock_checkout_list.entries.grid.getData();
                for( let i in entries_list){
                    var difference = entries_list[i].product_quantity_verified - entries_list[i].product_quantity;
                    if( difference>0 || difference<0 ){
                        entries_list[i].difference=difference;
                        entries_list[i].color="red";
                        if( difference>0 ){
                            entries_list[i].difference="+"+difference;
                            entries_list[i].color="green";
                        }
                        this.warning_entries.push(entries_list[i]);
                    }
                }
                if( this.warning_entries.length>0){
                    App.page_stock_checkout_list.finish.modal.open();
                } else {
                    App.page_stock_checkout_list.finish.commit();
                }
            },
            commit:function(){
                App.page_stock_checkout_list.finish.modal.close();
                if(App.page_stock_checkout_list.selected_document_head.parent_doc_id>0){
                    $.post('Checkout/checkoutDocumentOutput', {checkout_id: App.state.checkout_id}, function (resp) {
                        var result=App.json(resp);
                        if( result ){
                            App.page_stock_checkout_list.finish.show_result(result);
                            App.page_stock_checkout_list.overall_reload();
                        } else {
                            App.page_stock_checkout_list.finish.alert("Не удалось измененить накладную!");
                        }
                    });
                } else {
                    App.user.pcompSelect({company_id:App.acomp.company_id}).done(function(){
                        $.post('Checkout/checkoutDocumentOutput', {checkout_id: App.state.checkout_id}, function (resp) {
                            if(resp){
                                App.page_stock_checkout_list.finish.alert("Созданы корректировочные накладные в \n"+App.pcomp.label);
                                App.page_stock_checkout_list.overall_reload();
                            } else {
                                App.page_stock_checkout_list.finish.alert("Не удалось создать корректировки накладную!");
                            }
                        });
                    });
                }
            },
            show_result:function(result){
                var msg='';
                if( result.less>0 ){
                    msg+=`Недостача: ${result.less} позиций\n`;
                }
                if( result.more>0 ){
                    msg+=`Избыток: ${result.more} позиций\n`;
                }
                if( result.added>0 ){
                    msg+=`Добавлено строк: ${result.added}\n`;
                }
                if( result.deleted>0 ){
                    msg+=`Удалено строк: ${result.deleted}\n`;
                }
                if( result.updated>0 ){
                    msg+=`Изменено строк: ${result.updated}\n`;
                }
                App.page_stock_checkout_list.finish.alert("В накладную были внесены изменения: \n"+msg);
            },
            modal:{
                open: function(){
                    $('#checkout_confirm_warning').dialog('open');
                    App.renderTpl('checkout_confirm_warning', {products: App.page_stock_checkout_list.finish.warning_entries});
                },
                close:function(){
                    $('#checkout_confirm_warning').dialog('close');
                }
            },
            alert:function( msg ){
                alert(msg);
            }
        }
    };
</script>
<div style="display: grid;grid-template-columns:600px auto;gap:5px">
    <div>
        <div style="float: left;margin-right: 20px;">
            <img src="img/table16.png" style="width:16px;height: 16px;"> Список проверочных документов
        </div>

        <div class="x-stock-checkout-tools" style="text-align: right;">
            <span class="icon-24 icon-refresh" title="Обновить" onclick="App.page_stock_checkout_list.table.grid.reload()"></span>
        </div>
        <div style="height: 655px;" id="checkout_list_sg"></div>
    </div>
    <div>
        <div class="easyui-tabs " style="width:605px ">
            <div title="Ход проверки"  style="min-height: 580px;">
                <div style="padding:10px;">
                    <span id="checkout_document_head">
                        {{if checkout_status|equals>is_checking}}
                            <button onclick="App.page_stock_checkout_list.finish.init();"><img src="img/ok.png"> Завершить проверку</button>
                        {{else}}
                            <img src="img/apply24.png"> Проверка завершена
                        {{/if}}
                    </span>
                    <div id="checkout_progress_bar" class="easyui-progressbar" data-options="value:0" style="width:400px;float: right"></div>
                </div>
                <div class="x-stock-checkout-tools" style="text-align: right;clear: both">
                    <span data-action="reload" class="icon-24 icon-refresh" title="Обновить"> </span>
                    <span data-action="export" class="icon-24 icon-export" title="Экспорт"> </span> 
                    <span data-action="out" class="icon-24 icon-download" title="Скачать таблицу"> </span>
                    <span data-action="print" class="icon-24 icon-print" title="Печать"> </span>
                </div>
                <div style="width: 600px; height: 580px;" id="checkout_entries_sg">
                    <h1><<Выберите документ</h1>
                </div> 
            </div>
            <div title="Операции" style="min-height: 500px;">
                <div class="x-stock-checkout-log-tools" style="text-align: right;">
                    <span data-action="reload" class="icon-24 icon-refresh" title="Обновить"> </span>
                    <span data-action="out" class="icon-24 icon-download" title="Скачать таблицу"> </span>
                    <span data-action="print" class="icon-24 icon-print" title="Печать"> </span>
                </div>
                <div style="width: 600px; height: 620px;" id="checkout_log_sg"></div>
            </div> 
            <div id="checkout_photos"  title="Фотографии" style="min-height: 640px;">
                <div>
                    {{if checkout_photos}} 
                        {{checkout_photos}} 
                         <div style="display:inline-block; padding: 15px">
                            <a href="Storage/image_flush/?size=1000x1000&path=/checkout/{{filename}}" target="_blank">
                                <img src="Storage/image_flush/?size=250x250&path=/checkout/{{filename}}" style="max-height: 250px;max-width: 250px" ><br>
                                {{date}}
                            </a>
                         </div>
                        {{/checkout_photos}}
                    {{else}}
                        <h3>Фотографий не загружено</h3>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>










<div >
    <div class="easyui-dialog" id="checkout_confirm_warning" style="width:600px;height:500px;top:40px"
		data-options="title:'Результат проверки',
                closed:true,
                buttons:[{
                        text:'Создать корректировки / Исправить накладную',
                        handler:function(){
                            App.page_stock_checkout_list.finish.commit();
                        }
                },{
                        text:'Отменить',
                        handler:function(){
                            $('#checkout_confirm_warning').dialog('close');
                        }
                }]">
	{{products}}
        <div style="padding: 10px;border-bottom: 1px solid #999">
                <div style="width:450px;display:inline-block"><b>{{product_code}}</b> {{ru}}</div> 
                <div style="width:80px;display:inline-block;color:{{color}}"><b>{{difference}}</b></div>
            </div>
        {{/products}}
    </div>
</div>