<script type="text/javascript">
    /* global App */
    App.page_stock_checkout_list={
	init:function(){
            App.require(["js/slick/lib/jquery.event.drag-2.3.0.js"], function () {
                App.require([
                    "js/slick/slick.core.js",
                    "js/slick/plugins/slick.rowselectionmodel.js",
                    "js/slick/slick.editors.js",
                    "js/slick/slickinfinite.js",
                    "js/slick/slick.grid.js"
                ], function(){
                    App.page_stock_checkout_list.table.init();
                    App.page_stock_checkout_list.entries.init();
                    App.page_stock_checkout_list.log.init(); 
                });
            });
        },
        table:{
            current_id: '',
            list:[],
            init: function(){
                var settings = {
			columns:  [
                            {id: "row_num", field: "",formatter:App.page_stock_checkout_list.table.frm.queue, name: "#", width: 25,cssClass: 'slick-align-right'},
                            {id: "cstamp", field: "cstamp_dmy", name: "Дата", width: 100,cssClass: 'slick-align-right'},
                            {id: "checkout_name", field: "checkout_name", name: "Название", width: 100,cssClass: 'slick-align-left'},
                            {id: "created_by", field: "creator_nick", name: "Начал", width: 100,cssClass: 'slick-align-right'},
                            {id: "modified_by", field: "modifier_nick", name: "Проверил", width: 100,cssClass: 'slick-align-right'},
                            {id: "chackout_status", field: "checkout_status", formatter:App.page_stock_checkout_list.table.frm.status, name: "", width: 30,cssClass: 'slick-align-middle'}
                        ],
			options: {
			    editable: false,
			    enableCellNavigation: true,
			    enableColumnReorder: false,
			    enableFilter: true,
			    url: 'Checkout/checkoutListFetch/'
			}
		    };
		    App.page_stock_checkout_list.table.grid = new SlickInfinite("#checkout_list_sg", settings);
                    if(App.page_stock_checkout_list.table.current_id){
                        App.page_stock_checkout_list.entries.load();
                    } 
                    App.Topic('hashChange').subscribe(function(state){
                        var selected_rows = App.page_stock_checkout_list.table.grid.getSelectedRows();
                        var row_data=App.page_stock_checkout_list.table.grid.getDataItem(selected_rows[0]);
                        if(row_data && row_data.checkout_id != state.checkout_id){
                            let object = App.page_stock_checkout_list.table.grid.getData();  
                            for(let i in object){
                                if (object[i].checkout_id == state.checkout_id){
                                  App.page_stock_checkout_list.table.grid.setSelectedRows([object[i].num]); 
                                  App.page_stock_checkout_list.table.grid.resetActiveCell();
                                }
                            }
                        }
                    });
                    App.page_stock_checkout_list.table.grid.onClick.subscribe(function (e, data) {
                        var row_data=App.page_stock_checkout_list.table.grid.getDataItem(data.row);
                        location.hash="#Stock#checkout_id="+row_data.checkout_id;
		    });
            },
            frm: {
                queue:function(row, cell, value, columnDef, dataContext){
                    return row+1;
                }, 
                status:function(row, cell, value, columnDef, dataContext){
			var img='',title='';
			switch(value){
			    case 'not_checked':
				img='red.png';
				title='Не выполнено';
				break;
			    case 'checked':
				img='ok.png';
				title='Выполнено';
				break;
                            case 'checked_with_divergence':
				img='ok.png';
				title='Выполнено';
                            break;
			    case 'is_checking':
				img='bolt.png';
				title='Проверяется';
				break;
			}
			return '<img src="img/'+img+'" title="'+title+'" style="margin:2px;">';
		    }
            },
        },
        entries:{
            list:[],
            init: function(){
                var settings = {
			columns:  [
                            {id: "row_num", field: "",formatter:App.page_stock_checkout_list.table.frm.queue, name: "#", width: 25,cssClass: 'slick-align-right'},
                            {id: "product_code", field: "product_code", name: "Код", width: 40,cssClass: 'slick-align-right'},
                            {id: "checkout_name", field: "ru", name: "Название", width: 250,cssClass: 'slick-align-left'},
                            {id: "product_quantity_verified", field: "product_quantity_verified", name: "Проверено", width: 70,cssClass: 'slick-align-right'},
                            {id: "product_quantity", field: "product_quantity", name: "Количество", width: 70,cssClass: 'slick-align-right'},
                            {id: "product_unit", field: "product_unit", name: "Единица", width: 50,cssClass: 'slick-align-right'}
                        ],
			options: {
			    editable: false,
			    enableCellNavigation: true,
			    enableColumnReorder: false,
			    enableFilter: true,
                            limit:999999,
			    url: 'Stock/checkoutDocumentGet/',
                            params:{
                                checkout_id:0
                            }
			}
		    };
                   
		    //App.page_stock_checkout_list.entries.grid = new SlickInfinite("#checkout_entries_sg", settings);
                    App.page_stock_checkout_list.entries.grid = new Slick.Grid("#checkout_entries_sg", [], settings.columns, settings.options);
                   
                    App.Topic('hashChange').subscribe(function(state){
                        App.page_stock_checkout_list.entries.load(state.checkout_id);
                    });
            },
            load:function(checkout_id){
                if(!App.page_stock_checkout_list.entries.grid){
                    App.page_stock_checkout_list.entries.init();
                }
                //App.page_stock_checkout_list.entries.grid.reload();
                $.post("Checkout/checkoutDocumentGet/", {checkout_id: checkout_id}, function(resp){
                    var response = App.json(resp);
                    if(response){
                        App.page_stock_checkout_list.entries.grid.setData(response['entries']);
                        App.page_stock_checkout_list.log.grid.setData(response['log']);
                        App.page_stock_checkout_list.photos.list = response['head'];
                        App.page_stock_checkout_list.entries.calc_progress(response);
                        App.page_stock_checkout_list.photos.load();
                        App.page_stock_checkout_list.log.load(checkout_id);
                        App.page_stock_checkout_list.entries.grid.render();
                    }
                    
                });
            },
            calc_progress(response){
                if (response['head'].checkout_status === 'not_checked' ){
                    $('#checkout_progress_bar').progressbar({
                        value: 0
                        
                    });
                    return;
                }; 
                console.log(response['entries']);
                var verified = 0;
                var total = 0;
                response['entries'].forEach(function(item){
                      verified += Math.min(item.product_quantity_verified, item.product_quantity);
                      total += item.product_quantity*1;
                });
                if (verified > 0){
                };
                $('#checkout_progress_bar').progressbar({
                        value: Math.round(verified/total*100)
                });
            }
            
        },
        log:{
            list:[],
            init: function(){
                var settings = {
			columns:  [
                            {id: "row_num", field: "",formatter:App.page_stock_checkout_list.table.frm.queue, name: "#", width: 25,cssClass: 'slick-align-right'},
                            {id: "cstamp", field: "cstamp", name: "Время", width: 100,cssClass: 'slick-align-right'},
                            {id: "product_code", field: "product_code", name: "Код", width: 40,cssClass: 'slick-align-right'},
                            {id: "product_name", field: "ru", name: "Название", width: 150,cssClass: 'slick-align-left'},
                            {id: "product_quantity", field: "operation_quantity", name: "Проверено", width: 70,cssClass: 'slick-align-right'},
                            {id: "product_unit", field: "product_unit", name: "Единица", width: 50,cssClass: 'slick-align-right'}
                        ],
			options: {
			    editable: false,
			    enableCellNavigation: true,
			    enableColumnReorder: false,
			    enableFilter: false,
                            limit:999999,
			    url: 'Checkout/checkoutLogFetch/'
			}
		    };
		    //App.page_stock_checkout_list.entries.grid = new SlickInfinite("#checkout_entries_sg", settings);
                    App.page_stock_checkout_list.log.grid = new Slick.Grid("#checkout_log_sg", [], settings.columns, settings.options);
                    
            },
            load:function(checkout_id){
                if(!App.page_stock_checkout_list.log.grid){
                    App.page_stock_checkout_list.log.init();
                }
                //App.page_stock_checkout_list.entries.grid.reload();
                $.post("Checkout/checkoutLogFetch/", {checkout_id: checkout_id}, function(resp){
                    var response = App.json(resp);
                    for (var i=0; i<response.length; i++){
                       response[i].cstamp = App.page_stock_checkout_list.log.date_processing(response[i].cstamp)
                    }
                    //response.cstamp = response.cstamp.toISOString().substr(0,10) + ' ' + response.cstamp.toLocaleTimeString();
                    App.page_stock_checkout_list.log.grid.setData(response);
                    App.page_stock_checkout_list.log.grid.render();
                });
            },
            date_processing: function (date_string){
                var time_object = new Date(date_string);
                var time_to_display = time_object.toLocaleTimeString() + ' (' + time_object.toLocaleDateString() + ')';
                return time_to_display;
            }
        },
        photos:{
            list: [],
            load: function (){
                App.page_stock_checkout_list.photos.list = App.page_stock_checkout_list.photos.list.checkout_photos?App.page_stock_checkout_list.photos.list.checkout_photos.split(",").reverse():[];
                
                var photos=[];
                for(var filename of App.page_stock_checkout_list.photos.list){
                    if( !filename ){
                        continue;
                    }
                    var photo_date=new Date (parseInt(filename));
                    var photo={
                        filename:filename,
                        date:photo_date.toLocaleDateString()+" "+photo_date.toLocaleTimeString()
                    };
                    photos.push(photo);
                }
                App.page_stock_checkout_list.photos.list=photos;
                App.page_stock_checkout_list.photos.render();
            },
            render:function(){
                App.renderTpl("checkout_photos", {checkout_photos: App.page_stock_checkout_list.photos.list});
            }
        }
    };
</script>
<div >
    <table>
        <tr>
            
            <td class="transp60">
                <div style="text-align: center; font-size: 13px;  color: darkblue">
                    <img src="img/ProductCard.png" style="float:left; height:20px; width:auto">
                    Список проверочных документов
                </div>
                <div class="x-stock-leftovers-tools" style="text-align: right;padding-top:11px">
                    <span class="icon-24 icon-refresh" title="Обновить" onclick="App.page_stock_checkout_list.table.grid.reload()"></span>
                </div>
                <div style="width: 465px; height: 500px; float:left" id="checkout_list_sg"></div>
            </td>
            
            <td class="transp60">
                <div id="checkout_progress_bar" class="easyui-progressbar" data-options="value:0" style="width:575px"></div>
                <div class="easyui-tabs " style="width:575px ">
                    <span class="icon-24 icon-refresh" title="Обновить" style="float:right" onclick="App.page_stock_checkout_list.entries.load(App.state.checkout_id)"></span>
                    <div title="Подробности"  style="min-height: 500px;">
                        <div class="x-stock-leftovers-tools" style="text-align: right;">
                        </div>
                        <div style="width: 525px; height: 500px; margin-left:20px" id="checkout_entries_sg">
                            <h1><<Выберите документ</h1>
                        </div> 
                    </div>
                    <div title="Операции" style="min-height: 500px;">
                        <div class="x-stock-leftovers-tools" style="text-align: right;">
                            <div style="width: 455px; height: 500px; margin-left:20px" id="checkout_log_sg"></div>
                        </div>   
                    </div> 
                    <div id="checkout_photos"  title="Фотографии" style="min-height: 500px;">
                        <div>
                           {{checkout_photos}} 
                            <div style="display:inline-block; padding: 15px">
                                <div>
                                    <a href="Storage/image_flush/?size=700x700&path=/checkout/{{filename}}">
                                    <img src="Storage/image_flush/?size=110x110&path=/checkout/{{filename}}" style="max-height: 110px;max-width: 110px" >
                                    </a>
                                </div>
                                <div>
                                    <a>{{date}}</a>
                                </div>
                            </div>
                            {{/checkout_photos}}

                        </div>
                    </div>
                </div>
            </td>
        <tr>
    </table>
</div>