<script type="text/javascript">
    (function ($) {
	function init() {
	    Leftovers.init();
	    ProductCard.init();
	    Tree.init();
	}

	var Tree = {
	    init: function () {

	    }
	};


	var ProductCard = {
	    init: function () {

	    },
	    open: function (fvalue) {
		return
	    }
	};
	/////////////////////////////////////////////////////////
	// Leftovers DATA BASE SECTION
	/////////////////////////////////////////////////////////
	var Leftovers = {
	    grid: null,
	    init: function () {
		Leftovers.table.init();
		Leftovers.initTree();
		$(".x-stock-leftovers-tools").click(function (e) {
		    var action = $(e.target).data('action');
		    if (action) {
			Leftovers.tools[action] && Leftovers.tools[action]();
		    }
		});
	    },
	    initTree: function () {
		App.loadModule('page/stock/tree', {inline: true, clickselect: true}, 'StreeInline', /(Stree|page_stock_tree)([^\w]|_)/g, "StreeInline$2").progress(function (status, branch) {
		    if (status === 'select') {
			var parent_id=branch?branch.branch_id:0;
			var parent_label=branch?branch.parent_label:0;
			$("#stock_cat_name").html(parent_label);
			Leftovers.grid.scrollRowToTop(0);
			Leftovers.grid.updateOptions({
			    params:{
				parent_id:parent_id
			    }
			});
			Leftovers.grid.reload();
		    }
		});
	    },
	    showProductCard: function (fvalue) {
		if (App.user.props.user_level < 2) {
		    alert("Доступ ограничен");
		    return;
		}
		fvalue.enablePrevnext = true;
		App.loadWindow('page/stock/product_card', fvalue).progress(function (status, fvalue) {
		    if (status === 'save') {
			Leftovers.grid.reload();
		    }
		    if (status === 'prev') {
			Leftovers.prev();
		    }
		    if (status === 'next') {
			Leftovers.next();
		    }
		});
	    },
	    prev:function(){
		if( Leftovers.grid.navigateUp() ){
		    Leftovers.tools.entryEdit();
		}
	    },
	    next:function(){
		if( Leftovers.grid.navigateDown() ){
		    Leftovers.tools.entryEdit();
		}
	    },
	    tools: {
		entryImport: function () {
		    var config = [
			{field: "supply_code", name: "Код пост.", required: true},
			{field: "supply_name", name: "Название"},
			{field: "supply_buy", name: "Закупка база"},
			{field: "supply_comment", name: "Комментарий"},
			{field: "product_code", name: "Код наш"},
			{field: "supply_spack", name: "В Коробке"},
			{field: "supply_bpack", name: "В Ящике"},
			{field: "supply_weight", name: "Вес"},
			{field: "supply_volume", name: "Объем"},
			{field: "supply_unit", name: "Единица"}
		    ];
		    App.loadWindow('page/dialog/importer', {label: 'закуп', fields_to_import: config}).progress(function (status, fvalue, Importer) {
			if (status === 'submit') {
			    var question = "Импортировать эти строчки без указания поставщика?";
			    fvalue.supplier_id = 0;
			    if (Supplier.selected && Supplier.selected.supplier_id) {
				question = "Импортировать эти строчки поставщику '" + Supplier.selected.supplier_name + "'?";
				fvalue.supplier_id = Supplier.selected.supplier_id;
			    }
			    if (confirm(question)) {
				App.post("StockBuyManager/entryImport/", fvalue, function (ok) {
				    App.flash("Импортировано " + ok);
				    Importer.reload();
				    Supply.tools.reload();
				});
			    }
			}
		    });
		},
		reload: function () {
		    Leftovers.grid.reload();
		},
		entryDelete: function () {
		    var selected_rows = Leftovers.grid.getSelectedRows();
		    var product_codes = [];
		    if (!selected_rows.length) {
			App.flash("Ни одна строка не выбрана!");
			return;
		    }
		    for (var i in selected_rows) {
			var row_data=Leftovers.grid.getDataItem(selected_rows[i]);
			if(row_data && row_data.product_quantity > 0){
			    alert("Остаток '" + row_data.ru + "' должен быть нулевым");
			    return;			    
			}
			product_codes.push(row_data.product_code);
		    }
		    if (!confirm("Удалить выделенные товары?")) {
			return;
		    }

		    $.post('Stock/productDelete', {product_code: product_codes.join(',')}, function (ok) {
			if (ok * 1) {
			    App.flash("Товар удален: " + product_codes.join(' , '));
			    Leftovers.grid.reload();
			} else {
			    App.flash("Товар не удален");
			}
		    });
		},
		entryCreate: function () {
		    var fvalue = {
			parent_id: Leftovers.parent_id,
			parent_label: Leftovers.parent_label,
			product_code: ''
		    };
		    Leftovers.showProductCard(fvalue);
		},
		entryEdit: function () {
		    var selected_rows = Leftovers.grid.getSelectedRows();
		    if (!selected_rows.length) {
			App.flash("Ни одна строка не выбрана!");
			return;
		    }
		    var row_data=Leftovers.grid.getDataItem(selected_rows[0]);
		    if( row_data ){
			row_data.focus='product_code';
			Leftovers.showProductCard(row_data);
		    }
		},

		out: function (out_type) {
		    var sorted = Leftovers.grid.getSortColumns();
		    var params = {
			sortby: sorted.length ? sorted[0].columnId : '',
			sortdir: sorted.length ? (sorted[0].sortAsc ? 'ASC' : 'DESC') : '',
			filter: JSON.stringify(Leftovers.grid.getFilter()),
			out_type: (out_type || '.xlsx')
		    };
		    var url = 'StockBuyManager/viewGet/?' + $.param(params);
		    if (out_type === '.print') {
			window.open(url, 'print_tab');
		    } else {
			location.href = url;
		    }
		},
		print: function () {
		    this.out('.print');
		}
	    },
	    table:{
		columnMode:App.store('stock_leftover_table_mode'),
		columnSummaryWidth:0,
		columnsGet:function(){
		    var columns_lev1=[
			{id: "parent_label", field: "parent_label", name: "Категория", width: 120},
			{id: "product_code", field: "product_code", name: "Код", width: 80, sortable: true},
			{id: "ru", field: "ru", name: "Название", width: 330, sortable: true},
			{id: "product_unit", field: "product_unit", name: "Ед", width: 30, sortable: true, cssClass: 'slick-align-right'},
			{id: "product_quantity", field: "product_quantity", name: "Остаток", width: 60, sortable: true,formatter:Leftovers.table.frm.min, cssClass: 'slick-align-right'}
		    ];
		    var columns_lev2=[
			{id: "product_wrn_quantity", field: "product_wrn_quantity",  name: "Мин", width: 60, editor: Slick.Editors.Integer, sortable: true,formatter:Leftovers.table.frm.int, cssClass: 'slick-align-right'},
			{id: "m1", field: "m1", name: "1м", width: 60, sortable: true,formatter:Leftovers.table.frm.m1, cssClass: 'slick-align-right'},
			{id: "m3", field: "m3", name: "3м", width: 60, sortable: true,formatter:Leftovers.table.frm.int, cssClass: 'slick-align-right'}
		    ];
		    var columns_adv=[
			{id: "analyse_class", field: "analyse_class", name: "Класс", sortable: true, width: 100, editor: Slick.Editors.Text},
			{id: "product_article", field: "product_article", name: "Артикул", sortable: true, width: 100, editor: Slick.Editors.Text} ,
			{id: "self_price", field: "self_price", name: "Учетная цена", sortable: true,formatter:Leftovers.table.frm.float2, width: 70, cssClass: 'slick-align-right'},
			{id: "sell", field: "sell", name: "Продажа", sortable: true,formatter:Leftovers.table.frm.float2, width: 70, cssClass: 'slick-align-right', editor: Slick.Editors.Float},
			{id: "buy", field: "buy", name: "Покупка", sortable: true,formatter:Leftovers.table.frm.float2, width: 70, cssClass: 'slick-align-right', editor: Slick.Editors.Float},
			{id: "curr_code", field: "curr_code", name: "Валюта", sortable: true, width: 50, cssClass: 'slick-align-right'},
			{id: "product_spack", field: "product_spack", name: "М. упак", sortable: true,formatter:Leftovers.table.frm.int, width: 60, editor: Slick.Editors.Integer, cssClass: 'slick-align-right'},
			{id: "product_bpack", field: "product_bpack", name: "Б. упак", sortable: true,formatter:Leftovers.table.frm.int, width: 60, editor: Slick.Editors.Integer, cssClass: 'slick-align-right'},
			{id: "product_weight", field: "product_weight", name: "Вес кг", sortable: true,formatter:Leftovers.table.frm.float5, width: 70, editor: Slick.Editors.Float, cssClass: 'slick-align-right'},
			{id: "product_volume", field: "product_volume", name: "Объем м3", sortable: true,formatter:Leftovers.table.frm.float5, width: 70, editor: Slick.Editors.Float, cssClass: 'slick-align-right'},
			{id: "product_barcode", field: "product_barcode", name: "Штрихкод", sortable: true, width: 100, editor: Slick.Editors.Text, cssClass: 'slick-align-right'},
			{id: "analyse_type", field: "analyse_type", name: "Тип", sortable: true, width: 100, editor: Slick.Editors.Text},
			{id: "analyse_brand", field: "analyse_brand", name: "Бренд", sortable: true, width: 100, editor: Slick.Editors.Text},
			{id: "analyse_origin", field: "analyse_origin", name: "Таможенный код", sortable: true, width: 100, editor: Slick.Editors.Text, cssClass: 'slick-align-right'}                   
		    ];
		    var columns=columns_lev1;
		    if( App.user.props.user_level>1 ){
			columns=columns.concat(columns_lev2);
			if( Leftovers.table.columnMode==='advanced' ){
			    columns=columns.concat(columns_adv);
			}
		    }
		    Leftovers.table.columnSummaryWidth=0;
		    for( var i in columns ){
			Leftovers.table.columnSummaryWidth+=columns[i].width;
		    }
		    return columns;
		},
		frm:{
		    min:function(row, cell, value, columnDef, dataContext) {
			if(dataContext.product_quantity*1>=dataContext.product_wrn_quantity*1){
			    return (value*1||"");
			}
			if( dataContext.product_quantity*1<dataContext.product_wrn_quantity*1/2 ){
			    return "<div style='background-color:#f9f;margin:-3px -3px -4px -5px;padding:2px;height:25px'>"+(value*1||"")+"</div>";
			}
			return "<div style='background-color:#fcf;margin:-3px -3px -4px -5px;padding:3px;height:25px'>"+(value*1||"")+"</div>";
		    },
		    m1:function(row, cell, value, columnDef, dataContext) {
			if( dataContext.m1*1<dataContext.m3*1 ){
			    return "<span style=color:red>"+(value*1||"")+"</span>";
			}
			return "<span style=color:green>"+(value*1||"")+"</span>";
		    },
		    int:function(row, cell, value, columnDef, dataContext) {
			return (value*1||"");
		    },
		    float2:function(row, cell, value, columnDef, dataContext) {
			return value>0?(value*1).toFixed(2):"";
		    },
		    float5:function(row, cell, value, columnDef, dataContext) {
			return value>0?(value*1).toFixed(5):"";
		    }
		},
		editorAutocomplete:function(args){
		    var $input;
		    var defaultValue;
		    this.keyCaptureList = [Slick.keyCode.UP, Slick.keyCode.DOWN, Slick.keyCode.ENTER];
		    this.init = function () {
			var html = "<select style='width:100%'>";
			for (var i in Supplier.list) {
			    html += Supplier.list[i].supplier_name ? "<option>" + Supplier.list[i].supplier_name + "</option>" : "";
			}
			html += "</select>";
			$input = $(html);
			$input.appendTo(args.container);
			$input.focus();
		    };
		    this.destroy = function () {
			$input.remove();
		    };
		    this.focus = function () {
			$input.focus();
		    };
		    this.loadValue = function (item) {
			defaultValue = item[args.column.field];
			$input.val(defaultValue);
		    };
		    this.serializeValue = function () {
			return $input.val();
		    };
		    this.applyValue = function (item, state) {
			item[args.column.field] = state;
		    };
		    this.isValueChanged = function () {
			return (!($input.val() == "" && defaultValue == null)) && ($input.val() != defaultValue);
		    };
		    this.validate = function () {
			return {
			    valid: true,
			    msg: null
			};
		    };
		    this.init();		    
		},
		update:function(supply_id, field, value) {
		    return $.post('Stock/entryUpdate', {supply_id: supply_id, field: field, value: value}, function (ok) {
			if (ok < 1) {
			    Leftovers.grid.reload();
			}
		    });
		},
		init:function(){
		    var settings = {
			columns:  [],
			options: {
			    editable: true,
			    autoedit: true,
			    enableCellNavigation: true,
			    enableColumnReorder: false,
			    enableFilter: true,
			    multiSelect: true,
			    url: 'Stock/listFetch/',
			    explicitInitialization: true
			}
		    };
		    Leftovers.grid = new SlickInfinite("#stock_leftovers_sg", settings);
		    Leftovers.grid.onCellChange.subscribe(function (e, data) {
			var updatedEntry = data.item;
			var field = settings.columns[data.cell].field;
			var value = updatedEntry[field];
			Leftovers.table.update(updatedEntry.supply_id, field, value).done(function () {
			    //Supply.grid.rowReload(data.row);
			});
		    });
		    Leftovers.grid.onDblClick.subscribe(function (e, data) {
			Leftovers.tools.entryEdit();
		    });
		    Leftovers.table.render();
		    Leftovers.grid.init();
		    Leftovers.grid.reload();
		     $("#stock_leftovers_adv_check").switchbutton({
			 checked:(Leftovers.table.columnMode=='simple')?0:1,
			 onChange:function( is_on ){
			    if( is_on ){
				Leftovers.table.columnMode='advanced';
				App.store('stock_leftover_table_mode','advanced');
			    } else {
				Leftovers.table.columnMode='simple';
				App.store('stock_leftover_table_mode','simple');
			    }
			    Leftovers.table.render();
			    Leftovers.grid.reload();
			 }
		     });
		},
		render:function(){
		    Leftovers.grid.updateOptions({params:{mode:Leftovers.table.columnMode}});
		    var cols=Leftovers.table.columnsGet();
		    Leftovers.grid.setColumns(cols);
		    Leftovers.table.setDimensions("#stock_leftovers_sg",20,0);
		},
		setDimensions:function(query, dw, dh){
		    var wheight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
		    var height = (wheight - $(query).position().top - 20 + (dh || 0));// - $(query).position().top - 0
		    var wwidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
		    var width = (wwidth - $(query).position().left - 20 + (dw || 0));
		    var col_width = Leftovers.table.columnSummaryWidth+ (dw || 0);
		    $(query).css('height', height + 'px');
		    $(query).css('width', Math.min(width,col_width) + 'px');
		}
	    }  
	};
	App.require(["js/slick/lib/jquery.event.drag-2.3.0.js"], function () {
	    App.require([
		"js/slick/slick.core.js",
		"js/slick/plugins/slick.rowselectionmodel.js",
		"js/slick/slick.editors.js",
		"js/slick/slickinfinite.js",
		"js/slick/slick.grid.js"
	    ], init);
	});
    })(jQuery);















/*    Leftovers = App.page_stock_leftovers = {
	init: function () {
	    this.initTree();
	    //Leftovers.list.toggleFilter();
	},
	initTree: function () {
	    App.loadModule('page/stock/tree', {inline: true, clickselect: true}, 'StreeInline', /(Stree|page_stock_tree)([^\w]|_)/g, "StreeInline$2").progress(function (status, branch) {
		if (status === 'select') {
		    //Leftovers.list.loadParent(branch?branch.branch_id:0,branch?branch.label:'Все');
		}
	    });
	},
	initAfter: function () {
	    //this.list.checkHide();
	},
	focus: function () {
	    //Leftovers.list.reload();
	},
	table: {
	    init: function () {

	    }
	},
	list: {
	    parent_id: 0,
	    parent_label: 'Все',
	    filterRules: {},
	    currPage: 1,
	    loader: function (param, success, error) {
		Leftovers.list.filterRules = param.filterRules;
		Leftovers.list.currPage = param.page;
		param.parent_id = Leftovers.list.parent_id;
		App.get("Stock/listFetch/", param, function (xhr) {
		    var resp = App.json(xhr);
		    resp = Leftovers.list.calc.calcTable(resp);
		    success(resp);
		    $("#stock_dg").datagrid('selectRow', Leftovers.list.lastSelectedIndex);
		});
	    },
	    calc: {
		calcTable: function (resp) {
		    for (var i in resp.rows) {
			resp.rows[i].m1 = this.clear(resp.rows[i].m1);
			resp.rows[i].m3 = this.clear(resp.rows[i].m3);
			resp.rows[i].product_spack = this.clear(resp.rows[i].product_spack);
			resp.rows[i].product_bpack = this.clear(resp.rows[i].product_bpack);
			resp.rows[i].product_quantity = this.clear(resp.rows[i].product_quantity);
			resp.rows[i].product_wrn_quantity = this.clear(resp.rows[i].product_wrn_quantity);
			resp.rows[i].product_weight = this.round(resp.rows[i].product_weight, 5);
			resp.rows[i].product_volume = this.round(resp.rows[i].product_volume, 5);
			resp.rows[i].self_price = this.round(resp.rows[i].self_price, 2);
			resp.rows[i].sell = this.round(resp.rows[i].sell, 2);
			resp.rows[i].buy = this.round(resp.rows[i].buy, 2);
		    }
		    return resp;
		},
		clear: function (value) {
		    return value * 1 || '';
		},
		round: function (value, precision) {
		    return Number(value).toFixed(precision);
		},
		left: function (value, row) {
		    if (row.product_quantity * 2 < row.product_wrn_quantity) {
			return 'background-color:#f9f';
		    }
		    if (row.product_quantity < row.product_wrn_quantity) {
			return 'background-color:#fcf';
		    }
		},
		m1: function (value, row) {
		    if (row.m1 * 1 < row.m3 * 1) {
			return 'color:red';
		    }
		    return 'color:green';
		}
	    },
	    checkHide: function () {
		if (App.user.props.user_level >= 3) {
		    $('#stock_dg').datagrid('showColumn', 'sell');
		    $('#stock_dg').datagrid('showColumn', 'buy');
		    $('#stock_dg').datagrid('showColumn', 'curr_code');
		    $('#stock_dg').datagrid('showColumn', 'self_price');
		} else {
		    $('#stock_dg').datagrid('hideColumn', 'sell');
		    $('#stock_dg').datagrid('hideColumn', 'buy');
		    $('#stock_dg').datagrid('hideColumn', 'curr_code');
		    $('#stock_dg').datagrid('hideColumn', 'self_price');
		}
	    },
	    reload: function () {
		var selected = $("#stock_dg").datagrid('getSelected');
		if (selected) {
		    this.lastSelectedIndex = $("#stock_dg").datagrid('getRowIndex', selected);
		}
		$("#stock_dg").datagrid('reload');
	    },
	    import: function () {
		var config = [
		    {name: 'Код товара', field: 'product_code', required: true},
		    {name: 'Название Рус.', field: 'ru'},
		    {name: 'Название Укр.', field: 'ua'},
		    {name: 'Название Анг.', field: 'en'},
		    {name: 'Единица', field: 'product_unit'},
		    {name: 'В коробке', field: 'product_spack'},
		    {name: 'В ящике', field: 'product_bpack'},
		    {name: 'Вес кг', field: 'product_weight'},
		    {name: 'Объем м3', field: 'product_volume'},
		    {name: 'Тамож. код', field: 'analyse_origin'},
		    {name: 'Штрихкод', field: 'product_barcode'},
		    {name: 'Партия', field: 'party_label'},
		    {name: 'Тип', field: 'analyse_type'},
		    {name: 'Бренд', field: 'analyse_brand'},
		    {name: 'Класс', field: 'analyse_class'},
		    {name: 'Артикул', field: 'product_article'},
		    {name: 'Продажа', field: 'sell'},
		    {name: 'Покупка', field: 'buy'},
		    {name: 'Валюта', field: 'curr_code'},
		    {name: 'Категория цен', field: 'label'}
		];
		App.loadWindow('page/dialog/importer', {label: 'склад', fields_to_import: config}).progress(function (status, fvalue, Importer) {
		    if (status === 'submit') {
			fvalue.parent_id = Leftovers.list.parent_id;
			App.post("Stock/import/", fvalue, function (ok) {
			    App.flash("Добавлено/Изменено " + ok);
			    Leftovers.list.reload();
			    Importer.reload();
			});
		    }
		});
	    },
	    out: function (out_type) {
		var params = {
		    page: Leftovers.list.currPage,
		    parent_id: Leftovers.list.parent_id,
		    filterRules: Leftovers.list.filterRules,
		    out_type: out_type
		};
		var url = 'StockView/stockViewGet/?' + $.param(params);
		if (out_type === '.print') {
		    window.open(url, 'print_tab');
		}
	    },
	    outfile: function (out_type) {
		var params = {
		    page: 1,
		    parent_id: Leftovers.list.parent_id,
		    filterRules: Leftovers.list.filterRules,
		    out_type: out_type
		};
		var url = 'StockView/stockViewFileGet/?' + $.param(params);
		location.href = url;
	    },
	    edit: function (index, field, value) {
		$("#stock_dg").datagrid('unselectAll');
		$("#stock_dg").datagrid('selectRow', index);
		var row = $("#stock_dg").datagrid('getSelected');
		if (row) {
		    row.focus = field;
		    Leftovers.list.showProductCard(row);
		}
	    },
	    create: function () {
		var fvalue = {
		    parent_id: Leftovers.list.parent_id,
		    parent_label: Leftovers.list.parent_label,
		    product_code: ''
		};
		Leftovers.list.showProductCard(fvalue);
	    },
	    showProductCard: function (fvalue) {
		if (App.user.props.user_level < 2) {
		    alert("Доступ ограничен");
		    return;
		}
		fvalue.enablePrevnext = true;
		App.loadWindow('page/stock/product_card', fvalue).progress(function (status, fvalue) {
		    if (status === 'save') {
			Leftovers.list.reload();
		    }
		    if (status === 'prev') {
			Leftovers.list.prev();
		    }
		    if (status === 'next') {
			Leftovers.list.next();
		    }
		});
	    },
	    prev: function () {
		var selected = $("#stock_dg").datagrid('getSelected');
		var index = $("#stock_dg").datagrid('getRowIndex', selected);
		$("#stock_dg").datagrid('unselectRow', index);
		if (selected && index > 0) {
		    $("#stock_dg").datagrid('selectRow', index - 1);
		} else {
		    var rows = $("#stock_dg").datagrid('getRows');
		    $("#stock_dg").datagrid('selectRow', rows.length - 1);
		}
		var row = $("#stock_dg").datagrid('getSelected');
		Leftovers.list.showProductCard(row);
	    },
	    next: function () {
		var selected = $("#stock_dg").datagrid('getSelected');
		var index = $("#stock_dg").datagrid('getRowIndex', selected);
		$("#stock_dg").datagrid('unselectRow', index);
		var rows = $("#stock_dg").datagrid('getRows');
		if (selected && rows.length - 1 > index) {
		    $("#stock_dg").datagrid('selectRow', index + 1);
		} else {
		    $("#stock_dg").datagrid('selectRow', 0);
		}
		var row = $("#stock_dg").datagrid('getSelected');
		Leftovers.list.showProductCard(row);
	    },
	    delete: function () {
		var rows = $("#stock_dg").datagrid('getSelections');
		var prod_codes = [];
		for (var i = 0; i < rows.length; i++) {
		    var row = rows[i];
		    if (row && row.product_quantity > 0) {
			alert("Остаток '" + row.ru + "' должен быть нулевым");
			return;
		    }
		    prod_codes.push(row.product_code);
		}
		if (row && confirm("Удалить '" + prod_codes.join(' , ') + "' со списка склада?")) {
		    App.post('Stock/productDelete/', {product_code: prod_codes}, function (ok) {
			if (ok * 1) {
			    App.flash("Товар удален: " + prod_codes.join(' , '));
			    Leftovers.list.reload();
			} else {
			    App.flash("Товар не удален");
			}
		    });
		}
	    },
	    move: function () {
		var rows = $("#stock_dg").datagrid('getSelections');
		var prod_codes = [];
		if (rows.length) {
		    for (var i = 0; i < rows.length; i++) {
			prod_codes.push(rows[i].product_code);
		    }
		} else {
		    return;
		}
		App.loadWindow('page/stock/tree').progress(function (status, category) {
		    if (status === 'select') {
			App.post('Stock/productMove/', {product_code: prod_codes, parent_id: category.branch_id}, function (ok) {
			    if (ok * 1) {
				App.flash("Товар перемещен в " + category.label + ": " + prod_codes.join(' , '));
				Leftovers.list.reload();
			    } else {
				App.flash("Товар не перемещен");
			    }
			});
		    }
		});
	    },
	    loadParent: function (parent_id, label) {
		this.parent_id = parent_id;
		this.parent_label = label;
		$("#stock_cat_name").html(this.parent_label);
		this.reload();
	    },
	    toggleFilter: function () {
		if (this.filterEnabled) {
		    $('#stock_dg').datagrid('disableFilter');
		    this.filterEnabled = false;
		} else {
		    $('#stock_dg').datagrid('enableFilter');
		    this.filterEnabled = true;
		}
	    }
	},
	utils: {
	    calc_min: function () {
		App.loadWindow("page/stock/calc_min", {parent_label: Leftovers.list.parent_label}).progress(function (status, fvalue) {
		    if (status === 'submit') {
			App.post("Utils/stockCalcMin/" + App.uri(Leftovers.list.parent_id, fvalue.sales_period, fvalue.reserve_period), function (ok) {
			    if (ok * 1) {
				Leftovers.list.reload();
				App.flash("Минимумы расчитаны у " + ok + " товаров");
			    } else {
				App.flash("Минимумы не изменились");
			    }
			});
		    }
		});
	    },
	    send_to_buy_manager: function () {
		App.post("StockBuyManager/orderFromStock/", {filterRules: Leftovers.list.filterRules, parent_id: Leftovers.list.parent_id}, function (ok) {
		    if (ok * 1) {
			App.flash("Заказ загружен в менеджер закупок");
		    } else {
			App.flash("Заказ не сформирован");
		    }
		});
	    },
	    calc_buy_order: function () {
		App.loadWindow("page/stock/calc_buy_order", {parent_label: Leftovers.list.parent_label}).progress(function (status, fvalue) {
		    if (status === 'submit') {
			if (!confirm('Сформировать заказ поставщику "' + App.pcomp.label + '" по категории "' + Leftovers.list.parent_label + '"?')) {
			    return false;
			}
			App.post("Utils/stockCalcIncomeOrder/" + Leftovers.list.parent_id + "/" + fvalue.round_to, {filterRules: Leftovers.list.filterRules}, function (doc_id) {
			    if (doc_id * 1) {
				App.flash("Заказ сформирован");
				App.loadWindow('page/trade/document', {doc_id: doc_id});
			    } else {
				App.flash("Заказ не сформирован");
			    }
			});
		    }
		});
	    }
	}
    };*/
</script>
<table style="min-width:500px">
    <tr>
	<td style="vertical-align: top">
	    Категории товара
	    <hr>
            <div id="StreeInline" class="transp60"></div>
	    Инструменты
	    <hr>
	    
	    
	    
	    <button style="width:100%;margin: 2px;text-align: left" onclick="Leftovers.utils.calc_min()"><img src="img/calc.png" style="width:24px;height: 24px;"> Рассчитать минимумы</button><br>
	    <button style="width:100%;margin: 2px;text-align: left" onclick="Leftovers.utils.calc_buy_order()"><img src="img/docnew.png" style="width:24px;height: 24px;"> Сформировать заказ</button><br>
	    <button style="width:100%;margin: 2px;text-align: left" onclick="Leftovers.utils.send_to_buy_manager()"><img src="img/docnew.png" style="width:24px;height: 24px;"> Загрузить в менеджер</button>
	</td>
	<td style="vertical-align: top">
	    <div class="x-stock-leftovers-tools" style="text-align: right;">
		Полный режим <input id="stock_leftovers_adv_check" class="easyui-switchbutton" onText="Да" offText="Нет">
		<span data-action="entryCreate" class="icon-24 icon-create" title="Добавить"> </span>
		<span data-action="edit" class="icon-24 icon-change" title="Изменить"> </span>
		<span data-action="entryDelete" class="icon-24 icon-delete" title="Удалить"> </span>
		<span data-action="move" class="icon-24 icon-move" title="Перенести в другую категорию"> </span>
		<span data-action="import" class="icon-24 icon-import" title="Импорт"> </span>
		<span data-action="reload" class="icon-24 icon-refresh" title="Обновить"> </span>
		<span data-action="out" class="icon-24 icon-download" title="Скачать таблицу"> </span>
		<span data-action="print" class="icon-24 icon-print" title="Печать"> </span>
	    </div>
	    <div id="stock_leftovers_sg" style="height:700px;"></div>
	</td>
    </tr>
</table>
