<script type="text/javascript">
    (function ($) {
	function init() {
	    Leftovers.init();
	    Utils.init();
	}

	var Utils = {
	    init:function(){
		$(".x-stock-leftovers-utils").click(function (e) {
		    var action = $(e.target).data('action');
		    if (action) {
			Utils[action] && Utils[action]();
		    }
		});
	    },
	    calc_min: function () {
		App.loadWindow("page/stock/calc_min", {parent_label: Leftovers.parent_label}).progress(function (status, fvalue) {
		    if (status === 'submit') {
			$.post("Utils/stockCalcMin/" + App.uri(Leftovers.parent_id, fvalue.sales_period, fvalue.reserve_period), function (ok) {
			    if (ok * 1) {
				Leftovers.grid.reload();
				App.flash("Минимумы расчитаны у " + ok + " товаров");
			    } else {
				App.flash("Минимумы не изменились");
			    }
			});
		    }
		});
	    },
	    calc_abc: function () {
		App.loadWindow("page/stock/calc_abc", {parent_label: Leftovers.parent_label}).progress(function (status, fvalue) {
		    if (status === 'submit') {
			fvalue.parent_id=Leftovers.parent_id;
			$.post("Stock/calcABC/",fvalue, function (ok) {
			    if (ok * 1) {
				Leftovers.grid.reload();
				App.flash(ok + " товаров Классифицировано");
			    } else {
				App.flash("Классы не изменились");
			    }
			});
		    }
		});
	    },
	    calc_buy_order: function () {
		App.loadWindow("page/stock/calc_buy_order", {parent_label: Leftovers.parent_label}).progress(function (status, fvalue) {
		    if (status === 'submit') {
			if (!confirm('Сформировать заказ поставщику "' + App.pcomp.label + '" по категории "' + Leftovers.parent_label + '"?')) {
			    return false;
			}
			var params = Leftovers.table.currentParamsGet();
			params.round_to=fvalue.round_to;
			$.post("Utils/stockCalcIncomeOrder/",params, function (doc_id) {
			    if (doc_id * 1) {
				App.flash("Заказ сформирован");
				App.loadWindow('page/trade/document', {doc_id: doc_id});
			    } else {
				App.flash("Заказ не сформирован");
			    }
			});
		    }
		});
	    },
	    create_checkout: function () {
                if(confirm("Создать список проверки?")){
                    if(Leftovers.parent_id == 0 && !confirm('Будут выбраны ВСЕ ТОВАРЫ, продолжить?')){
			return;
		    }
                    var params = {
                        parent_id: Leftovers.parent_id,
                        checkout_name: "Склад: " + (Leftovers.parent_label||'Все категории')
                    }
                    $.post("Checkout/checkoutStockCreate", params, function(resp){
                        location.hash="#Stock#checkout_id="+resp;
                        $('#stock_main_tabs').tabs('select','Список проверок');
                    });
                }             
            }

	    /*PLUGIN-UTILS*/
	};
	/////////////////////////////////////////////////////////
	// Leftovers DATA BASE SECTION
	/////////////////////////////////////////////////////////
	var Leftovers = {
	    parent_id:0,
	    parent_label:'',
	    grid: null,
	    init: function () {
		Leftovers.table.init();
		Leftovers.initTree();
		$(".x-stock-leftovers-tools").click(function (e) {
		    var action = $(e.target).data('action');
		    if (action) {
			Leftovers.tools[action] && Leftovers.tools[action]();
		    }
		});
	    },
	    initTree: function () {
		App.loadModule('page/stock/tree', {inline: true, clickselect: true}, 'StreeInline', /(Stree|page_stock_tree)([^\w]|_)/g, "StreeInline$2").progress(function (status, branch) {
		    if (status === 'select') {
			Leftovers.parent_id=branch?branch.branch_id:0;
			Leftovers.parent_label=branch?branch.label:'';
			$("#stock_cat_name").html(Leftovers.parent_label);
			Leftovers.grid.scrollRowToTop(0);
			Leftovers.grid.updateOptions({
			    params:{
				parent_id:Leftovers.parent_id
			    }
			});
			Leftovers.grid.reload();
		    }
		});
	    },
	    showProductCard: function (fvalue) {
		if (App.user.props.user_level < 2) {
		    alert("Доступ ограничен");
		    return;
		}
		fvalue.enablePrevnext = true;
		App.loadWindow('page/stock/product_card', fvalue).progress(function (status, fvalue) {
		    if (status === 'save') {
			Leftovers.grid.reload();
		    }
		    if (status === 'prev') {
			Leftovers.prev();
		    }
		    if (status === 'next') {
			Leftovers.next();
		    }
		});
	    },
	    prev:function(){
		if( Leftovers.grid.navigateUp() ){
		    Leftovers.tools.entryEdit();
		}
	    },
	    next:function(){
		if( Leftovers.grid.navigateDown() ){
		    Leftovers.tools.entryEdit();
		}
	    },
	    tools: {
		entryImport: function () {
		    var config = [
			{field: "supply_code", name: "Код пост.", required: true},
			{field: "supply_name", name: "Название"},
			{field: "supply_buy", name: "Закупка база"},
			{field: "supply_comment", name: "Комментарий"},
			{field: "product_code", name: "Код наш"},
			{field: "supply_spack", name: "В Коробке"},
			{field: "supply_bpack", name: "В Ящике"},
			{field: "supply_weight", name: "Вес"},
			{field: "supply_volume", name: "Объем"},
			{field: "supply_unit", name: "Единица"}
		    ];
		    App.loadWindow('page/dialog/importer', {label: 'закуп', fields_to_import: config}).progress(function (status, fvalue, Importer) {
			if (status === 'submit') {
			    var question = "Импортировать эти строчки без указания поставщика?";
			    fvalue.supplier_id = 0;
			    if (Supplier.selected && Supplier.selected.supplier_id) {
				question = "Импортировать эти строчки поставщику '" + Supplier.selected.supplier_name + "'?";
				fvalue.supplier_id = Supplier.selected.supplier_id;
			    }
			    if (confirm(question)) {
				App.post("StockBuyManager/entryImport/", fvalue, function (ok) {
				    App.flash("Импортировано " + ok);
				    Importer.reload();
				    Supply.tools.reload();
				});
			    }
			}
		    });
		},
		reload: function () {
		    Leftovers.grid.reload();
		},
		entryDelete: function () {
		    var selected_rows = Leftovers.grid.getSelectedRows();
		    var product_codes = [];
		    if (!selected_rows.length) {
			App.flash("Ни одна строка не выбрана!");
			return;
		    }
		    for (var i in selected_rows) {
			var row_data=Leftovers.grid.getDataItem(selected_rows[i]);
			if(row_data && row_data.product_quantity > 0){
			    alert("Остаток '" + row_data.ru + "' должен быть нулевым");
			    return;			    
			}
			product_codes.push(row_data.product_code);
		    }
		    if (!confirm("Удалить выделенные товары?")) {
			return;
		    }

		    $.post('Stock/productDelete', {product_code: product_codes.join(',')}, function (ok) {
			if (ok * 1) {
			    App.flash("Товар удален: " + product_codes.join(' , '));
			    Leftovers.grid.reload();
			} else {
			    App.flash("Товар не удален");
			}
		    });
		},
		entryCreate: function () {
		    var fvalue = {
			parent_id: Leftovers.parent_id,
			parent_label: Leftovers.parent_label,
			product_code: ''
		    };
		    Leftovers.showProductCard(fvalue);
		},
		entryEdit: function (focus) {
		    var selected_rows = Leftovers.grid.getSelectedRows();
		    if (!selected_rows.length) {
			App.flash("Ни одна строка не выбрана!");
			return;
		    }
		    var row_data=Leftovers.grid.getDataItem(selected_rows[0]);
		    if( row_data ){
			row_data.focus=focus;
			Leftovers.showProductCard(row_data);
		    }
		},
		move: function () {
		    var selected_rows = Leftovers.grid.getSelectedRows();
		    var product_codes = [];
		    if (!selected_rows.length) {
			App.flash("Ни одна строка не выбрана!");
			return;
		    }
		    for (var i in selected_rows) {
			var row_data=Leftovers.grid.getDataItem(selected_rows[i]);
			product_codes.push(row_data.product_code);
		    }
		    App.loadWindow('page/stock/tree').progress(function (status, category) {
			if (status === 'select') {
			    App.post('Stock/productMove/', {product_code: product_codes.join(','), parent_id: category.branch_id}, function (ok) {
				if (ok * 1) {
				    App.flash("Следующие строки " + product_codes.join(' , ') +" перемещены в"+ category.label);
				    Leftovers.grid.reload();
				} else {
				    App.flash("Товар не перемещен");
				}
			    });
			}
		    });
		},
		import: function () {
		    var config = [
			{name: 'Код товара', field: 'product_code', required: true},
			{name: 'Название Рус.', field: 'ru'},
			{name: 'Название Укр.', field: 'ua'},
			{name: 'Название Анг.', field: 'en'},
			{name: 'Единица', field: 'product_unit'},
			{name: 'В коробке', field: 'product_spack'},
			{name: 'В ящике', field: 'product_bpack'},
			{name: 'Вес кг', field: 'product_weight'},
			{name: 'Объем м3', field: 'product_volume'},
			{name: 'Тамож. код', field: 'analyse_origin'},
			{name: 'Штрихкод', field: 'product_barcode'},
			{name: 'Партия', field: 'party_label'},
			{name: 'Тип', field: 'analyse_type'},
			{name: 'Бренд', field: 'analyse_brand'},
			{name: 'Класс', field: 'analyse_class'},
			{name: 'Артикул', field: 'product_article'},
			{name: 'Продажа', field: 'sell'},
			{name: 'Покупка', field: 'buy'},
			{name: 'Валюта', field: 'curr_code'},
			{name: 'Категория цен', field: 'label'}
		    ];
		    App.loadWindow('page/dialog/importer', {label: 'склад', fields_to_import: config}).progress(function (status, fvalue, Importer) {
			if (status === 'submit') {
			    fvalue.parent_id = Leftovers.parent_id;
			    App.post("Stock/import/", fvalue, function (ok) {
				App.flash("Добавлено/Изменено " + ok);
				Leftovers.grid.reload();
				Importer.reload();
			    });
			}
		    });
		},
		out: function (out_type) {
		    var params = Leftovers.table.currentParamsGet();
		    params.out_type=(out_type || '.xlsx');
		    var url = 'StockView/stockViewGet/?' + $.param(params);
		    if (out_type === '.print') {
			window.open(url, 'print_tab');
		    } else {
			location.href = url;
		    }
		},
		print: function () {
		    this.out('.print');
		}
	    },
	    table:{
		columnMode:App.store('stock_leftover_table_mode')||'simple',
		columnSummaryWidth:0,
		currentParamsGet:function(){
		    var sorted = Leftovers.grid.getSortColumns();
		    return {
			parent_id: Leftovers.parent_id,
			sortby: sorted.length ? sorted[0].columnId : '',
			sortdir: sorted.length ? (sorted[0].sortAsc ? 'ASC' : 'DESC') : '',
			filter: JSON.stringify(Leftovers.grid.getFilter()),
			mode:Leftovers.table.columnMode
		    };
		},
		columnsGet:function(){
                    var columns_lev1=[
                        {id: "row_num", field: "",formatter:Leftovers.table.frm.queue, name: "#", width: 30,cssClass: 'slick-align-right'},
                        {id: "parent_label", field: "parent_label", name: "Категория", width: 120},
                        {id: "product_code", field: "product_code", name: "Код", width: 80, sortable: true},
                        {id: "ru", field: "ru", name: "Название", width: 330, sortable: true},
                        {id: "product_unit", field: "product_unit", name: "Ед", width: 30, sortable: true, cssClass: 'slick-align-right'},
                        {id: "product_quantity", field: "product_quantity", name: "Остаток", width: 60, sortable: true,formatter:Leftovers.table.frm.min, cssClass: 'slick-align-right'}
                    ];
                    var columns_lev2=[
                        {id: "product_wrn_quantity", field: "product_wrn_quantity",  name: "Мин", width: 60, editor: Slick.Editors.Integer, sortable: true,formatter:Leftovers.table.frm.int, cssClass: 'slick-align-right'},
                        {id: "m1", field: "m1", name: "1м", width: 60, sortable: true,formatter:Leftovers.table.frm.m1, cssClass: 'slick-align-right'},
                        {id: "m3", field: "m3", name: "3м", width: 60, sortable: true,formatter:Leftovers.table.frm.int, cssClass: 'slick-align-right'}
                    ];
                    var columns_adv=[
                        {id: "analyse_class", field: "analyse_class", name: "Класс", sortable: true,formatter:Leftovers.table.frm.abc, width: 60, editor: Slick.Editors.Text},
                        {id: "product_article", field: "product_article", name: "Артикул", sortable: true, width: 100, editor: Slick.Editors.Text} ,
                        {id: "self_price", field: "self_price", name: "Учетная цена", sortable: true,formatter:Leftovers.table.frm.float2, width: 70, cssClass: 'slick-align-right'},
                        {id: "sell", field: "sell", name: "Продажа", sortable: true,formatter:Leftovers.table.frm.float2, width: 70, cssClass: 'slick-align-right', editor: Slick.Editors.Float},
                        {id: "buy", field: "buy", name: "Покупка", sortable: true,formatter:Leftovers.table.frm.float2, width: 70, cssClass: 'slick-align-right', editor: Slick.Editors.Float},
                        {id: "curr_code", field: "curr_code", name: "Валюта", sortable: true, width: 50, cssClass: 'slick-align-right'},
                        {id: "product_spack", field: "product_spack", name: "М. упак", sortable: true,formatter:Leftovers.table.frm.int, width: 60, editor: Slick.Editors.Integer, cssClass: 'slick-align-right'},
                        {id: "product_bpack", field: "product_bpack", name: "Б. упак", sortable: true,formatter:Leftovers.table.frm.int, width: 60, editor: Slick.Editors.Integer, cssClass: 'slick-align-right'},
                        {id: "product_weight", field: "product_weight", name: "Вес кг", sortable: true,formatter:Leftovers.table.frm.float5, width: 70, editor: Slick.Editors.Float, cssClass: 'slick-align-right'},
                        {id: "product_volume", field: "product_volume", name: "Объем м3", sortable: true,formatter:Leftovers.table.frm.float5, width: 70, editor: Slick.Editors.Float, cssClass: 'slick-align-right'},
                        {id: "product_barcode", field: "product_barcode", name: "Штрихкод", sortable: true, width: 100, editor: Slick.Editors.Text, cssClass: 'slick-align-right'},
                        {id: "analyse_type", field: "analyse_type", name: "Тип", sortable: true, width: 100, editor: Slick.Editors.Text},
                        {id: "analyse_brand", field: "analyse_brand", name: "Бренд", sortable: true, width: 100, editor: Slick.Editors.Text},
                        {id: "analyse_origin", field: "analyse_origin", name: "Таможенный код", sortable: true, width: 100, editor: Slick.Editors.Text, cssClass: 'slick-align-right'}                   
                    ];
                    var columns=columns_lev1;
                    if( App.user.props.user_level>1 ){
                        columns=columns.concat(columns_lev2);
                        if( Leftovers.table.columnMode==='advanced' ){
                            columns=columns.concat(columns_adv);
                        }
                    }
                    //App.store('leftovers_cols_order_'+Leftovers.table.columnMode,JSON.stringify(columns));
                    if( !App.store('leftovers_columns_order_'+Leftovers.table.columnMode) ){
                        Leftovers.table.columnsStore(columns);
                    }
                    var filtered_columns=[];
                    var column_order=App.store('leftovers_columns_order_'+Leftovers.table.columnMode).split(',');
                    for(var i in column_order){
                        for(var k in columns){
                            if( column_order[i]==columns[k].id ){
                                filtered_columns.push(columns[k]);
                            }
                        }
                    }
                    return filtered_columns;
		},
                columnsStore:function(columns){
                    var column_order=[];
                    for(var i in columns){
                        column_order.push(columns[i]['id']);
                    }
                    App.store('leftovers_columns_order_'+Leftovers.table.columnMode,column_order.join(','));                    
                },
		frm:{
		    queue:function(row, cell, value, columnDef, dataContext){
			return row+1;
		    },
		    min:function(row, cell, value, columnDef, dataContext) {
			if(dataContext.product_quantity*1>=dataContext.product_wrn_quantity*1){
			    return (value*1||"");
			}
			if( dataContext.product_quantity*1<dataContext.product_wrn_quantity*1/2 ){
			    return "<div  class='sg_cell_bg' style='background-color:#f9f;'>"+(value*1||"")+"</div>";
			}
			return "<div class='sg_cell_bg' style='background-color:#fcf;'>"+(value*1||"")+"</div>";
		    },
		    abc:function(row, cell, value, columnDef, dataContext) {
			if(value==="A"){
			    return "<div class='sg_round' style='background-color:rgba(0,255,0,.3);text-align:center'>A</div>";
			}
			if(value==="B"){
			    return "<div class='sg_round' style='background-color:rgba(255,255,0,.3);text-align:center'>B</div>";
			}
			if(value==="C"){
			    return "<div class='sg_round' style='background-color:rgba(255,0,0,.3);text-align:center'>C</div>";
			}
			return value;
		    },
		    m1:function(row, cell, value, columnDef, dataContext) {
			if( dataContext.m1*1<dataContext.m3*1 ){
			    return "<span style=color:red>"+(value*1||"")+"</span>";
			}
			return "<span style=color:green>"+(value*1||"")+"</span>";
		    },
		    int:function(row, cell, value, columnDef, dataContext) {
			return (value*1||"");
		    },
		    float2:function(row, cell, value, columnDef, dataContext) {
			return value>0?(value*1).toFixed(2):"";
		    },
		    float5:function(row, cell, value, columnDef, dataContext) {
			return value>0?(value*1).toFixed(5):"";
		    }
		},
		update:function(product_code, field, value) {
		    return $.post('Stock/productUpdate', {product_code: product_code, field: field, value: value}, function (ok) {
			if (ok < 1) {
			    Leftovers.grid.reload();
			}
		    });
		},
		init:function(){
		    var settings = {
			columns:  [],
			options: {
			    editable: true,
			    autoedit: true,
			    enableCellNavigation: true,
			    enableColumnReorder: true,
			    enableFilter: true,
			    multiSelect: true,
			    url: 'Stock/listFetch/',
			    explicitInitialization: true
			}
		    };
		    Leftovers.grid = new SlickInfinite("#stock_leftovers_sg", settings);
		    Leftovers.grid.onCellChange.subscribe(function (e, data) {
			var updatedEntry = data.item;
			var field = Leftovers.grid.getColumns()[data.cell].field;
			var value = updatedEntry[field];
			Leftovers.table.update(updatedEntry.product_code, field, value).done(function () {
			    //Leftovers.grid.rowReload(data.row);
			});
		    });
		    Leftovers.grid.onDblClick.subscribe(function (e, data) {
			var focus='';
			try{
			    focus=Leftovers.grid.getColumns()[data.cell].field;
			} catch(e){
			    
			}
			Leftovers.tools.entryEdit(focus);
		    });
                    Leftovers.grid.onColumnsReordered.subscribe(function(e,data){
                        Leftovers.table.columnsStore(Leftovers.grid.getColumns());
                    });
		    Leftovers.table.render();
		    Leftovers.grid.init();
		    Leftovers.grid.reload();
		    $("#stock_leftovers_adv_check").switchbutton({
			checked:(Leftovers.table.columnMode=='simple')?0:1,
			onChange:function( is_on ){
			   if( is_on ){
			       Leftovers.table.columnMode='advanced';
			       App.store('stock_leftover_table_mode','advanced');
			   } else {
			       Leftovers.table.columnMode='simple';
			       App.store('stock_leftover_table_mode','simple');
			   }
			   Leftovers.table.render();
			   Leftovers.grid.reload();
			}
		    });
		},
		render:function(){
		    Leftovers.grid.updateOptions({params:{mode:Leftovers.table.columnMode}});
		    var cols=Leftovers.table.columnsGet();
                    //console.log(cols);
                    Leftovers.table.columnSummaryWidth=0;
                    for( var i in cols ){
                        Leftovers.table.columnSummaryWidth+=cols[i].width;
                    }
		    Leftovers.grid.setColumnsAndFilters(cols);
		    Leftovers.table.setDimensions("#stock_leftovers_sg",20,0);
		},
		setDimensions:function(query, dw, dh){
		    var wheight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
		    //var height = (wheight - $(query).position().top - 20 + (dh || 0));// - $(query).position().top - 0
		    var wwidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
		    var width = (wwidth - $(query).position().left - 50 + (dw || 0));
		    var col_width = Leftovers.table.columnSummaryWidth+ (dw || 0);
		    $(query).css('height', wheight + 'px');
		    $(query).css('width', Math.min(width,col_width) + 'px');
		}
	    }
	};
	App.require(["js/slick/lib/jquery.event.drag-2.3.0.js","js/jquery-ui.min.js"], function () {
	    App.require([
		"js/slick/slick.core.js",
		"js/slick/plugins/slick.rowselectionmodel.js",
		"js/slick/slick.editors.js",
		"js/slick/slickinfinite.js",
		"js/slick/slick.grid.js"
	    ], init);
	});
    })(jQuery);
</script>
<style>
    .x-stock-leftovers-utils button{
	width:100%;margin: 2px;text-align: left
    }
    .sg_cell_bg{
	margin:-3px -3px -4px -5px;
	padding:2px;
	height:25px
    }
    .sg_round{
	border-radius: 25px;
	width: 25px;
	margin-left: auto;
	margin-right: auto;
    }
</style>
<table style="min-width:500px">
    <tr>
	<td style="vertical-align: top">
	    Категории товара
	    <hr>
            <div id="StreeInline" class="transp60"></div>
	    Инструменты
	    <hr>
	    <div  class="x-stock-leftovers-utils">
                <button data-action="calc_min"><img src="img/calc.png" style="width:24px;height: 24px;"> Рассчитать минимумы</button><br>
		<button data-action="calc_abc"><img src="img/calc.png" style="width:24px;height: 24px;"> Рассчитать ABC</button><br>
                <button data-action="calc_sell"><img src="img/calc.png" style="width:24px;height: 24px;"> Рассчитать цену продажи</button><br>
		<button data-action="calc_buy_order"><img src="img/docnew.png" style="width:24px;height: 24px;"> Сформировать заказ</button><br>
		<!--PLUGIN-BUTTONS-->
		<button data-action="send_to_buy_manager"><img src="img/docnew.png" style="width:24px;height: 24px;"> Загрузить в менеджер</button><br>
                <button data-action="create_checkout"><img src="img/docnew.png" style="width:24px;height: 24px;"> Начать проверку</button><br>
	    </div>
	</td>
	<td style="vertical-align: top">
	    <div class="x-stock-leftovers-tools" style="text-align: right;">
		Полный режим <input id="stock_leftovers_adv_check" class="easyui-switchbutton" onText="Да" offText="Нет">
		<span data-action="entryCreate" class="icon-24 icon-create" title="Добавить"> </span>
		<span data-action="entryEdit" class="icon-24 icon-change" title="Изменить"> </span>
		<span data-action="entryDelete" class="icon-24 icon-delete" title="Удалить"> </span>
		<span data-action="move" class="icon-24 icon-move" title="Перенести в другую категорию"> </span>
		<span data-action="import" class="icon-24 icon-import" title="Импорт"> </span>
		<span data-action="reload" class="icon-24 icon-refresh" title="Обновить"> </span>
		<span data-action="out" class="icon-24 icon-download" title="Скачать таблицу"> </span>
		<span data-action="print" class="icon-24 icon-print" title="Печать"> </span>
	    </div>
	    <div id="stock_leftovers_sg" style="height:700px;"></div>
	</td>
    </tr>
</table>
