<script type="text/javascript">
    /*global App */
    App.page_stock_product_card = {
        closeOnSave:true,
	parsed:true,
	init: function () {
	    this.node.window({
		title: 'Товарная карточка',
		width: 800,
                top:50,
		height: 'auto',
		shadow:false,
		onClose:function(){
                    delete App.page_stock_product_card;
		}
	    });
	    this.node.window('window').css('position','fixed');
	    
	    if( typeof this.data==='object' ){// Init card with existing data but get new anyway
		App.page_stock_product_card.initWidgets();
	    }
	    $.get("Stock/productGet",{product_code:App.page_stock_product_card.data.product_code},function(resp){
		App.page_stock_product_card.data=App.json(resp);
		App.page_stock_product_card.unpackPrices();
		App.page_stock_product_card.initWidgets();
	    });
	    
            if( this.data.enablePrevnext ){
                $("#stock_prod_card_prevnext").css('visibility','visible');   
            }
	},
	unpackPrices:function(){
	    var data=App.page_stock_product_card.data;
	    this.labeled_prices=data.labeled_prices;
	    for(var i in this.labeled_prices ){
		var labeled_price=this.labeled_prices[i];
		data['sell-'+labeled_price['label']]=labeled_price['sell'];
		data['buy-'+labeled_price['label']]=labeled_price['buy'];
		data['curr_code-'+labeled_price['label']]=labeled_price['curr_code'];
	    }
	},
	packPrices:function(){
	    var packed_labeled_prices=[];
	    var data=App.page_stock_product_card.data;
	    for(var i in this.labeled_prices ){
		packed_labeled_prices.push({
		    sell:data['sell-'+this.labeled_prices[i].label],
		    buy:data['buy-'+this.labeled_prices[i].label],
		    curr_code:data['curr_code-'+this.labeled_prices[i].label],
		    label:this.labeled_prices[i].label
		});
		delete App.page_stock_product_card.data['sell-'+this.labeled_prices[i]['label']];
		delete App.page_stock_product_card.data['buy-'+this.labeled_prices[i]['label']];
		delete App.page_stock_product_card.data['curr_code-'+this.labeled_prices[i]['label']];
	    }
	    App.page_stock_product_card.data.labeled_prices=JSON.stringify(packed_labeled_prices);
	},
	initWidgets:function(){
	    App.page_stock_product_card.data.product_code_new=App.page_stock_product_card.data.product_code;
	    App.renderTpl('page_stock_product_card_pricetable',App.page_stock_product_card.data);
	    App.setupForm("#page_stock_product_card_frm", App.page_stock_product_card.data);
	    $.parser.parse("#page_stock_product_card");//for easy ui
	    $('#page_stock_product_card input').on('focus', function() {
		this.select();
	    });
	    $("input[name="+this.data.focus+"]").select();
	    $("#Stock_parent_id").combobox('setValue',App.page_stock_product_card.data.parent_id);
	    $("#Stock_parent_id").combobox('setText',App.page_stock_product_card.data.parent_label);
	    this.serviceCheck();
	    this.img.load();
	},
	categoryLoader:function(param, success, error){
	    if( param.q===undefined ){
		success([{branch_id:App.page_stock_product_card.data.parent_id,label:App.page_stock_product_card.data.parent_label}]);
		return ;
	    }
	    $.get('Stock/labelFetch/', param, function (xhr) {
		var resp = App.json(xhr);
		success(resp[0] ? resp : []);
	    });
	},
	submit:function(e){
	    e.preventDefault();
	    this.data=App.collectForm("#page_stock_product_card_frm");
	    if( this.data.product_code_new.match(/^[\wабвгдеёжзийклмнопрстуфхцчшщъыьюяіїє\. ,-]+$/i) ){
		this.packPrices();
		$.post('Stock/productSave/',this.data,function(ok){
		    if( ok*1 ){
			App.flash("Свойства товара сохранены");
                        //if( App.page_stock_product_card.closeOnSave ){
                            App.page_stock_product_card.handler.notify('save',App.page_stock_product_card.data);
                        //}
		    } else {
			App.flash("Свойства товара не изменились");
		    }
                    App.page_stock_product_card.closeOnSave=true;
		}).then(function(){
		    if( App.page_stock_product_card.closeOnSave ){
			App.page_stock_product_card.node.window('close');
		    }
		});
                
	    } else {
		alert("Код товара не должен содержать сивол: "+(this.data.product_code_new.match(/[^\wабвгдеёжзийклмнопрстуфхцчшщъыьюяіїє\. ,-]/ig)||[]).join(""));
	    }
	},
        next:function( direction ){
            App.page_stock_product_card.closeOnSave=false;
            $("#page_stock_product_card_frm").submit();
            App.page_stock_product_card.handler.notify(direction<0?'prev':'next');
        },
        stockTree:function(){
            App.loadWindow('page/stock/tree').progress(function(status,category){
                if( status==='select' ){
                    $("#Stock_parent_id").combobox('setValue',category.branch_id);
                    $("#Stock_parent_id").combobox('setText',category.label);
                }
            });
        },
	serviceCheck:function(){
	    var is_service=App.val("#product_card_srv_chk");
	    this.node.find('.only_product_props input').attr('disabled',is_service?'disabled':null);
	},
	img:{
	    load:function(){
		var file_name=$("input[name=product_img]").val()?'Storage/image_flush/130x120/dynImg/'+$("input[name=product_img]").val():"img/product.png";
		$("#page_stock_product_card_thumb").attr('src',file_name);
	    },
	    up:function(filelist){
		if( filelist.length ){
		    if( filelist[0].type.indexOf('image')===-1 ){
			alert("Файл должен быть изображением");
			return false;
		    }
		    if( $("input[name=product_img]").val() ){
			App.page_stock_product_card.img.remove();
		    }
		    var file_name=(new Date()).getTime()+'.'+filelist[0].name.split('.').pop();//filelist[0].name;
		    
		    var url = 'Storage/upload/dynImg/'+file_name;
		    var xhr = new XMLHttpRequest();
		    var fd = new FormData();
		    xhr.open("POST", url, true);
		    xhr.onreadystatechange = function() {
			if (xhr.readyState === 4 && xhr.status === 200) {
			    if( xhr.responseText==='uploaded1' ){
				App.flash("Файл загружен.");
				$("input[name=product_img]").val(file_name);
				App.page_stock_product_card.img.load();
			    } else {
				App.flash("Не удалось загрузить "+xhr.responseText);
			    }
			}
		    };
		    fd.append("upload_file", filelist[0]);
		    xhr.send(fd);
		}
	    },
	    remove:function(){
		var file_name=$("input[name=product_img]").val();
		$("input[name=product_img]").val('');
		$.post('Storage/file_remove/dynImg/'+file_name,function(ok){
		    if(ok*1){
			App.flash("Файл удален");
			App.page_stock_product_card.img.load();
		    }
		});
	    }
	}
	
    };
</script>
<form id="page_stock_product_card_frm" onsubmit="App.page_stock_product_card.submit(event)">
    <input type="hidden" name="product_img">
    <input type="hidden" name="product_code">
    <div class="inp_group" style="width: 450px;vertical-align: top">
	<div style="position: relative;float:left;width:130px;height:120px;">
	    <input type="file" id="page_stock_product_card_file" accept="image/*" style="display:none" onchange="App.page_stock_product_card.img.up(this.files)">
	    <div style="text-align: center">
		<img src="img/product.png" id="page_stock_product_card_thumb" style="cursor:pointer" onclick="window.open(this.src.replace('130x120','1200x1200'))" />
	    </div>
	    <div style="position: absolute;bottom:1px;right:2px;">
		<button class="tiny_button" type="button" title="Отправить файл" onclick="$('#page_stock_product_card_file').click();">Загрузить</button>
		<button class="tiny_button" type="button" title="Удалить файл" onclick="App.page_stock_product_card.img.remove()">Удалить</button>		
	    </div>
	</div>
	<input name="is_service" title="Услуга" type="checkbox" id="product_card_srv_chk" onclick="App.page_stock_product_card.serviceCheck(this)">
	<input class="easyui-combobox" name="parent_id" id="Stock_parent_id" title="Категория" data-options="
		valueField: 'branch_id',
		textField: 'label',
		loader:App.page_stock_product_card.categoryLoader,
		mode: 'remote',
		hasDownArrow:false,
		onSelect: function(node){App.page_stock_product_card.data.parent_id=node.branch_id},
		icons: [{
			 iconCls:'icon-settings16',
			 handler: function(e){
			    App.page_stock_product_card.stockTree();
			 }
		     }]
		">
	<input name="product_code_new" title="Код" required="required">
	<input name="product_unit" title="Единица" required="required">
	<input name="ru" title="Название Рус" style="width:330px" required="required">
	<input name="ua" title="Название Укр" style="width:330px">
	<input name="en" title="Название Англ" style="width:330px">
	<div class="inp_rule">Цены на товар</div>
	<div id="page_stock_product_card_pricetable">
	    <div style="font-weight: bold">
		<div style="width:120px;float:left;">Категория</div>
		<div style="width:110px;float:left;">Продажа</div>
		<div style="width:110px;float:left;">Покупка</div>
		<div style="width:110px;float:left;">Валюта</div>
	    </div>
	    {{labeled_prices}}
	    <div style="clear: both;padding-top: 2px;">
		<div style="width:120px;float:left;">
		    {{label|blank>основная}} 
		</div>
		<div style="width:110px;float:left;">
		    <input name="sell-{{label}}" onchange="this.value=App.calc(this.value)" class="icon-calc16" style="background-position: right;width:100px">
		</div>
		<div style="width:110px;float:left;">
		    <input name="buy-{{label}}" onchange="this.value=App.calc(this.value)" class="icon-calc16" style="background-position: right;width:100px">
		</div>
		<div style="width:110px;float:left;">
		    <select name="curr_code-{{label}}" style="width:100px;">
			<option value="UAH">UAH Гривна</option>
			<option value="USD">USD Доллар</option>
			<option value="RUB">RUB Рубль</option>
		    </select>
		</div>
	    </div>
	    {{/labeled_prices}}
	</div>
    </div>
    <div class="inp_group only_product_props" style="width: 320px;vertical-align: top">
	<input name="product_wrn_quantity" title="Мин. кол-во">
	<input name="product_spack" title="В коробке">
	<input name="product_bpack" title="В ящике">
	<input name="product_weight" title="Вес кг">
	<input name="product_volume" title="Объем м3">
	<input name="product_uktzet" title="Тамож. код">
	<input name="barcode" title="Штрихкод">
	<input name="party_label" title="Партия">
	
	<div class="inp_rule">Аналитика</div>
	<input name="analyse_type" title="Тип">
	<input name="analyse_group" title="Бренд">
	<input name="analyse_class" title="Класс">
	<input name="analyse_section" title="Артикул">
    </div>
    <div style="text-align: center;margin-top: 15px;clear: both">
        <button type="submit" onclick="App.page_stock_product_card.closeOnSave=true;"><img src="img/Save-24.png" /> Сохранить</button>
	<button type="button" onclick="App.page_stock_product_card.node.window('close')"><img src="img/close24.png" /> Закрыть</button>
        <span id="stock_prod_card_prevnext" style="visibility: hidden">
            | <button type="button" onclick="App.page_stock_product_card.next(-1)" title="Сохранить и открыть предидущий">&lt;&lt;&lt; Пред.</button>
            <button type="button" onclick="App.page_stock_product_card.next(1)" title="Сохранить и открыть следующий">&gt;&gt;&gt; След.</button>
        </span>
    </div>
</form>
