<div class="x-picker transp60" style="display: none">
    <div style="height:200px;width:200px;float:right;overflow: auto">
        <button class="x-allcath tiny-button" type="button" style="width: 100%" title="Сбросить выделение">Все категории</button>
        <div class="x-tree"></div>
    </div>
    <div class="x-stock" style="height:200px;"></div>
</div>
<div style="display: grid;grid-template-columns: 310px 70px auto;margin-bottom: 7px;">
    <div class="ui search x-suggest">
        <div class="ui left action fluid input">
            <button class="ui icon grey button x-picker-button" data-tooltip="Открыть/закрыть подбор" data-action="pickerToggle">
                <i class="folder open outline icon" data-action="pickerToggle"></i>
            </button>
            <input class="prompt" style="border-radius: 5px" type="text" placeholder="Введите код, название или штрихкод">
        </div>
        <div class="results"></div>
    </div>
    <div class="ui right action input" title="Добавить строку в документ">
        <input class="x-qty" type="text" placeholder="Кол-во">
        <button class="ui icon button x-suggest-submit">
            <i class="plus icon"></i>
        </button>
    </div>

    <div class="x-body-tools" style="text-align: right">
        <span class="icon-24" title="Открыть карту товара" style="background-image: url(img/product.png)" data-action="productCard"> </span>
        <span class="icon-24 icon-delete" title="Удалить стоку" data-action="entryDelete"> </span>
        <span class="icon-24 icon-calc" title="Перерасчитать цены" data-action="recalculate"> </span>
        <span class="icon-24 icon-expand" data-action="expand_collapse" title="Полный/Сокращенный режим"> </span> 
        <span class="icon-24 icon-utils" title="Дополнительные свойства" onclick="$('.x-utils').toggle('slow')" ></span>
    </div>
</div>
<div class="x-suggest-row-template" style="display: none">
    {{if leftover|less>1}}
    <div class="sugg_outofstock">
    {{/if}}
    <div class="sugg_name">{{product_name}} {{if analyse_class|equals>C}}<i class="icon star"></i>{{/if}} [x {{product_spack}}{{product_unit}}]</div>
        <div class="sugg_price">
            {{if product_price_total|equals>product_price_total_raw}}
            {{product_price_total|format}}
            {{else}}
            <s>{{product_price_total_raw|format}}</s>
            <div class="sugg_price_promo">{{product_price_total|format}}</div>
            {{/if}}
        </div>
        <div class="sugg_leftover">{{leftover}}{{product_unit}}</div>
    {{if leftover|less>1}}
    </div>
    {{/if}}
</div>
<div class="x-entries"></div>
<style>
    .sugg_img{
        display:inline-block;
        width:35px;
    }
    .sugg_name{
        width:450px;
        display: inline-block;
    }
    .sugg_outofstock{
        cursor: pointer;
        color: red !important;
        min-height: 32px;
    }
    .sugg_price{
        display: inline-block;
        width:50px;
        text-align: right;
    }
    .sugg_price_promo{
        border-radius: 3px;
        background-color: #0c0;
        padding: 2px;
    }
    .sugg_leftover{
        display: inline-block;
        width:60px;
        text-align: right;
        color:green;
    }
    .x-suggest .results{
        width: 700px !important;
    }
    .x-entries .slick-viewport,.x-entries {
        overflow: visible;
    }
</style>