<script>
    App.page_pref_users = {
	init: function () {

	},
	getList: function () {
	    App.get("User/getList", function (text) {
		var users = App.json(text);
	    });
	},
	formatter: function (value) {
	    return ["Нет доступа", "Ограниченный", "Менеджер", "Бухгалтер", "Администратор"][value];
	},
	delete: function () {
	    var user = $('#pref_user_dg').datagrid('getSelected');
	    if (user && confirm("Удалить пользователя " + user.user_login + "?")) {
		App.post("User/remove/" + user.user_id, function (ok) {
		    if (ok * 1) {
			App.flash("Пользователь " + user.user_login + " удален");
		    } else {
			if (ok === 'LAST_ADMIN') {
			    alert("Должен остаться хотя бы один администратор.");
			}
			App.flash("Пользователь не удален");
		    }
		    $('#pref_user_dg').datagrid('reload');
		});
	    }
	},
	edit: function () {
	    var user = $('#pref_user_dg').datagrid('getSelected');
	    App.page_pref_users.promptEditor(user);
	},
	create: function () {
	    App.page_pref_users.promptEditor({});
	},
	promptEditor: function (user) {
	    if (App.user.getLevel() < 3) {
		App.flash("Доступ ограничен");
		return;
	    }
	    App.loadWindow('page/dialog/user_edit', user).progress(function (status, user_data) {
		if (status === 'submit') {
		    App.post("User/save", user_data, function (ok) {
			if (ok * 1) {
			    $('#pref_user_dg').datagrid('reload');
			    App.flash("Свойства пользователя сохранены");
			    App.page_pref_users.checkUserChanged(user_data);
			} else {
			    if (ok === 'LAST_ADMIN') {
				alert("Должен остаться хотя бы один администратор.");
			    }
			    App.flash("Свойства пользователя не изменены");
			}
		    });
		}
	    });
	},
	checkUserChanged: function (user_data) {
	    if (App.user.props.user_id === user_data.user_id && (App.user.props.user_level !== user_data.user_level || App.user.props.user_login !== user_data.user_login)) {
		if (confirm("Нужно заново авторизироваться чтобы изменения вступили в силу.\n\nВыйти из программы?")) {
		    App.user.signOut();
		}
	    }
	}
    }
</script>


<div style="">
    <div style="text-align: right;padding-right: 5px;">
	<span class="icon-24 icon-create" title="Добавить пользователя" onclick="App.page_pref_users.create();"> </span>
	<span class="icon-24 icon-change" title="Изменить пользователя" onclick="App.page_pref_users.edit();"> </span>
	<span class="icon-24 icon-delete" title="Удалить пользователя" onclick="App.page_pref_users.delete();"> </span>
	<span class="icon-24 icon-refresh" title="Обновить" onclick="$('#pref_user_dg').datagrid('reload')"> </span>
    </div>
    <table class="easyui-datagrid" id="pref_user_dg" data-options="
	   singleSelect:true,
	   onDblClickRow:App.page_pref_users.edit,
	   url:'User/listFetch'">
	<thead data-options="frozen:true">
	    <tr>
		<th data-options="field:'user_login',width:80">Логин</th>
	    </tr>
	</thead>
	<thead>
	    <tr>
		<th data-options="field:'user_level',width:100,formatter:App.page_pref_users.formatter">Доступ</th>
		<th data-options="field:'last_name',width:80">Фамилия</th>
		<th data-options="field:'first_name',width:80">Имя</th>
		<th data-options="field:'middle_name'">Отчество</th>
		<th data-options="field:'nick'">Ник</th>
		<th data-options="field:'user_phone'">Телефон</th>
		<th data-options="field:'user_email'">Email</th>
		<th data-options="field:'user_position'">Должность</th>
		<th data-options="field:'user_sign'">Подпись</th>
		<th data-options="field:'id_type'">Документ</th>
		<th data-options="field:'id_serial'">Серия</th>
		<th data-options="field:'id_number'">Номер</th>
		<th data-options="field:'id_given_by'">Выдан</th>
		<th data-options="field:'id_date'">Дата выдачи</th>
	    </tr>
	</thead>
    </table>
</div>