<script language="javascript">
    AccountsJs.reports={};
    
    App.loadDojo().progress(function(status){
        if (status==='dojoloaded'){
            require(["dojo/dom", "dijit/registry", "dojo/on", "dojo/date/locale","dojo/parser", "baycik/grid/DataGrid"],
            function (dom, registry, on, locale,parser) {
                parser.parse('accounts_reports_div');
            AccountsJs.reports.init = function () {
                this.initDocRegistry();
                this.initRegForm();
            };
            AccountsJs.reports.initRegForm = function () {
                var now = new Date();
                var month = now.getMonth() + 1;
                registry.byId("rep_invreg_year").set('value', now.getFullYear());
                registry.byId("rep_invreg_month").set('value', month < 10 ? ('0' + month) : month);
                AccountsJs.reports.loadPeriodRegistry('sell');

                on(registry.byId("rep_invreg_form"), "submit", function (e) {
                    e.preventDefault();
                    AccountsJs.reports.sInvoiceUpdate(registry.byId("rep_invreg_form").get('value'));
                });
                on(registry.byId("rep_invreg_year"), "change", function () {
                    AccountsJs.reports.loadPeriodRegistry(AccountsJs.reports.lastDirection);
                });
                on(registry.byId("rep_invreg_month"), "change", function () {
                    AccountsJs.reports.loadPeriodRegistry(AccountsJs.reports.lastDirection);
                });
            };
            AccountsJs.reports.loadPeriodRegistry = function (direction) {
                var month = registry.byId("rep_invreg_month").get('value');
                if (month == 0)
                    month = '';
                AccountsJs.reports.currentPeriod = registry.byId("rep_invreg_year").get('value') + '-' + month;
                AccountsJs.reports.registry_grid.addToRequest({
                    period: AccountsJs.reports.currentPeriod,
                    direction: direction
                });
                AccountsJs.reports.registry_grid.loadGrid();
                AccountsJs.reports.lastDirection = direction;
            };
            AccountsJs.reports.initDocRegistry = function () {
                AccountsJs.reports.registry_grid = new baycik.grid.DataGrid({}, 'acc_doc_registry');
                with(AccountsJs.reports.registry_grid) {
                    addToRequest({
                        table_name: 'document_registry',
                        limit: 200
                    });
                    onStructure = function (request) {
                        request.mod = 'Data';
                        request.rq = 'GridStructure';
                        Connector.addRequest(request, this, 'setStructure');
                    };
                    onRequest = function (request) {
                        request.mod = 'Accounts';
                        request.rq = 'DocumentRegistry';
                        Connector.addRequest(request, function (resp) {
                            AccountsJs.reports.registry_grid.setData(resp.entries);
                            Acc.renderTpl('acc_docreg_summary', resp);
                        });
                    };
                    onUpdate = function (request) {
                        request.mod = 'Accounts';
                        request.rq = 'DocumentRegistryUpdate';
                        Connector.addRequest(request, this, 'loadGrid');
                    };
                    onDblClick = function (data) {
                        var fvalue = data.rowData;
                        var regparts = fvalue.reg.split('-');
                        fvalue.rep_invreg_year = regparts[0];
                        fvalue.rep_invreg_month = regparts[1];
                        AccountsJs.reports.currentDocId = fvalue.doc_id;
                        registry.byId("rep_invreg_form").set('value', fvalue);
                        registry.byId('rep_sinvoice_dialog').show();
                        companyStore.fetch({
                            onComplete: function () {
                                registry.byId('rep_pcomp_id').set('value', data.rowData.pcomp_id);
                            }
                        });
                        if (data.rowData['icon'].indexOf('servicein') === -1) {
                            registry.byId("rep_pcomp_id").set('disabled', true);
                            registry.byId("rep_invoice_total").set('disabled', true);
                            //registry.byId("reg_doc_num").set('disabled', true);
                            //registry.byId("reg_given").set('disabled', true);
                        } else {
                            registry.byId("rep_pcomp_id").set('disabled', false);
                            registry.byId("rep_invoice_total").set('disabled', false);
                            registry.byId("reg_doc_num").set('disabled', false);
                            registry.byId("reg_given").set('disabled', false);
                        }
                    };
                    onPrint = function (request) {
                        request.mod = 'Accounts';
                        request.rq = 'DocumentRegistry';
                        request.out_type = '.print';
			request.group_by=0;
                        Acc.printOut(request);
                    };
                    onDownload = function (request) {
                        request.mod = 'Accounts';
                        request.rq = 'DocumentRegistry';
                        request.out_type = '.xml';
                        Connector.addRedirection(request);
                    };
		    onAction=function( data ){
			if( data.action==='print' ){
			    window.open("./DocumentView/documentViewGet/?out_type=.print&doc_view_id="+data.rowData.doc_view_id, '_new');
			}
			if( data.action==='down' ){
			    location.href="./DocumentView/documentViewGet/?out_type=.xml&doc_view_id="+data.rowData.doc_view_id;
			}
		    };
                    startup();
                }
                AccountsJs.reports.registry_grid.addInvoice = function (request) {
                    var fvalue = {
                        doc_id: 0
                    };
                    fvalue.rep_invreg_year = registry.byId("rep_invreg_year").get('value');
                    fvalue.rep_invreg_month = registry.byId("rep_invreg_month").get('value');
                    registry.byId("rep_invreg_form").reset();
                    registry.byId("rep_invreg_form").set('value', fvalue);
                    registry.byId('rep_sinvoice_dialog').show();
                };
                AccountsJs.reports.registry_grid.deleteInvoice = function () {
                    var selected = this.getSelected();
                    if (!selected || selected[0]['icon'].indexOf('servicein') == -1)
                        return;
                    AccountsJs.reports.currentDocId = selected[0]['doc_id'];
                    AccountsJs.reports.sInvoiceDelete();
                };
            };
            AccountsJs.reports.sInvoiceUpdate = function (fvalue) {
                var request = fvalue;
                request.reg_date = fvalue.rep_invreg_year + '-' + fvalue.rep_invreg_month;
                request.mod = "Accounts";
                request.rq = "DocumentRegistryUpdateSinvoice";
                Connector.addRequest(request, function (resp) {
                    registry.byId("rep_invreg_form").reset();
                    registry.byId('rep_sinvoice_dialog').hide();
                    AccountsJs.reports.registry_grid.loadGrid();
                });
            };
            AccountsJs.reports.sInvoiceDelete = function () {
                if( confirm("Удалить документ?") ){
                    var request = {};
                    request.mod = "Accounts";
                    request.rq = "DocumentRegistryDeleteSinvoice";
                    request.doc_id = AccountsJs.reports.currentDocId;
                    Connector.addRequest(request, function (resp) {
                        registry.byId('rep_sinvoice_dialog').hide();
                        registry.byId("rep_invreg_form").reset();
                        AccountsJs.reports.registry_grid.loadGrid();
                    });
                }
            };
	    AccountsJs.reports.group_by_report=function(){
		var request=AccountsJs.reports.registry_grid.request;
		request.mod = 'Accounts';
		request.rq = 'DocumentRegistry';
		request.out_type = '.print';
		request.group_by=1;
		Acc.printOut(request);
	    };
            AccountsJs.reports.init();
        });
        }
    });
    
    

</script>
<style type="text/css">
    .bank_property_name {
        vertical-align: top;
        text-align: right;
        font-weight: bold;
        font-size: 12px;
        width: 70px;
    }
    .bank_property_value {
        -border-bottom: solid 1px #fff;
    }
    .table_summary {
        background: #DAE5F0;
        border: solid 1px #ccc;
    }
    .table_summary table {
        border-collapse: collapse;
    }
    .table_summary table td {
        padding: 3px;
        border: solid 1px #fff;
    }
    .super_light_grad {
        padding: 7px;
        margin-bottom: 5px;
        background-color: #FFF;
        border: #ccc solid 1px;
        border-radius: 5px;
        box-shadow: 0px 1px 3px #abc;
        background: -moz-linear-gradient(top, #fff, #eef);
    }
</style>
<div id="accounts_reports_div">
    <div style="display:table-cell;width:300px;vertical-align: top">
        <div style="margin-top:50px;margin-bottom: 1px;" data-dojo-type="dijit/TitlePane" title="Итого по реестру" data-dojo-props="open:1">
            <div class="table_summary">
                <form data-dojo-type="dijit/form/Form">
                    <table width="100%" border="1">
                        <tr>
                            <td class="bank_property_name">Период:</td>
                            <td class="bank_property_value">
                                <select data-dojo-type="dijit/form/Select" id="rep_invreg_month" name="rep_invreg_month" style="display:inline-block;width:100px">
                                    <option value="0">ВЕСЬ ГОД</option>
                                    <option value="01">Январь</option>
                                    <option value="02">Февраль</option>
                                    <option value="03">Март</option>
                                    <option value="04">Апрель</option>
                                    <option value="05">Май</option>
                                    <option value="06">Июнь</option>
                                    <option value="07">Июль</option>
                                    <option value="08">Август</option>
                                    <option value="09">Сентябрь</option>
                                    <option value="10">Октябрь</option>
                                    <option value="11">Ноябрь</option>
                                    <option value="12">Декабрь</option>
                                </select>
                                <select data-dojo-type="dijit/form/Select" id="rep_invreg_year" name="rep_invreg_year" style="display:inline-block;width:70px">
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="bank_property_name">Показать:</td>
                            <td class="bank_property_value">
                                <div style="border: 1px solid #999;padding: 3px">
                                    <input data-dojo-type="dijit/form/RadioButton" checked="checked" type="radio" name="rep_invreg_type" id="rep_invreg_type1" onclick="AccountsJs.reports.loadPeriodRegistry('sell')" />
                                    <label for="rep_invreg_type1">
                                        <img src="img/sell.png" align="absmiddle" />Выданные накладные</label>
                                </div>
                                <div style="border: 1px solid #999;padding: 3px;margin-top: 2px;">
                                    <input data-dojo-type="dijit/form/RadioButton" type="radio" name="rep_invreg_type" id="rep_invreg_type2" onclick="AccountsJs.reports.loadPeriodRegistry('buy')" />
                                    <label for="rep_invreg_type2">
                                        <img src="img/buy.png" align="absmiddle" />Полученные накладные</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div id="acc_docreg_summary" class="hidden table_summary" style="margin-top: 5px">
                <table width="100%" border="1">
                    <tr>
                        <td class="bank_property_name">Кол-во:</td>
                        <td class="bank_property_value" style="text-align: right">{{num}} шт</td>
                    </tr>
                    <tr>
                        <td class="bank_property_name">Сумма:</td>
                        <td class="bank_property_value" style="text-align: right">{{gtotal}} грн</td>
                    </tr>
                    <tr>
                        <td class="bank_property_name">Без НДС:</td>
                        <td class="bank_property_value" style="text-align: right">{{gvatless}} грн</td>
                    </tr>
                    <tr>
                        <td class="bank_property_name">НДС:</td>
                        <td class="bank_property_value" style="text-align: right">{{gvat}} грн</td>
                    </tr>
                </table>
            </div>
        </div>
	<button style="width:100%;margin-top: 10px;text-align: left" onclick="AccountsJs.reports.group_by_report()"><img src="img/InvoiceList.png"> Сгруппировать по контрагентам</button>
    </div>
    <div style="display:table-cell;vertical-align: top">
        <div id="acc_doc_registry"></div>
    </div>
    <div style="display:table-cell;width:300px;vertical-align: top">
        <div data-dojo-type="dijit/Dialog" id="rep_sinvoice_dialog" title="Налоговая накладная полученных услуг" style="display:none;margin-top:50px;">
            <form id="rep_invreg_form" data-dojo-type="dijit/form/Form">
                <input data-dojo-type="dijit/form/TextBox" type="hidden" name="doc_id">
                <table>
                    <tr>
                        <td>Период</td>
                        <td>
                            <select data-dojo-type="dijit/form/Select" name="rep_invreg_month" style="display:inline-block;width:100px">
                                <option value="01">Январь</option>
                                <option value="02">Февраль</option>
                                <option value="03">Март</option>
                                <option value="04">Апрель</option>
                                <option value="05">Май</option>
                                <option value="06">Июнь</option>
                                <option value="07">Июль</option>
                                <option value="08">Август</option>
                                <option value="09">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                            </select>
                            <select data-dojo-type="dijit/form/Select" name="rep_invreg_year" style="display:inline-block;width:74px">
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Дата</td>
                        <td>
                            <input data-dojo-type="dijit/form/TextBox" name="given" id="reg_given" data-dojo-props="required:true">
                        </td>
                    </tr>
                    <tr>
                        <td>№ Документа</td>
                        <td>
                            <input data-dojo-type="dijit/form/TextBox" name="doc_num" id="reg_doc_num" data-dojo-props="required:true">
                        </td>
                    </tr>
                    <tr>
                        <td>Предприятие</td>
                        <td>
                            <div data-dojo-type="dojox/data/QueryReadStore" data-dojo-id="companyStore" data-dojo-props="url:'./?mod=Companies&rq=companieslist'"></div>
                            <input data-dojo-type="dijit/form/FilteringSelect" name="pcomp_id" id="rep_pcomp_id" placeholder="Поиск компании..." accesskey="z" data-dojo-props="store:companyStore,hasDownArrow:false,selectOnClick:true, searchAttr:'label', required:false,autoComplete: false,pageSize: 20">
                        </td>
                    </tr>
                    <tr>
                        <td>Сумма с НДС</td>
                        <td>
                            <input data-dojo-type="dijit/form/TextBox" id="rep_invoice_total" name="total" onchange="this.set('value',this.value.replace(',','.'));" data-dojo-props="required:true">
                        </td>
                    </tr>
                    <tr>
                        <td>Пояснение</td>
                        <td>
                            <input data-dojo-type="dijit/form/TextBox" name="description">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <button data-dojo-type="dijit/form/Button" type="submit">
                                <img src="img/Save-24.png">Сохранить</button>
                            <button data-dojo-type="dijit/form/Button" onclick="AccountsJs.reports.sInvoiceDelete()">
                                <img src="img/delete.png">Удалить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</div>
