<script type="text/javascript">
/* global AccountsJs,baycik,Connector */

    AccountsJs.trans={};
    
        App.loadDojo().progress(function(status){
        if (status==='dojoloaded'){
    


            require([
                "dojo/dom",
                "dijit/registry",
                "dojo/on",
                "dojo/date/locale",
                "dojo/query",
                "dojo/parser",
                "dojo/ready",
                "baycik/grid/DataGrid",
                "dojo/domReady!"
            ],
            function(
                dom,
                registry,
                on,
                locale,
                query,
                parser,
                ready
            ){
                parser.parse('accounts_trans_divv');
                AccountsJs.trans.init=function(){
                    this.initGrid();
                    this.initCalendars();
                    this.getAccFavorites();
                };
                ready(function(){
                    AccountsJs.trans.init();
                });
                /////////////////
                //TRANS GRID
                ////////////////
                AccountsJs.trans.initGrid=function(){
                    AccountsJs.trans.ledger_grid=new baycik.grid.DataGrid( {}, 'account_ledger' );
                    with(AccountsJs.trans.ledger_grid){
                        addToRequest({table_name:'account_ledger'});
                        onStructure=function( request ){
                            request.mod='Data';
                            request.rq='GridStructure';
                            Connector.addRequest(request,this,'setStructure');
                        };
                        onRequest=function( request ){
                            request.mod='Accounts';
                            request.rq='AccountLedgerGrid';
                            if( request.idate && request.fdate && request.acc_code ){
                                Connector.addRequest(request,function(ledger){
                                    dom.byId('incoming_balance_div').innerHTML= (ledger.incoming_balance || '0.00')+AccountsJs.trans.accProps.curr_symbol;
                                    dom.byId('closing_balance_div').innerHTML= (ledger.closing_balance || '0.00')+AccountsJs.trans.accProps.curr_symbol;
                                    dom.byId('acc_trans_selected_name').innerHTML=ledger.acc_code+' '+ledger.label;
                                    AccountsJs.trans.ledgerCurrId=ledger.curr_id;
                                    AccountsJs.trans.selectedAccounts=ledger.acc_code;
                                    AccountsJs.trans.accType=ledger.acc_type;
                                    AccountsJs.trans.ledger_grid.setData(ledger.entries);
                                });
                            }
                        };
                        onPrint=function( request ){
                            request.rq='AccountLedgerGrid';
                            request.out_type='.print';
                            Acc.printOut( request );
                        };
                        onDownload=function( request ){
                            request.rq='AccountLedgerGrid';
                            request.out_type='.xls';
                            request.limit=0;
                            Connector.addRedirection(request);
                        };
                        onDblClick=function( data ){
                            if( data.rowData['editable']=='user' ){ //Trans can be edited
                                Connector.addRequest({mod:'Accounts',rq:'FetchTransData',trans_id:data.rowData['trans_id']},function(resp){
                                    try{
                                        var d=resp.cstamp.split(" ")[0].split("-");
                                        var date=new Date(d[0],d[1]-1,d[2]);
                                    }
                                    catch(e){/*IF trans is not already exists*/
                                        alert("Данные по этой проводке отсутствуют!");
                                        return;
                                    };
                                    resp.date=date;
                                    resp.amount=parseFloat(resp.amount);
                                    resp.selected_acc=AccountsJs.trans.selectedAccounts;
                                    resp.use_articles=AccountsJs.trans.useArticles;
                                    Acc.showPopup(resp,AccountsJs.trans.transEditCallback,{tpl:'trans_edit.html'});
                                });
                            }
                        };
                        calculateCell=function(cell){
                            var is_active=AccountsJs.trans.accType=='A';
                            var is_plus=cell.cellData>0;
                            if( cell.rowData['trans_id']==0 ){
                                cell.style.push('background-color:#d2dcff;color:#036;font-weight:bold;');
                                if( cell.cellData=='0.00' )
                                    cell.cellData='';
                            }
                            else if( cell.field=='debit'){
                                if( is_active?is_plus:!is_plus )
                                    cell.style.push('color:green;font-weight:bold');
                                else
                                    cell.style.push('color:red;font-weight:bold');
                            }
                            else if( cell.field=='credit'){
                                if( is_active?!is_plus:is_plus )
                                    cell.style.push('color:green;font-weight:bold');
                                else
                                    cell.style.push('color:red;font-weight:bold');
                            }
                            return cell;
                        };
                        onAction=function( data ){
                            if( data.action=='unpayed' || data.action=='partly' ){
                                var fvalue={payed_trans_id:data.rowData.trans_id};
                                fvalue.amount=data.rowData.debit||data.rowData.credit;
                                AccountsJs.trans.addTransaction(fvalue);
                            }
                        };
                    }
                    this.ledger_grid.onDelete=function(){
                        var selectedRows=this.getSelected();
                        if( selectedRows.length==1 && selectedRows[0] ){
                            var row=selectedRows[0];
                            if( row.editable=='gear' )
                                    return;
                            Connector.addRequest({mod:'Accounts',rq:'CancelTransaction',trans_id:row.trans_id});
                            AccountsJs.trans.ledger_grid.loadGrid();
                        }
                        else
                            alert("Выберите одну проводку для отмены!");
                    };
                    this.ledger_grid.loadByAccCode=function( acc_code ){
                            App.cookie('last_acc_code', acc_code );
                            AccountsJs.trans.getAccProps(acc_code);
                            AccountsJs.trans.ledger_grid.addToRequest({acc_code:acc_code});
                            if( !AccountsJs.trans.ledger_grid.started ){
                                AccountsJs.trans.ledger_grid.startup();
                                AccountsJs.trans.ledger_grid.started=true;
                                dom.byId('accounts_content_pane').style.display='block';
                                dom.byId('acc_month_box').style.display='table-cell';
                            }
                            else
                                AccountsJs.trans.ledger_grid.loadGrid();
                            AccountsJs.trans.loadTransNames( acc_code );
                    };
                    this.ledger_grid.addTrans=function(){
                        AccountsJs.trans.addTransaction();
                    };
                    this.ledger_grid.startup();
                };
                AccountsJs.trans.addTransaction=function( fvalue ){
                    var fvalue=fvalue||{};
                    fvalue.trans_id=0;
                    fvalue.date=new Date();
                    fvalue.selected_acc=AccountsJs.trans.selectedAccounts;
                    fvalue.use_articles=AccountsJs.trans.useArticles;

                    if( AccountsJs.trans.ledgerCurrId==2 /*IF currency is dollar*/ ){
                        Connector.addRequest({mod:'Pref',rq:'Details'},function(resp){
                                fvalue.dollar_ratio=resp.dollar_ratio;
                                Acc.showPopup(fvalue,AccountsJs.trans.transEditCallback,{tpl:'trans_edit.html'});
                        });
                    }
                    else
                        Acc.showPopup(fvalue,AccountsJs.trans.transEditCallback,{tpl:'trans_edit.html'});		
                };
                AccountsJs.trans.transEditCallback=function( request ){
                    request.mod="Accounts";
                    request.rq=request.cancel==1?'CancelTransaction':'UpdateTransaction';
                    var now=new Date();
                    request.date=locale.format(request.date,{selector:"date",datePattern:"yyyy-MM-dd" })+" "+now.getHours()+":"+now.getMinutes()+":"+now.getSeconds();
                    Connector.addRequest(request,function(){
                        AccountsJs.trans.ledger_grid.loadGrid();
                    });
                };
                /////////////////
                //CALENDAR SCALE
                ////////////////
                AccountsJs.trans.initCalendars=function(){
                    on(registry.byId('accounts_idate'),'change',AccountsJs.trans.onPeriodChange);
                    on(registry.byId('accounts_fdate'),'change',AccountsJs.trans.onPeriodChange);
                    on(document,"#acc_month_box>div:click",function(e){
                        var month_num=e.target.id.split('_')[2];
                        AccountsJs.trans.clickMonth( month_num );
                    });

                    var month_num=(new Date()).getMonth()+1;
                    AccountsJs.trans.monthLastSelected=month_num-1;
                    AccountsJs.trans.clickMonth(month_num);
                };
                AccountsJs.trans.onPeriodChange=function(){
                    try{
                        var isoidate=locale.format(registry.byId('accounts_idate').get('value'),{selector:"date", datePattern:"yyyy-MM-dd" });		
                        var isofdate=locale.format(registry.byId('accounts_fdate').get('value'),{selector:"date", datePattern:"yyyy-MM-dd" });
                        if( AccountsJs.trans.lastIsoIdate===isoidate && AccountsJs.trans.lastIsoFdate==isofdate )
                                return;
                        AccountsJs.trans.lastIsoIdate=isoidate;
                        AccountsJs.trans.lastIsoFdate=isofdate;
                    }
                    catch(e){
                        return false;
                    }
                    AccountsJs.trans.ledger_grid.addToRequest({idate:isoidate,fdate:isofdate});
                    AccountsJs.trans.ledger_grid.loadGrid();
                    query("#acc_month_box>div").style("backgroundColor","");
                };
                AccountsJs.trans.clickMonth=function( month_num ){
                    var start_month= Math.min(month_num,AccountsJs.trans.monthLastSelected);
                    var finish_month=Math.max(month_num,AccountsJs.trans.monthLastSelected);
                    AccountsJs.trans.selectMonth( start_month, finish_month  );
                    AccountsJs.trans.monthLastSelected=month_num;
                };
                AccountsJs.trans.selectMonth=function( start_month, finish_month ){
                    var now=new Date();
                    registry.byId('accounts_idate').set('value',new Date(now.getFullYear(),start_month-1,1),false);
                    registry.byId('accounts_fdate').set('value',new Date(now.getFullYear(),finish_month,0),false);
                    setTimeout(function(){
                        query("#acc_month_box>div").forEach(function(node,index,array){
                            var m=node.id.split('_')[2]*1;
                            if( start_month<=m && finish_month>=m )
                                node.style.backgroundColor='#f0f';
                            if( AccountsJs.trans.monthLastSelected===m )
                                node.style.backgroundColor='#0f0';
                        });
                    } , 0);
                };
                /////////////////
                //TRANS NAMES
                ////////////////
                AccountsJs.trans.loadTransNames=function( acc_code ){
                    Connector.addRequest({mod:'Accounts',rq:'TransNameList',selected_acc:acc_code},function(resp){
                            Acc.renderTpl('acc_sugg_trans_container',resp);
                    });
                };
                AccountsJs.trans.updateTransName=function( trans_type,trans_name,user_level ){
                    var fvalue={trans_type:trans_type,trans_name:trans_name,user_level:user_level};
                    Acc.showPopup(fvalue,function(fvalue){
                        var request=fvalue;
                        request.mod='Accounts';
                        request.rq='TransNameUpdate';
                        Connector.addRequest(request,function(){
                                AccountsJs.trans.loadTransNames(AccountsJs.trans.selectedAccounts);
                        });
                    }, {tpl:'trans_name_edit.html'}, {w: 460, h: 200});
                };
                AccountsJs.trans.addTransName=function(){
                    if( !AccountsJs.trans.selectedAccounts )
                            return;
                    var acc_code=AccountsJs.trans.selectedAccounts.split(',')[0];
                    AccountsJs.trans.updateTransName( acc_code+'_'+acc_code,'',2 );
                };
                AccountsJs.trans.showPencilTransName=function(){
                    query("#acc_sugg_trans_container img").style("display","");
                };











                AccountsJs.trans.getAccFavorites=function(){
                    Connector.addRequest({mod:'Accounts',rq:'FavoriteFetch'},function(resp){
                        Acc.renderTpl('acc_favorite_list',{items:resp});
                        AccountsJs.trans.ledger_grid.loadByAccCode(App.cookie('last_acc_code'));
                    });
                };
                AccountsJs.trans.getAccProps=function( acc_code ){
                    Connector.addRequest({mod:'Accounts',rq:'getAccountProperties',acc_code:acc_code},function(resp){
                        AccountsJs.trans.accProps=resp;
                    });
                };
            });
        }
    });
</script>
<div style="" id="accounts_trans_divv">
    <div style="display: table-cell;width: 215px;text-align: left;">
	<div id="acc_favorite_list" class="hidden">
	    Избранные счета
	    <!--{%for item in items%}-->
	    <div class="light_grad" style="margin:3px;padding:3px;cursor:pointer;width:200px;display: inline-block" onclick="AccountsJs.trans.ledger_grid.loadByAccCode('{{item.acc_code}}');">
	    <img src="img/star.png" align="absmiddle">{{item.acc_code}} {{item.label}} 
	    </div>
	    <!--{%endfor%}-->
	</div>
	<div id="acc_sugg_trans_container"  style="vertical-align:top;min-height: 200px;">
		Проводки по счету
		<!--{%for item in items%}-->
		<div class="light_grad" style="margin:3px;padding:3px;cursor:pointer;width:200px;"
		    onclick="AccountsJs.trans.addTransaction({trans_type:' {{item.trans_type}} ',description:' {{item.trans_name}} ',passive_company_id:1})">
		<img src="img/edit_add.png" align="absmiddle"> {{item.trans_name}} 
		<img src="img/Edit-24.png" style="display:none;" align="absmiddle" 
		    onclick="AccountsJs.trans.updateTransName(' {{item.trans_type}} ',' {{item.trans_name}} ',' {{item.user_level}} ');event.stopPropagation()">
		</div>
		<!--{%endfor%}-->
	    <a href="javascript:AccountsJs.trans.addTransName()" title="Добавить"><img src="img/edit_add.png"></a>
	    <a href="javascript:AccountsJs.trans.showPencilTransName()" title="Редактировать"><img src="img/Edit-24.png"></a>
	</div>
    </div>

    <div id="acc_container">
        <div id="accounts_content_pane" style="display:none;padding:0px 2px 0px 0px;">
            <div style="min-height:50px;">
                <div style="display: inline-block;float:right;">
                    <div class="button grn_grad" style="min-width:100px;display: inline-block;" title="Входящее сальдо">
                        <input data-dojo-type="dijit/form/DateTextBox" data-dojo-props="intermediateChanges: true" type="text" name="accounts_idate" id="accounts_idate" style="width:7em;font:12px normal;">
                        <div id="incoming_balance_div" style="color: #ffffff;white-space: nowrap"></div>
                    </div>
                    <img src="img/big_rightarrow.png" style="vertical-align: text-bottom;" />
                    <div class="button blue_grad" style="min-width:100px;display: inline-block;" title="Исходящее сальдо">
                        <input data-dojo-type="dijit/form/DateTextBox" data-dojo-props="intermediateChanges: true" type="text" name="accounts_fdate" id="accounts_fdate" style="width:7em;font:12px normal;">
                        <div id="closing_balance_div" style="color: #ffffff;white-space: nowrap"></div>
                    </div>
                </div>
                <div id="acc_trans_selected_name" style="color:green;font-size: 2em;"></div>
          </div>
            <div id="account_ledger"></div>
        </div>
    </div>
    <div style="display: none;vertical-align:top;" class="month_box" id="acc_month_box">
        <div class="trigger month" id="acc_month_1">Январь</div>
        <div class="trigger month" id="acc_month_2">Февраль</div>
        <div class="trigger month" id="acc_month_3">Март</div>
        <div class="trigger month" id="acc_month_4">Апрель</div>
        <div class="trigger month" id="acc_month_5">Май</div>
        <div class="trigger month" id="acc_month_6">Июнь</div>
        <div class="trigger month" id="acc_month_7">Июль</div>
        <div class="trigger month" id="acc_month_8">Август</div>
        <div class="trigger month" id="acc_month_9">Сентябрь</div>
        <div class="trigger month" id="acc_month_10">Октябрь</div>
        <div class="trigger month" id="acc_month_11">Ноябрь</div>
        <div class="trigger month" id="acc_month_12">Декабрь</div>
    </div>

</div>
<style type="text/css">
	#acc_container{
		padding:0px 1px 0px 1px;
		display: table-cell;
		vertical-align:top;
	}
	#acc_sugg_trans_container a{
		-display:none;
	}
	#acc_sugg_trans_container:hover a{
		-display:inline;
		-float:right;
	}
	.month{
		background-color:#ddf;
		min-width: 40px;
		font-weight: bold;
		text-align: center;
		color: #333;
	}
	.month:hover{
		background-color: #f9f;
	}
	.month_box {
            text-align:justify;
            display: table-cell;
            vertical-align:top;
            padding:3px;
            width:70px;
        }
	.month_box:after { content:' '; display:inline-block; width: 100%; height: 0px }
	.month_box > div {display:block;margin:1px}
</style>