<script>
    App.page_pref_preferences = {
	init: function () {
	    //this.initDetails();
	    this.initPrefs();
	    this.initFormOnce();
	    App.handler.progress(function (status, data) {
		if (status === "activeCompanySelected") {
		    App.page_pref_preferences.initPrefs();
		}
	    });

	},
	initPrefs: function () {
	    App.get("Pref/getPrefs/", function (text) {
		App.page_pref_preferences.prefData = App.json(text);
		App.setupForm('#AcompPrefs', App.page_pref_preferences.prefData);
	    });
	},
	initFormOnce: function () {
	    if (this.formInited) {
		return;
	    }
	    this.formInited = true;
	    App.formElements("#AcompPrefs").change(function () {
		var node = this;
		App.page_pref_preferences.updateField(node.name, App.val(node), node.title);
	    });
	},
	initClientbankFields: function () {

	},
	updateField: function (field, value, title) {
	    App.post('Pref/setPrefs/' + App.uri(field, value), function (ok) {
		if (ok * 1) {
		    App.page_pref_preferences.prefData[field] = value;
		    App.flash("Сохранено: " + title);
		} else {
		    App.flash("Сохраненние не удалось: " + title);
		}
	    });
	}
    };
</script>
<form id="AcompPrefs">
    <table>
	<tr>
	    <td style="vertical-align: top;width:340px;">
		<input name="usd_ratio" title="Курс доллара">
		<input name="default_debt_limit" title="Лимит долга по умолчанию">
		<div class="inp_rule">При добавлении в документ дублирующей строки</div>
		<input type="checkbox" name="add_duplicate_rows" title="Прибавлять к количество">
		<div class="inp_rule">Аналитика по классам ABC в закуп. документах</div>
		<input type="checkbox" name="use_class_analytics_in_buy_doc" title="Использовать аналитику">
	    </td>
	    <td style="vertical-align: top;width:340px;">
		<div class="easyui-panel" title="Подписи в документах" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
		    <input name="director_name" title="Руководитель ФИО">
		    <input name="director_tin" title="Руководитель ИНН">
		    <input name="accountant_name" title="Бухгалтер ФИО">
		    <input name="accountant_tin" title="Бухгалтер ИНН">
		    <input name="digital_signature" type="hidden" title="Цифровая подпись">	    
		</div>
		<div class="easyui-panel" title="Настройки бланков" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
		    <input type="checkbox" title="Округлять до цены с НДС в накладных" name="use_total_as_base">
		    <select name="blank_set" title="Комплект бланков">
			<option value="ua">Україна</option>
			<option value="ru">Россия</option>
		    </select>
		</div>
		<div class="easyui-panel" title="Настройки Емаил SMTP" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
		    <input name="SMTP_SERVER" title="SMTP Сервер">
		    <input name="SMTP_USER" title="Пользователь">
		    <input name="SMTP_PASS" title="Пароль">
		    <select name="SMTP_CRYPTO" title="Шифрование">
			<option value="ssl">SSL</option>
			<option value="tls">TLS</option>
			<option value="">нет</option>
		    </select>
		    <input name="SMTP_PORT" title="Порт">
		    <input name="SMTP_SENDER_MAIL" title="Емаил отправителя">
		    <input name="SMTP_SENDER_NAME" title="Имя отправителя">
		    <input type="checkbox" title="Дублировать на Емаил отправителя" name="SMTP_SEND_COPY">
		</div>
		<div class="easyui-panel" title="Настройки ДевиноСМС" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
		    <input name="SMS_SENDER" title="Отправитель">
		    <input name="SMS_USER" title="Пользователь">
		    <input name="SMS_PASS" title="Пароль">
		</div>
		<div class="easyui-panel" title="Настройки FTP" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
		    <input name="FTP_SERVER" title="Сервер">
		    <input name="FTP_USER" title="Пользователь">
		    <input name="FTP_PASS" title="Пароль">
		</div>
		<div class="easyui-panel" title="Настройки клиент-банка" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
		    <input type="checkbox" title="Идентификатор в платежных поручениях ИНН" name="tax_id_in_checks"> <br>
		    <textarea title="Порядок полей в файле .csv клиент банка" name="clientbank_fields" style="height: 200px"></textarea>
		</div>
		<div class="easyui-panel" title="Резервирование товара" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
                    <h2>Длительность резерва в днях</h2>
                    <input name="reserved_limit" title="Резерв" value="3" pattern="\d+">
                    <input name="awaiting_limit" title="Ожидание" value="14" pattern="\d+">
		</div>
	    </td>
	</tr>
    </table>
</form>	