<script>
    App.page_pref_preferences = {
	init: function () {
	    //this.initDetails();
	    this.initPrefs();
	    this.initFormOnce();
	    App.handler.progress(function (status, data) {
		if (status === "activeCompanySelected") {
		    App.page_pref_preferences.initPrefs();
		}
	    });

	},
	initPrefs: function () {
	    App.get("Pref/getPrefs/", function (text) {
		App.page_pref_preferences.prefData = App.json(text);
		App.setupForm('#AcompPrefs', App.page_pref_preferences.prefData);
                App.page_pref_preferences.counters.init();
	    });
	},
	initFormOnce: function () {
	    if (this.formInited) {
		return;
	    }
	    this.formInited = true;
	    App.formElements("#AcompPrefs").change(function () {
		var node = this;
		App.page_pref_preferences.updateField(node.name, App.val(node), node.title);
	    });
	},
	initClientbankFields: function () {

	},
	updateField: function (field, value, title) {
	    App.post('Pref/setPrefs/' + App.uri(field, value), function (ok) {
		if (ok * 1) {
		    App.page_pref_preferences.prefData[field] = value;
		    App.flash("Сохранено: " + title);
		} else {
		    App.flash("Сохраненние не удалось: " + title);
		}
	    });
	},
        counters:{
            init:function(){
                $.get("Pref/prefListGet",{pref_name_query:'counter%'},function(resp){
                    var counters=App.json(resp);
                    for(let i in counters){
                        counters[i].data=App.json(counters[i].pref_value);
                    }
                    App.renderTpl('pref_counters',counters);
                });
                
                $("#pref_counters").change(function(e){
                    let $input= $(e.target);
                    let pref_field=$input.data('field');
                    let pref_name=$input.attr('name');
                    let pref_title=$input.attr('title');
                    let pref_value=$input.val();
                    let request={
                        counter_name:pref_name,
                        counter_acomp_id:App.acomp.company_id,
                        counter_data:{}
                    };
                    
                    if( pref_field==='counterPrefix' ){
                        request.counter_data=JSON.stringify({counter_prefix:pref_value});
                    }
                    if( pref_field==='counterInt' ){
                        request.counter_int=pref_value;
                    }
                    $.post("Pref/counterUpdate",request,function(ok){
                        if( ok*1 ){
                            App.flash("Нумератор сохранен: "+pref_title);
                        } else {
                            App.flash("Не сохранен нумератор: "+pref_title);
                        }
                    });
                });
                $("#pref_counters").click(function(e){
                    let $node= $(e.target);
                    let pref_name=$node.data('pref_name');
                    let pref_title=$node.attr('title');
                    if( !pref_name || !confirm("Удалить нумератор "+pref_title+"?") ){
                        return;
                    }
                    let request={
                        counter_name:pref_name,
                        counter_acomp_id:App.acomp.company_id
                    };
                    $.post("Pref/counterDelete",request,function(ok){
                        if( ok*1 ){
                            App.flash("Нумератор удален: "+pref_title);
                            App.page_pref_preferences.counters.init();
                        } else {
                            App.flash("Не удален нумератор: "+pref_title);
                        }
                    })
                })
            }
            
        }
    };
</script>
<form id="AcompPrefs">
    <table>
	<tr>
	    <td style="vertical-align: top;width:340px;">
		<input name="usd_ratio" title="Курс доллара">
		<input name="default_debt_limit" title="Лимит долга по умолчанию">
		<div class="inp_rule">При добавлении в документ дублирующей строки</div>
		<input type="checkbox" name="add_duplicate_rows" title="Прибавлять к количество">
		<div class="inp_rule">Аналитика по классам ABC в закуп. документах</div>
		<input type="checkbox" name="use_class_analytics_in_buy_doc" title="Использовать аналитику">
	    </td>
	    <td style="vertical-align: top;width:340px;">
		<div class="easyui-panel" title="Подписи в документах" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
		    <input name="director_name" title="Руководитель ФИО">
		    <input name="director_tin" title="Руководитель ИНН">
		    <input name="accountant_name" title="Бухгалтер ФИО">
		    <input name="accountant_tin" title="Бухгалтер ИНН">
		    <input name="digital_signature" type="hidden" title="Цифровая подпись">	    
		</div>
		<div class="easyui-panel" title="Настройки бланков" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
		    <input type="checkbox" title="Округлять до цены с НДС в накладных" name="use_total_as_base">
		    <select name="blank_set" title="Комплект бланков">
			<option value="ua">Україна</option>
			<option value="ru">Россия</option>
		    </select>
                </div>
                <div class="easyui-panel" title="Нумерация документов" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
                    <input name="document_number_1" title="Расходный документ">
                    <input name="document_number_-1" title="Возврат от клиента">
                    <input name="document_number_2" title="Приходный документ">
                    <input name="document_number_-2" title="Возврат поставщику">
                    <input name="document_number_3" title="Акт выполненных работ">
                    <input name="document_number_4" title="Акт полученых услуг">
		</div>
                
                <div class="easyui-panel" title="Настройки нумерации" data-options="collapsible:true,collapsed:false" style="width:340px;float:left;padding: 10px">
                    <div id="pref_counters" style="display:grid;grid-template-columns:30px 50% auto auto;gap:5px;" class="covert">
                    {{if .}}
                        <div></div><div></div><div>Префикс</div><div>Значение</div>
                    {{.}}
                        <div><img src="img/delete.png" style="width:16px;height: auto;cursor: pointer" data-pref_name="{{pref_name}}" title="{{data.counter_title}}"></div>
                        <div>{{data.counter_title}}</div>
                        <div><input type="text" title="{{data.counter_title}}" data-skip="1" data-field="counterPrefix" value="{{data.counter_prefix|blank>}}" name="{{pref_name}}" style="width:100%"></div>
                        <div><input type="text" title="{{data.counter_title}}" data-skip="1" data-field="counterInt" value="{{pref_int}}" name="{{pref_name}}" style="width:100%"></div>
                    {{/.}}
                    {{/if}}
                    </div>
		</div>                
                
                
		<div class="easyui-panel" title="Настройки Емаил SMTP" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
		    <input name="SMTP_SERVER" title="SMTP Сервер">
		    <input name="SMTP_USER" title="Пользователь">
		    <input name="SMTP_PASS" title="Пароль">
		    <select name="SMTP_CRYPTO" title="Шифрование">
			<option value="ssl">SSL</option>
			<option value="tls">TLS</option>
			<option value="">нет</option>
		    </select>
		    <input name="SMTP_PORT" title="Порт">
		    <input name="SMTP_SENDER_MAIL" title="Емаил отправителя">
		    <input name="SMTP_SENDER_NAME" title="Имя отправителя">
		    <input type="checkbox" title="Дублировать на Емаил отправителя" name="SMTP_SEND_COPY">
		</div>
		<div class="easyui-panel" title="Настройки ДевиноСМС" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
		    <input name="SMS_SENDER" title="Отправитель">
		    <input name="SMS_USER" title="Пользователь">
		    <input name="SMS_PASS" title="Пароль">
		</div>
		<div class="easyui-panel" title="Настройки FTP" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
		    <input name="FTP_SERVER" title="Сервер">
		    <input name="FTP_USER" title="Пользователь">
		    <input name="FTP_PASS" title="Пароль">
		</div>
		<div class="easyui-panel" title="Настройки клиент-банка" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
		    <input type="checkbox" title="Идентификатор в платежных поручениях ИНН" name="tax_id_in_checks"> <br>
		    <textarea title="Порядок полей в файле .csv клиент банка" name="clientbank_fields" style="height: 200px"></textarea>
		</div>
		<div class="easyui-panel" title="Резервирование товара" data-options="collapsible:true,collapsed:true" style="width:340px;float:left">
                    <input type="checkbox" title="Резервирование активно" name="reserveSystemActivated" onclick="$.get('Stock/reserveSystemStatusChange',{active:$(this).prop('checked')?1:0})"> <br>
                    <h2>Длительность резерва в днях</h2>
                    <input name="reserved_limit" title="Резерв" value="3" pattern="\d+">
                    <input name="awaiting_limit" title="Ожидание" value="14" pattern="\d+">
		</div>
	    </td>
	</tr>
    </table>
</form>	